<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" class="m-5" (submit)="create()">
  <!-- Classe -->
  <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
    <div class="col-12">
      <!-- Label -->
      <label class="control-label" for="classe">
        {{ 'CLASSE' | translate }}

        <!-- loading -->
        <i class="fad fa-circle-notch fa-spin" *ngIf="dependanciesLoading.classe"></i>
      </label>

      <angular2-multiselect [data]="dependancies.classes" [settings]="dropdownSettingsAlt.single"
          formControlName="classe"
          [ngClass]="{'is-invalid': shouldShowRequiredError('classe'), 'is-valid': isValid('classe')}"
          class="form-control p-0 form-control-sm">
      </angular2-multiselect>

      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('classe')" class="invalid-feedback">
        {{ 'veuillezChoisirUneClasse' | translate }}.
      </div>
    </div>
  </div>


  <!-- Eleves -->
  <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
    <div class="col-12">
      <!-- Label -->
      <label class="control-label" for="eleves">
        {{ 'ETUDIANTS' | translate }}

        <!-- loading -->
        <i class="fad fa-circle-notch fa-spin" *ngIf="dependanciesLoading.users"></i>
      </label>

      <angular2-multiselect [data]="dependancies.users" [settings]="dropdownSettingsAlt.users" formControlName="eleves"
          [ngClass]="{'is-invalid': shouldShowRequiredError('eleves'), 'is-valid': isValid('eleves')}"
          class="form-control p-0 form-control-sm">
        <c-badge>
          <ng-template let-item="item">
            {{item.nom_complet}}
          </ng-template>
        </c-badge>
        <c-item>
          <ng-template let-item="item">
            <label style="color: #333;min-width: 150px;">{{item.nom_complet}}</label>
            <img [src]="item?.photo_min?.path" class="float-right rounded-circle border border-warning"
                style="width: 30px;margin-right: 20px;" />
          </ng-template>
        </c-item>
      </angular2-multiselect>

      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('eleves')" class="invalid-feedback">
        {{ 'veuillezChoisirAuMoinsUnEtudiant' | translate }}.
      </div>
    </div>
  </div>

  <!-- Boutton validation -->
  <div class="d-flex justify-content-center">
    <div class="col-12 text-right">
      <!-- Boutton sumit -->
      <button class="btn btn-sm btn-primary mr-1" type="submit" [disabled]="form.invalid">
        <i class="fad fa-circle-notch fa-spin" *ngIf="loading"></i>
        {{ 'VALIDER' | translate }}
      </button>
    </div>
  </div>
</form>
