<div class="row row-xs clearfix pt-4 bd-b pb-2 mg-0 pd-0  ">

  <div class="col">
    <div class="image text-center"> <img class="rounded-circle ml--10"
           src="assets/images/xs/avatar4.jpg"
           alt="avatar"
           width="100"> </div>
    <h6 class="text-center tx-ether pt-2"> Son Excellence Monsieur le Ministre
      des Affaires Etrangères</h6>
    <h6 class="text-center tx-ether pt-2"> Jean - Claude GAKOSSO</h6>
    <p class="text-center">
      <span class=""> Brazzaville</span>
      <span class=""> || </span>
      <span class="tx-bold"> Congo </span>
    </p>
  </div>
</div>

<div class="row row-xs clearfix pt-2 bd-b pb-4 mg-0 pd-0 ">
  <div class="pl-2 ">
    <h6 class="pt-2 pb-2"> Les membres du cabinet</h6>
  </div>
  <div class="col-lg-12  pb-1 pt-1">

    <div class="d-flex flex-row justify-item-center ">
      <div class="profiles">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar7.jpg"
             alt="avatar"
             width="30">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar6.jpg"
             alt="avatar"
             width="30">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar5.jpg"
             alt="avatar"
             width="30">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar4.jpg"
             alt="avatar"
             width="30">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar3.jpg"
             alt="avatar"
             width="30">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar9.jpg"
             alt="avatar"
             width="30">
        <img class="rounded-circle ml--10"
             src="assets/images/xs/avatar2.jpg"
             alt="avatar"
             width="30">
      </div>
      <div class="avatar mg-l-10 "><span class="avatar-initial rounded-circle bg-yeto2  ">5</span>
      </div>
    </div>
  </div>
</div>
