<div class="groupe-list-container ">
  <div class="row row-xs mg-0 pd-0 groupe-list clearfix scale-in-top" *ngIf="!loading && correctionService.data.length">
    <div class="p-2" [ngClass]="{'col-4': !minified, 'col-6': minified}"
        *ngFor="let correction of correctionService.data | paginate: {itemsPerPage: 9, currentPage: currentPage, id: 'correction'}">
      <div class="card bg-white p-2 rounded px-3">
        <!-- Libelle -->
        <div class="mg-t-2 bd-b d-flex justify-content-between p-3 pb-2">
          <a [routerLink]="['../', 'correction', correction.id]" class="tx-success">
            <i class="fad fa-file-certificate"></i>
            {{ correction.libelle }}
          </a>
        </div>



        <div class="d-flex justify-content-between mg-t-4 ">
          <div class="d-flex flex-row align-items-center">
            <div class="profiles">
              <a [routerLink]="['../', 'correction', correction.id]">
                <i class="fal fa-tasks-alt mr- tx-warning bg-white tx-light " style="padding:6px; border-radius:50%"></i>
                <span class="tx-11 flaot-right tx-warning">{{ correction.tache_details.libelle }}</span>
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 p-0" *ngIf="!loading && correctionService.data">
    <!-- Pagination -->
    <div class="col-12 mt-1 d-flex justify-content-center">
      <pagination-controls id="correction" (pageChange)="currentPage = $event" autoHide="true" previousLabel="{{ 'PRECEDENT' | translate }}"
          nextLabel="{{ 'SUIVANT' | translate }}">
      </pagination-controls>
    </div>
  </div>

  <div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <app-missing-data *ngIf="!loading && !correctionService.data.length"></app-missing-data>
</div>
