<!-- Liste des membreships -->
<div class="row row-xs w-100 mx-0">
  <ng-container *ngIf="membreGroupeService.data.length && !loading">
    <div class="table-responsive" *ngIf="!loading && membreGroupeService.data.length">
      <table class="table table-hover mg-0 bd-b">
        <tbody>
          <app-membre-groupe-solo style="display: table; width: 100%;" [membership]="membreship" [index]="i"
              *ngFor="let membreship of membreGroupeService.data; let i = index">
          </app-membre-groupe-solo>
        </tbody>
      </table>
    </div>
  </ng-container>

  <!-- Loading -->
  <div class="my-5 col-12" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <!-- No Data handling -->
  <app-missing-data class="col-12" *ngIf="!membreGroupeService.data.length && !loading"></app-missing-data>
</div>
