<!-- Header -->
<div class="card pd-y-10 pd-x-10 mg-b-10" *ngIf="parentComponents.professeur || parentComponents.horsEtablissement || parentComponents.etablissement">
    <h3 class="tx- tx-16 tx-primary italic mg-l-0 bold">
        <i class="fad fa-users-class mr-2"></i>
        <!-- <span *ngIf="parentComponents.classe">{{ ('elevesDeLaClasse' | translate) + ': ' + classe.libelle }}</span> -->
        <span *ngIf="parentComponents.professeur">{{ 'listeDeVosEtudiants' | translate }}</span>
        <span *ngIf="parentComponents.etablissement || parentComponents.horsEtablissement">{{ 'listeDesEtudiants' |
            translate }}</span>

        <!-- Boutton ajouter -->
        <!-- <i class="fad fa-plus-circle clickable tx-14 float-right tx-primary bg-light "
            style="padding:6px; border-radius:50%"
            (click)="showGroupeCreateComponent()"
            [ngbTooltip]="'creerUnGroupe' | translate">
        </i> -->
    </h3>
</div>

<app-eleve-list *ngIf="parentComponents.classe"></app-eleve-list>
<app-eleve-list-by-etablissement *ngIf="parentComponents.etablissement"></app-eleve-list-by-etablissement>
<app-eleve-list-hors-etablissement *ngIf="parentComponents.horsEtablissement"></app-eleve-list-hors-etablissement>
<app-eleve-list-by-professeur *ngIf="parentComponents.professeur"></app-eleve-list-by-professeur>