<div class=" flex-1 m-2 " *ngIf="single && !loading">
  <!-- header -->
  <!-- libelle -->
  <h3 class="mt-4 text-center">
    <i class="fad fa-chalkboard-teacher"></i> {{single.libelle}}
  </h3>


  <!-- Contenu -->
  <div class="card-body  scrollable   scroll-11">
    <!-- Autres informations -->
    <div class="row m-0 py-3">
      <div class="col-12 d-flex justify-content-between">
        <div class="flex-1 mx-1 text-center">
          <h6>Temporalite</h6>
          <span class="badge  card-2 badge-pill  badge-info tx-16"><i class="fad fa-calendar-alt"></i>
            {{single.temporalite_cours | titlecase}}</span>
        </div>
        <div class="flex-1 mx-1 text-center">
          <h6>Programme semaine</h6>
          <span class="badge  card-2 badge-pill  badge-info tx-16"><i class="fad fa-calendar-alt"></i>
            {{single.programme_semaine | titlecase}}</span>
        </div>
        <div class="flex-1 mx-1 text-center">
          <h6>Organisation</h6>
          <span class="badge  card-2 badge-pill  badge-info tx-16"><i class="fad fa-calendar-alt"></i>
            {{single.organisation_cours | titlecase}}</span>
        </div>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs border-top sticky-top  nav-fill" [destroyOnHide]="false">

      <li [ngbNavItem]="1">
        <a ngbNavLink class="tx-16">Description</a>
        <ng-template ngbNavContent>
          <div class="p-3 bg-white">
            <p class="remove-all-styles" [innerHtml]="single.description">
            </p>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink class="tx-16">Programme</a>
        <ng-template ngbNavContent>
          <div class="table-responsive-lg">

            <table class="table table-hover bg-white table-sm my-0">
              <tbody>
                <tr>
                  <td class="bg-light">
                    <a class="tx-facebook bold tx-12"> Programme</a>
                  </td>
                  <td class="col">
                    {{single.programme.libelle | titlecase}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-light">
                    <a class="tx-facebook bold tx-12"> Type</a>
                  </td>
                  <td class="col">
                    {{single.programme.type.libelle | titlecase}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-light">
                    <a class="tx-facebook bold tx-12"> Langue</a>
                  </td>
                  <td class="col">
                    {{single.programme.langue.libelle | titlecase}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-light">
                    <a class="tx-facebook bold tx-12"> Domaine</a>
                  </td>
                  <td class="col">
                    {{single.programme.domaine.libelle | titlecase}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-light">
                    <a class="tx-facebook bold tx-12"> Niveau</a>
                  </td>
                  <td class="col">
                    {{single.programme.niveau.libelle | titlecase}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-light align-top">
                    <a class="tx-facebook bold tx-12 "> Contenu</a>
                  </td>
                  <td style="white-space: unset;">
                    <p class="remove-all-styles" [innerHtml]="single.programme?.description">
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="tx-16">Objectifs</a>
        <ng-template ngbNavContent>
          <div class="p-3 bg-white">
            <p class="remove-all-styles" [innerHtml]="single.objectifs">
            </p>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink class="tx-16">Conditions de participation</a>
        <ng-template ngbNavContent>
          <div class="p-3 bg-white">
            <p class="remove-all-styles" [innerHtml]="single.condition_participation">
            </p>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

  </div>
</div>


<div class="my-5" *ngIf="loading">
  <app-loading></app-loading>
</div>

<app-missing-data *ngIf="!single && !loading"></app-missing-data>
