<div class="bg-gray h-100" id="chatPeopleList">
    <!-- Tab list -->
    <div class=" bg-light  border-0 ">
        <ul class="nav  mg-t-5  nav-fill">
            <!-- Mes groupes -->
            <li class="nav-item">
                <a class="nav-link clickable" (click)="activateComponent('groupe')" [ngClass]="{'font-weight-bold': activeComponent.groupe}">
                    <i class="fad fa-users bg-white tx-primary" style="padding:6px; border-radius:50%">
                    </i>
                </a>
            </li>


            <!-- Ma classe -->
            <li class="nav-item">
                <a class="nav-link clickable" (click)="activateComponent('classe')" [ngClass]="{'font-weight-bold': activeComponent.classe}">
                    <i class="fad fa-user-graduate bg-white tx-primary " style="padding:6px; border-radius:50%">
                    </i>
                </a>
            </li>

            <!-- mes professeurs -->
            <li class="nav-item">
                <a class="nav-link clickable" (click)="activateComponent('professeur')" [ngClass]="{'font-weight-bold': activeComponent.professeur}">
                    <i class="fad fa-user-tie bg-white tx-primary" style="padding:6px; border-radius:50%">
                    </i>
                </a>
            </li>

            <!-- Mon reseaux -->
            <li class="nav-item">
                <a class="nav-link clickable" (click)="activateComponent('sousReseaux')"
                    [ngClass]="{'font-weight-bold': activeComponent.sousReseaux}">
                    <i class="fad fa-network-wired bg-white tx-primary" style="padding:6px; border-radius:50%">
                    </i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Tab content -->
    <div>
        <div class="tab-content">
            <app-groupe-list-min *ngIf="activeComponent.groupe" [styleLight]="false"></app-groupe-list-min>
            <app-classe-eleve-list-min *ngIf="activeComponent.classe" [styleLight]="false"></app-classe-eleve-list-min>
            <app-professeur-list-min *ngIf="activeComponent.professeur"></app-professeur-list-min>
            <app-sous-reseaux-list-min *ngIf="activeComponent.sousReseaux"></app-sous-reseaux-list-min>
        </div>
    </div>
</div>
