<!-- Title -->
<div class="pl-2 pt-2">
  <h5 class="pt-2 pb-2">
    <i class="fad fa-circle  tx-20"></i>
    {{ 'listeDesDomaines' | translate }}
  </h5>
</div>


<!-- header -->
<app-main-header [id]="'domaine'"
                 [hasFilter]="false">
</app-main-header>


<app-domaine-list></app-domaine-list>




<app-modal [configuration]="{ name: 'domaine-create-modal', titre: 'ajouterUnDomaine', icone: 'stamp' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-common-create *ngIf="create"
                     [configuration]="{ endpoint: 'domaines', name: 'domaine', hasDescription: true, submitButtonClass: 'btn-primary' }"
                     [extraFields]="{ ministere: ministere?.id, ambassade: ambassade?.id }"
                     (itemCreated)="onDomaineCreated($event.item)">
  </app-common-create>
</app-modal>



<app-modal [configuration]="{ name: 'domaine-edit-modal', titre: 'modifierLesDetailsDuDomaine', icone: 'stamp' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' }); edit = false">
  <app-common-edit *ngIf="edit"
                   [configuration]="{ endpoint: 'domaines', name: 'domaine', hasDescription: true, item: domaineSelectionne, submitButtonClass: 'btn-primary' }"
                   [extraFields]="{ ministere: ministere?.id, ambassade: ambassade?.id }"
                   (itemEdited)="onDomaineEdit($event.item)">
  </app-common-edit>
</app-modal>
