::ng-deep.form-control .cuppa-dropdown .selected-list .c-btn {
  border: none !important;
  min-height: 35px !important;
}

.avatar3 {
  width: 60px !important;
  display: inline !important;
  background: none !important;
}
