<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="create()">
  <!-- Libelle -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-12">
      <!-- Label -->
      <label class=" tx-facebook" for="libelle">
        {{ 'LIBELLE' | translate }}
      </label>

      <!-- Input -->
      <input type="text" class="form-control form-control-sm" required [formControlName]="'libelle'"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">
        {{ 'veuillezSaisirLeLibelle' |translate }}.</div>
    </div>
  </div>

  <!-- Tache -->
  <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
    <div class="col-12">
      <!-- Label -->
      <label class=" tx-facebook" for="affectation_tache">
        {{ 'TACHE' | translate }}
        <i class="fad fa-circle-notch fa-spin" *ngIf="loadingDependancies.affectation_tache"></i>
      </label>

      <angular2-multiselect [data]="affectationTacheService.data" [settings]="dropdownSettingsAlt.single" formControlName="affectation_tache"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'affectation_tache'), 'is-valid': isValid('affectation_tache')}"
          class="form-control p-0 form-control-sm">
        <c-badge>
          <ng-template let-item="item">
            {{item.tache_details.libelle}}
          </ng-template>
        </c-badge>
        <c-item>
          <ng-template let-item="item">
            <label style="color: #333;min-width: 150px;">{{item.tache_details.libelle}}</label>
          </ng-template>
        </c-item>
      </angular2-multiselect>

      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('affectation_tache')" class="invalid-feedback">
        {{ 'veuillezChoisirUneTache' | translate }}.
      </div>
    </div>
  </div>



  <!-- Membres -->
  <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
    <div class="col-12">
      <!-- Label -->
      <label class=" tx-facebook" for="affectation_tache">
        {{ 'autresMembres' | translate }}
        <i class="fad fa-circle-notch fa-spin" *ngIf="loadingDependancies.membre"></i>
      </label>

      <angular2-multiselect [data]="dependancies.membres" [settings]="dropdownSettingsAlt.users" formControlName="membres"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'membres'), 'is-valid': isValid('membres')}" class="form-control p-0 form-control-sm">
        <c-badge>
          <ng-template let-item="item">
            {{item.nom_complet}}
          </ng-template>
        </c-badge>
        <c-item>
          <ng-template let-item="item">
            <label style="color: #333;min-width: 150px;">{{item.nom_complet}}</label>
            <img [src]="item.photo" style="width: 30px;margin-right: 20px;" />
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </div>
  </div>


  <!-- Boutton validation -->
  <div class="d-flex justify-content-center">
    <div class="col-12 text-right">
      <!-- Boutton sumit -->
      <button class="btn btn-sm btn-primary mr-1" type="submit" [disabled]="form.invalid">
        {{ 'VALIDER' | translate }}
        <i class="fad fa-circle-notch fa-spin" *ngIf="loading"></i>
      </button>

    </div>
  </div>

</form>

<app-loading *ngIf="!isFormOk"></app-loading>
