<div class="card  bd-facebook h-100 mg-b-20" style="box-shadow: none; border: 1px solid #f4f4f478"
    *ngIf="single && !loading">
  <!-- Header -->
  <div class="tab-content h-100">
    <div class="bd-b">
      <div class="row mg-t-10 h-100 mg-b-5">
        <div class="col-lg-11">
          <h3 class="tx- tx-16 tx-yeto2 italic bold" style="margin: 9px;">
            <!-- Header domaine -->
            <span>
              <i class="fal fa-network-wired mr-2"></i>
              <span class="font-weight-bold">
                {{ ('RESEAU' | translate) }}
              </span>
              {{ ': ' + single.libelle }}
            </span>


          </h3>
        </div>
      </div>
    </div>



    <!-- Content -->
    <div class="card-body h-100 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div *ngIf="loading" class="mt-5">
  <app-loading></app-loading>
</div>
