<div class="row m-0 mt-2 p-0" style="max-height: 400px; overflow: auto" *ngIf="single">
    <h5 class="text-center w-100">
        {{ single.libelle }}
    </h5>

    <div class="col-12 d-flex justify-content-end">
        <!-- MODIfier -->
        <i class="fad fa-edit mr-3 clickable" (click)="editer()" [ngbTooltip]="'MODIFIER' | translate"></i>

        <!-- Supprimer -->
        <i class="fad fa-trash clickable" (click)="supprimer()" [ngbTooltip]="'SUPPRIMER' | translate"></i>
    </div>

    <!-- details sujet -->
    <div class="col-12">
        <p [innerHTML]="single?.description"></p>
    </div>

</div>

<!-- Reaction -->
<div class="row m-0 p-0">
    <div class="col-12">
        <app-reaction-sujet-reseaux></app-reaction-sujet-reseaux>
    </div>
</div>

<div class="my-3" *ngIf="loading">
    <app-loading></app-loading>
</div>