<div class="d-flex adresse">
  <!-- Icone -->
  <div class="mr-2 ">
    <i class="fad fa-map-marker-alt tx-ether2 tx-20"></i>
  </div>

  <div class="pd-sm-l-10">
    <p class="tx-ether2 mg-b-0 tx-bold">{{ adresse.addresse }} - {{ adresse.ville.libelle }} </p>
    <p class="mg-0 pt-2 text-right action">
      <!-- Details -->
      <a [routerLink]="['./']"
         [fragment]="'edit-adresse'"
         (click)="modifier()"
         class="pl-2">
        <i class="fad fa-edit bg-white"
           style="padding: 4px; border-radius: 50%; "></i>
      </a>



      <!-- Supprimer -->
      <a class="pl-2"
         [routerLink]="['./']"
         (click)="supprimer()">
        <i class="fad fa-trash bg-white"
           style="padding: 4px; border-radius: 50%; ">
        </i>
      </a>

    </p>

  </div>

</div>
