<div class="profiletimeline border-0 mt-0" *ngIf="single && !loading" [ngClass]="{'h-625': showEdit}">
    <div class="sl-item p-0">
        <!-- Icone -->
        <div class="sl-left">
            <span
                class="wd-40 ht-40 card-icon-gris d-flex align-items-center justify-content-center rounded-circle hidden-xs">
                <i class="fal fa-users tx-20 tx-primary"></i>
            </span>
        </div>


        <div class="sl-right">
            <div>
                <!-- Titre -->
                <span class="tx-gray-600 tx-16">
                    {{ 'nomDuGroupe' | translate }}
                </span>

                <!-- Confidentialite -->
                <span class="badge badge-pill badge-light ml-2 bg-light tx-primary">
                    <i class="fad fa-lock-open" *ngIf="single.confidentialite.id == 1 "></i>
                    <i class="fad fa-lock" *ngIf="single.confidentialite.id == 2 "></i>
                    {{ single.confidentialite.libelle | translate }}
                </span>

                <!-- icone  -->
                <span class="float-right">
                    <!-- Modifier -->
                    <span (click)="showEdit = true" class="clickable"><i class="fad fa-edit mr-2"></i></span>

                    <!-- Supprimer -->
                    <!-- <span (click)="delete()" class="clickable"><i class="fad fa-trash"></i></span> -->
                </span>

                <!-- Libelle -->
                <p class="tx-facebook tx-14 bg-bluelight p-2"
                    style="text-align:justify">
                    {{ single.libelle }}
                </p>

            </div>


            <!-- Description du groupe -->
            <div class="mg-t-20">
                <!-- Titre -->
                <span class="tx-gray-600 tx-16">
                    {{ 'descriptionDuGroupe' | translate }}
                </span>

                <!-- Content -->
                <p class="tx-facebook tx-14 bg-light p-2"
                    style="text-align:justify" [innerHTML]="single.description">
                </p>
            </div>
        </div>
    </div>

    <!-- Domaine -->
    <div class="sl-item p-0" *ngIf="single.domaines.length">
        <!-- Icone DOmaine -->
        <div class="sl-left">
            <span
                class="wd-40 ht-40 card-icon-gris d-flex align-items-center justify-content-center rounded-circle hidden-xs op3">
                <i class="fal fa-server tx-16 tx-success"></i>
            </span>
        </div>

        <!-- Content domaine -->
        <div class="sl-right">
            <!-- Titre -->
            <div>
                <span class="tx-gray-600 tx-16">
                    {{ 'listeDesDomaines' | translate }}
                </span>
            </div>
            <div class="bg-bluelight1 pd-y-10 p-2">
                <span class="badge badge-pill badge-light bg-white tx-success" *ngFor="let domaine of single.domaines">
                    {{ domaine.libelle }}
                </span>

            </div>

        </div>
    </div>

</div>

<app-loading *ngIf="loading"></app-loading>


<app-overlay *ngIf="showEdit" (closed)="showEdit =false">
    <app-groupe-edit (done)="showEdit = false"></app-groupe-edit>
</app-overlay>