<div class="flex-fill slide-bottom pd-15  pt-0 pl-3  bd-b ">
    <!-- Liste -->
    <nav class="nav flex-column  " *ngIf="!loading && data.length">
        <!-- element -->
        <div class="d-flex align-items-center justify-content-between "
            *ngFor="let sous_domaine of data; let i = index">

            <!-- Titre du sous_domaine -->
            <a class="nav-link tx-white clickable"
                [ngClass]="{'font-weight-bold text-primary': affectationTacheService.getFiltre('sous_domaines').includes(sous_domaine.id)}"
                (click)="filtrerTache(sous_domaine.id)">
                <i class="fad fa-dot-circle"
                    [ngClass]="{
                    'tx-violet': i == 0,
                    'tx-bleu': i == 1,
                    'tx-vert': i == 2,
                    'tx-jaune': i == 3
                }"></i>
                {{ sous_domaine.libelle }}
            </a>
        </div>
    </nav>

    <!-- Loading -->
    <app-loading *ngIf="loading"></app-loading>
    <app-missing-data *ngIf="!loading && !data.length"></app-missing-data>
</div>