<div class=" mg-t-0 bd-b mg-b-10  pd-0  ">
  <!-- Logo -->
  <div class="bd-b">
    <div class="d-flex flex-row">
      <a href="" class="tx-white mg-l-30 "
          style="font-family: 'Tangerine'; text-align: center; font-size: 250%; vertical-align: middle; text-shadow: 0px 1px 0px">

        Groupes<span class="tx-yellow1"> indépendants</span></a>
    </div>
  </div>

  <app-mes-groupes-independants></app-mes-groupes-independants>

  <div class="flex-fill pd-15 bd-t bd-b">
    <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
      <span class="tx-10 tx-uppercase"> Récemment en explore</span>
    </div>
    <nav class="nav flex-column  ">
      <div class="d-flex align-items-center justify-content-between ">
        <a href="" class="nav-link tx-white"><i class="fad fa-certificate tx-violet"></i>
          Mathématiques</a>
      </div>
      <a href="" class="nav-link tx-white "><i class="fad fa-certificate tx-bleu"></i> Histoire</a>
      <a href="" class="nav-link tx-white"><i class="fad fa-certificate tx-vert"></i> Géographie</a>
      <a href="" class="nav-link tx-white"><i class="fad fa-certificate tx-jaune"></i> Littérature</a>
    </nav>
  </div>

</div>
