<div class=" mg-t-0 bd-b mg-b-10  pd-0  ">

    <app-domaine-list-min></app-domaine-list-min>

    <div class="flex-fill pd-15 bd-t bd-b">
        <div
            class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <span class="tx-10 tx-uppercase"> Récemment en explore</span>
        </div>
        <nav class="nav flex-column  ">
            <div class="d-flex align-items-center justify-content-between ">
                <a href="" class="nav-link tx-white"><i
                        class="fad fa-certificate tx-violet"></i>
                    Mathématiques</a></div>
            <a href="" class="nav-link tx-white "><i
                    class="fad fa-certificate tx-bleu"></i> Histoire</a>
            <a href="" class="nav-link tx-white"><i
                    class="fad fa-certificate tx-vert"></i> Géographie</a>
            <a href="" class="nav-link tx-white"><i
                    class="fad fa-certificate tx-jaune"></i> Littérature</a>
        </nav>
    </div>

</div>