.bgm-primary {
  background: #5d78ff !important;
  color: white;
}

.bgm-danger {
  background: #c0392b !important;
  color: white;
}

.bgm-blue {
  background: #4c89ac !important;
  color: white !important;
}

.bgm-orange {
  background: #e2610c !important;
  color: white !important;
}

.bgm-success {
  background: #34bfa3 !important;
  color: white !important;
}

.bgm-warning {
  background: #eac459 !important;
  color: white !important;
}

.bgm-info {
  background: #36a2f5 !important;
  color: white !important;
}

.bgm-mint {
  background: #26f8cb !important;
  color: white !important;
}

.bgm-indigo {
  background: #e54aeb !important;
  color: white !important;
}

.bgm-yellow {
  background: #d7e608 !important;
  color: white !important;
}
