<div class="">
  <div class="card mt-2">
    <!-- Nav tabs -->
    <div class="tab-wrapper">

      <!-- Details -->
      <input checked="" class="tab" id="tab1" name="nav" type="radio" />
      <a [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <label for="tab1">
          <span class="navicon fa fa-info-circle"></span>
        </label>
      </a>

      <!-- Membres -->
      <input class="tab" id="tab2" name="nav" type="radio" />
      <a [routerLink]="['membres']" routerLinkActive="active">
        <label for="tab2">
          <span class="navicon fa fa-users"></span>
        </label>
      </a>


      <!-- Demandes adhesions -->
      <input class="tab" id="tab3" name="nav" type="radio" />
      <a [routerLink]="['demandes-adhesions']" routerLinkActive="active">
        <label for="tab3">
          <span class="navicon fa fa-user-plus"></span>
        </label>
      </a>


      <!-- Tribune -->
      <input class="tab" id="tab4" name="nav" type="radio" />
      <a [routerLink]="['tribune']" routerLinkActive="active">
        <label for="tab4">
          <span class="navicon fa fa-comments-alt"></span>
        </label>
      </a>



      <div class="tab__copy scroll-11">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
