<form [formGroup]="form" (submit)="create()" class="">
    <!-- Libelle -->
    <div class="col-lg-12 p-0">
        <label for="type" class="label-template-form">{{ 'LIBELLE' | translate }}</label>
        <input type="text" formControlName="libelle" class="form-control">
    </div>

    <!-- Description -->
    <div class="col-lg-12 p-0 mt-2" *ngIf="form.controls['description']">
        <label for="type" class="label-template-form">{{ 'DESCRIPTION' | translate }}</label>
        <ckeditor [editor]="Editor"
            [config]="{height: 500}"
            class=""
            formControlName="description">
        </ckeditor>
    </div>

    <!-- Valider -->
    <div class="col-lg-12 p-0 mt-2">
        <button class="btn btn-outline-primary float-right">
            {{ 'VALIDER' | translate }}
            <span *ngIf="loading">
                <i class="fas fa-circle-notch fa-spin"></i>
            </span>
        </button>
    </div>
</form>