<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="add()">


    <!-- mot de passe -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
        <div class="col-12">
            <!-- Label -->
            <label class="control-label"
                for="libelle">
                {{ 'entrerUnNouveauMotDePasse' | translate }}
            </label>

            <!-- Input -->
            <input type="password"
                class="form-control form-control-sm"
                required
                [formControlName]="'password'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'password'), 'is-valid': isValid('password')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('password')" class="invalid-feedback">
                {{ 'veuillezSaisirUnMotDePasse' |translate }}.</div>
        </div>
    </div>


    <!-- Confirmation mot de passe -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
        <div class="col-12">
            <!-- Label -->
            <label class="control-label"
                for="password_confirmation">
                {{ 'confirmerVotreMotDePasse' | translate }}
            </label>

            <!-- Input -->
            <input type="password"
                class="form-control form-control-sm"
                required
                [formControlName]="'password_confirmation'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'password_confirmation'), 'is-valid': isValid('password_confirmation')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('password_confirmation')" class="invalid-feedback">
                {{ 'veuillezConfirmezVotreMotDePasse' |translate }}.</div>
        </div>
    </div>


    <!-- Boutton validation -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-9">
            <div class="d-flex align-items-center">
                <div class="pd-r-10">
                    <i class="fal  bg-light tx-facebook tx-24"
                        [ngClass]="{
                        'fa-file-pdf': fichier.extension.type == 1,
                        'fa-file-image': fichier.extension.type == 2,
                        'fa-file-music': fichier.extension.type == 3
                    }"
                        style="padding:6px; border-radius: 50%; ">
                    </i>
                </div>

                <div>
                    <a class=" tx-facebook tx-14"
                        href="javascript:void(0);">
                        {{ fichier.name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3 text-right">
            <!-- Boutton sumit -->
            <button class="btn btn-sm btn-primary"
                type="submit"
                [disabled]="form.invalid">
                {{ 'VALIDER' | translate }}
                <i class="fas fa-circle-notch tx-white fa-spin" *ngIf="loading"></i>
            </button>
        </div>
    </div>
    <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="libelle">Orientation</label>
            <textarea name="orientation" maxlength="200" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'orientation'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'orientation'), 'is-valid': isValid('orientation')}"></textarea>
            <small>{{editForm.get('orientation').value?.length}}/200</small>
            <div *ngIf="shouldShowRequiredError('orientation')" class="invalid-feedback">veillez saisir l'orientation.
            </div>
        </div>
    </div> -->
</form>