<div class="">
  <div class="card mt-2">
    <!-- Nav tabs -->
    <div class="tab-wrapper">

      <!-- Details -->
      <input checked="" class="tab" id="tab1" name="nav" type="radio" />
      <!-- <a [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <label for="tab1">
          <span class="navicon fa fa-info-circle"></span>
        </label>
      </a> -->






      <div class="tab__copy scroll-11">
        <ng-container *ngIf="single && !loading">
          <div class="row justify-content-center mx-0 mt-3">
            <div class="d-flex users-icon bg-light align-items-center justify-content-center border rounded-circle">
              <span class="icone">
                <i class="fad  fa-user" *ngIf="!single.employe_details.photo.path"></i>
                <img [src]="single.employe_details.photo?.path" *ngIf="single.employe_details.photo?.path">
              </span>
            </div>
          </div>

          <h3 class="text-center">{{ single.employe_details.nom_complet }}</h3>

          <ul class="list-group-flush p-0 w-100">
            <!-- Email -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="font-weight-bolder">
                <i class="fad fa-at"></i> {{ 'EMAIL' | translate }}:
              </span>

              {{ single.employe_details.email }}
            </li>


            <!-- sexe -->
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="single.employe_details.sexe">
              <span class="font-weight-bolder">
                <i class="fad fa-venus-mars"></i> {{ "SEXE" | translate }}:
              </span>
              {{ single.employe_details.sexe | titlecase}}
            </li>




            <div class="mt-5 fieldset">
              <h4 style="font-size: 17px;">{{ 'FONCTIONS' | translate }}</h4>
              <span class="badge badge-outline-info mr-2" *ngFor="let fonction of single.fonctions">
                {{ fonction.libelle }}
              </span>
            </div>
          </ul>
        </ng-container>
      </div>


    </div>
  </div>
</div>
