<div class="card-body p-2 bd-t">
  <!-- Admin etablissement -->
  <h5 class="my-2" style="font-family: 'Raleway', sans-serif">
    <i class="fad fa-user-tie"></i>
    {{ "ADMINISTRATEURS" | translate }}

    <span class="float-right">
      <i class="fad fa-plus-circle" (click)="ajouterAdminEtablissement()"></i>
    </span>
  </h5>
  <app-admin-etablissement-list></app-admin-etablissement-list>

  <!-- Charger communication etablissement -->
  <h5 class="my-2" style="font-family: 'Raleway', sans-serif">
    <i class="fad fa-bullhorn"></i>
    {{ "chargeDeCommunication" | translate }}

    <span class="float-right">
      <i class="fad fa-plus-circle" (click)="ajouterChargerComEtablissement()"></i>
    </span>
  </h5>
  <app-charger-communication-etablissement-list></app-charger-communication-etablissement-list>
</div>

<!-- Add admin etablissement -->
<app-modal [configuration]="{
    name: 'admin-etablissement-add-modal',
    titre: 'ajouterDesAministrateursPourLEtablissement',
    icone: 'user-tie'
  }">
  <app-admin-etablissement-add *ngIf="addAdminEtablissement"></app-admin-etablissement-add>
</app-modal>

<!-- Add chargé com etablissement -->
<app-modal [configuration]="{
    name: 'charger-com-etablissement-add-modal',
    titre: 'ajouterDesUtilisateursChargesDeLaCommunicationDeLEtablissement',
    icone: 'bullhorn'
  }">
  <app-charger-commnunication-etablissement-add *ngIf="addChargerComEtablissement"></app-charger-commnunication-etablissement-add>
</app-modal>
