<!-- Header -->
<div class=" row row-xs clearfix pt-3  pl-2 pr-4"
     style="z-index: auto !important;">
  <div class="col-lg-12 ">
    <h6 class="">
      <i class="fad fa-graduation-cap  "
         style="padding:6px; border-radius: 50%; "></i>
      {{ 'DIPLOMES' | translate }}

      <a [routerLink]="['./']"
         *ngIf="(router.url.includes('identite') && user?.id_inscription === auth.user.id_inscription)"
         fragment="add-diplome"
         class="float-right"><i class="fad fa-plus-circle"></i></a>
    </h6>
  </div>
</div>


<!-- Liste des éléments -->
<app-diplome-list></app-diplome-list>




<app-modal [configuration]="{ name: 'diplome-create-modal', titre: 'ajouterUnDiplome', icone: 'address-book' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-diplome-create *ngIf="create"></app-diplome-create>
</app-modal>
