<div class="row row-xs mg-0 pd-0 clearfix">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid"
                                    src="assets/images/xs/avatar1.jpg"
                                    alt="avatar"></p>
                            <h4
                                class="tx-12 tx-bolder tx-primary">
                                Adama Sidibé</h4>
                            <p class=" tx-12 tx-warning">
                                Mathématiques appliquées</p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <div
                                class="row row-xs mg-0 pd-0 clearfix">
                                <div class="table-responsive">
                                    <table
                                        class="table  table-hover table-responsive-sm mb-0 ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href=""><i
                                                            class="fas fa-building tx-purple"></i></a>
                                                </td>
                                                <td
                                                    class=" bd-b bg-white text-left ">
                                                    <div
                                                        class=" from">
                                                        <p
                                                            class="mg-0">
                                                            <a>Département
                                                                Mathématiques</a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href=""><i
                                                            class="fas fa-phone-office tx-danger"></i></a>
                                                </td>
                                                <td
                                                    class=" bd-b bg-white text-left">
                                                    <div
                                                        class=" from">
                                                        <p
                                                            class="mg-0">
                                                            <a> 00
                                                                221
                                                                77
                                                                845
                                                                46
                                                                21</a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href=""><i
                                                            class="fas fa-at tx-jaune"></i></a>
                                                </td>
                                                <td
                                                    class=" bg-white text-left ">
                                                    <div
                                                        class=" from">
                                                        <p
                                                            class="mg-0">
                                                            <a>
                                                                maths@maths.com</a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href=""><i
                                                            class="fas fa-users tx-primary"></i></a>
                                                </td>
                                                <td
                                                    class=" bd-b bg-white text-left">
                                                    <div
                                                        class=" from">
                                                        <p
                                                            class="mg-0">
                                                            <a>
                                                                12</a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>

                                    <a href="https://www.fiverr.com/share/qb8D02"
                                        class="btn   btn-sm rounded-circle">
                                        <p
                                            class="tx-facebook mb-0">
                                            Profile.me </p>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>