<ng-container *ngIf="single && !loading">
  <!-- Image -->
  <div class="row mx-0 justify-content-center">
    <div class="d-flex users-icon bg-light clickable align-items-center justify-content-center border rounded-circle">
      <span class="icone">
        <i class="far tx-primary  fa-chalkboard-teacher"></i>
      </span>
    </div>
  </div>

  <!-- Libelle -->
  <h3 class="text-center mb-3">{{ single.libelle }}</h3>

  <!-- Details -->
  <ng-container *ngIf="helper.getLastUrlFragment(router.url) !== 'condition-participation' && helper.getLastUrlFragment(router.url) !== 'objectifs'">
    <!-- Assets -->
    <div class="row mx-0">
      <div class="col-12">
        <ul class="list-group-flush p-0 w-100">
          <!-- Organisation cours -->
          <li class="list-group-item d-flex justify-content-between align-items-center">

            <span class="font-weight-bold mr-2">
              <i class="far fa-scroll"></i> {{ 'organisationCours' | translate }}:
            </span>
            {{ single.organisation_cours | translate }}
          </li>

          <!-- programme semaine -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="font-weight-bold mr-2">
              <i class="far fa-language"></i> {{ 'programmeSemaine' | translate }}:
            </span>
            {{ single.programme_semaine | translate }}


          </li>

          <!-- Temporalité -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="font-weight-bold mr-2">
              <i class="far fa-boxes"></i> {{ 'TEMPORALITE' | translate }}:
            </span>
            {{ single.temporalite_cours | translate }}
          </li>


          <!-- programme -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="font-weight-bold mr-2">
              <i class="far fa-scroll"></i> {{ 'PROGRAMME' | translate }}:
            </span>
            {{ single.programme.libelle | translate }}
          </li>
        </ul>
      </div>
    </div>

    <div class="row mx-0">
      <div class="col-12" [innerHTML]="single.description"> </div>
    </div>
  </ng-container>

  <!-- Conditions Participation -->
  <div class="row mt-4 mx-0" *ngIf="helper.getLastUrlFragment(router.url) === 'condition-participation'">
    <div class="col-12">
      <h4 class=" tx-14 tx-rubik" style="text-decoration: underline;">{{ 'conditionsDeParticipation' | translate }}</h4>
    </div>
    <div class="col-12" [innerHTML]="single.condition_participation"> </div>
  </div>


  <!-- Objectifs -->
  <div class="row mt-4 mx-0" *ngIf="helper.getLastUrlFragment(router.url) === 'objectifs'">
    <div class="col-12">
      <h4 class=" tx-14 tx-rubik" style="text-decoration: underline;">{{ 'OBJECTIFS' | translate }}</h4>
    </div>
    <div class="col-12" [innerHTML]="single.objectifs"> </div>
  </div>

</ng-container>


<app-loading class="my-5" *ngIf="loading"></app-loading>
