<!-- Header -->
<div class="card">
    <div class="row m-0 my-2">



        <!-- Boutton ajouter -->
        <div class="col-lg-4 float-right">
            <!-- <i class="fad fa-circle-notch   fa-spin " *ngIf="loadingTypeEtablissement"></i> -->
            <select class="custom-select " *ngIf="typeEtablissements.length && !loadingTypeEtablissement" (change)="navigate($event)">
                <!-- Etablissement -->

                <option [selected]="router.url.includes('structure') && router.url.includes('type-etablissement=6')"
                    (click)="typeElementSelected = 'etablissement'" [value]="['structure', 6]">
                    {{ 'ETABLISSEMENT' | translate }}
                </option>

                <!-- Type -->
                <option *ngFor="let type of typeEtablissements" (click)="typeElementSelected = 'etablissement'"
                    [selected]="router.url.includes('structure') && router.url.includes('type-etablissement=' + type.id)"
                    [value]="['structure', type.id]">
                    {{ type.libelle | translate }}
                </option>

                <!-- Professeur -->
                <option [selected]="router.url.includes('professeur')" (click)="typeElementSelected = 'professeur'" [value]="['professeur']">
                    {{ 'PROFESSEUR' | translate }}
                </option>

                <!-- Eleve -->
                <option [selected]="router.url.includes('eleve')" (click)="typeElementSelected = 'eleve'" [value]="['eleve']">
                    {{ 'ELEVE' | translate }}
                </option>
            </select>
        </div>

        <div class="col-lg-4 float-right">
            <!-- <i class="fad fa-circle-notch   fa-spin " *ngIf="loadingTypeEtablissement"></i> -->
            <select class="custom-select " *ngIf="pays.length && !loadingPays">
                <!-- Etablissement -->

                <!-- Type -->
                <option *ngFor="let p of pays" [value]="[p.id]">
                    {{ p.libelle }}
                </option>
            </select>
        </div>



        <!-- Titre -->
        <div class="col-4">
            <!-- <h3 class="tx- tx-16 mt- 2tx-secondary italic mg-l-20 bold">
                <i class="fad fa-th-list"></i>
                {{ 'ANNUAIRE' | translate }}
            </h3> -->

            <div class="form-group mg-b-5 ">
                <div class="input-group w-100">
                    <!--  -->
                    <input #search type="text" [placeholder]="'RECHERCHER' | translate" class="form-control pd-y-8">

                    <span class="">
                        <button class="btn bg-light h-100 d-flex align-items-center" (click)="research(search.value)">
                            <i class="fad fa-search tx-facebook"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card-body p-2 bg-light bd-t">
    <router-outlet></router-outlet>
</div>
