<ng-container *ngIf="!loading && professeurService.data.length">

  <div class="row row-xs mg-l-0 mg-r-0">

    <div class="p-1" [ngClass]="{'col-2': !minified, 'col-3': minified}" *ngFor="let professeur of professeurService.data">
      <div class="card-container" [ngClass]="{'professeur-min': minified, 'active': rla.isActive}">
        <img class="round" [src]="professeur.professeur_details.photo" alt="user" />
        <h3 class="mb-0">{{ professeur.professeur_details.nom_complet }}</h3>

        <div class="pb-3 pt-1 card-container-icon">
          <a [routerLink]="[professeur.id]" class="mr-2 tx-facebook" routerLinkActive="active" #rla="routerLinkActive">
            <i class="fad  fa-info-circle"></i>
          </a>

          <!-- Administration -->
          <ng-container *ngIf="router.url.match(adminRouteRegex)">
            <a [routerLink]="[minified ? professeur.id : '/']" [fragment]="'edit'" class="tx-facebook" (click)="modifier(professeur)">
              <i class="fad mr-2 fa-edit"></i>
            </a>

            <a [routerLink]="[minified ? professeur.id : '/']" class="tx-facebook" (click)="delete(professeur.id)">
              <i class="fad mr-2 fa-trash"></i>
            </a>

          </ng-container>

          <!-- Particulier -->
          <ng-container *ngIf="!router.url.match(adminRouteRegex)">
            <a class='tx-facebook' [routerLink]="['./']"
                [queryParams]="{'type_discussion': 'correspondance', 'correspondant': professeur.professeur_details.id_inscription, 'modal': 'discussion-min'}">
              <i class="fad mr-2 fa-comments-alt"></i>
            </a>

            <i class="fad mr-2 fa-share"></i>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<div class="my-5" *ngIf="loading">
  <app-loading class="w-100"></app-loading>
</div>

<app-missing-data *ngIf="!loading && !professeurService.data.length" class="w-100"></app-missing-data>
