<div class="p-0 mg-b-10">
  <!-- Liste des type d'etablissements -->
  <div class="row row-xs mg-0 pd-0" *ngIf="data.length && !loading">
    <!-- Ministere -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(1)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class="" src="assets/images/xs/ministry.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            <a [routerLink]="['type', 1]">{{ 'MINISTERES' | translate }}</a>
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Inspection Academique -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(2)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class="" src="assets/images/xs/ia.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Inspections Académiques
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Inspection des ecoles -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(3)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/ie.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Inspections des écoles
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Direction -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(4)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/direction.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Directions
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Syndicales -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(5)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/syndicale.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Syndicales
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Organismes scolaires -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(6)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/organisme.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Organismes Scolaires
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Etablissements -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(7)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/ecole.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Etablissements
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Classes -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(7)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/classe.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Classes
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-file-edit"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- professeurs -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(7)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img
              class=" "
              src="assets/images/xs/professeurs.png"
              alt="avatar"
            />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Professeurs
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Etudiants ou eleves -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(7)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/etudiant.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Etudiants ou Elèves
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>

    <!-- Parent -->
    <div class="col-sm-6 col-xl-3" *ngIf="data.includes(7)">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/parent.png" alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            Parents
          </h5>
          <!-- <div class="like-comm mg-t-5 mg-b-5">
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-comments"></i> Contacts</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-users"></i> 22</a
            >
            <a href="" class="link mr-2 tx-primary tx-11"
              ><i class="fad fa-info-circle"></i> Infos</a
            >
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- chargement -->
  <div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <!-- Missing data -->
  <app-missing-data *ngIf="!data.length && !loading"></app-missing-data>
</div>
