<form class="custom-placeholder"
      [formGroup]="form"
      (submit)="create()">
  <!-- Libelle-->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-10 clickable align-items-center flex-row justify-content-center border"
         (click)="fileUpload.click()"
         style="border-style: dashed !important; height: 100px">
      <div><span><i class="fad fa-2x fa-cloud"></i></span></div>
      <h5 *ngIf="!file">{{ 'ajouterUnFichier' | translate }}</h5>
      <h5 *ngIf="file">{{ file.name }}</h5>


      <input type="file"
             #fileUpload
             accept="application/pdf"
             (change)="onFileChanged($event)"
             [hidden]="true">
    </div>
  </div>




  <!-- Boutton validation -->
  <div class="d-flex justify-content-center">
    <div class="col-10 text-right">
      <!-- Boutton sumit -->
      <button class="btn btn-sm btn-primary mr-1"
              type="submit"
              [disabled]="form.invalid">
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="loading"></i>
        {{ 'VALIDER' | translate }}
      </button>
    </div>
  </div>
</form>

<app-loading *ngIf="!form"></app-loading>
