<div class="row mx-0  px-2 justify-content-between align-items-center bd-b bg-light slide-in-top">
  <!-- Titre -->
  <h3 class="tx- tx-20 tx-info italic mg-l-20 my-3 bold">
    <i class="fad fa-sitemap"></i>
    {{ 'etablissementsAffilies' | translate }}
  </h3>

  <!-- Action -->
  <div class="d-flex justfiy-content-between align-items-center">
    <a class="my-2  tx-primary mr-4"
       [routerLink]="['./']"
       [fragment]="'create'">
      <i class=" fad fa-plus-circle"></i> {{ 'AJOUTER' | translate }}
    </a>
    <span class="my-2  tx-success mr-4 clickable"
          (click)="helper.toggleModal('filter-groupe-modal')">
      <i class="fad fa-filter"></i> {{ 'FILTRE' | translate }}
    </span>
    <div class="form-group mt-2 mb-3"
         style="position: relative;">
      <div class="input-group w-100">
        <!--  -->
        <input #search
               type="text"
               [placeholder]="'RECHERCHER' | translate"
               class="form-control pd-y-8" />

        <span class="">
          <button class="btn border bg-light h-100 d-flex align-items-center">
            <i class="fad fa-search tx-facebook"></i>
          </button>
        </span>
      </div>

    </div>
  </div>

</div>

<ng-container *ngIf="!loading && etablissementService.data.length">
  <div class="row pt-3 m-0 bg-light">
    <div class="col-sm-6 col-xl-3"
         *ngFor="let etablissement of etablissementService.data">
      <div class="card mg-b-20">
        <div class="avatar4">
          <p>
            <img class=""
                 src="assets/images/xs/ministry.png"
                 *ngIf="etablissement.type.id === 1"
                 alt="avatar" />
            <img class=""
                 src="assets/images/xs/ia.png"
                 *ngIf="etablissement.type.id === 2"
                 alt="avatar" />
            <img class=""
                 src="assets/images/xs/ie.png"
                 *ngIf="etablissement.type.id === 3"
                 alt="avatar" />
            <img class=""
                 src="assets/images/xs/direction.png"
                 *ngIf="etablissement.type.id === 4"
                 alt="avatar" />
            <img class=""
                 src="assets/images/xs/syndicales.png"
                 *ngIf="etablissement.type.id === 5"
                 alt="avatar" />
            <img class=""
                 src="assets/images/xs/organisme.png"
                 *ngIf="etablissement.type.id === 6"
                 alt="avatar" />

            <img class=""
                 src="assets/images/xs/etablissement.png"
                 *ngIf="etablissement.type.id === 7"
                 alt="avatar" />
          </p>
        </div>
        <div class="card-body text-center p-0 mg-t-5 bg-light">
          <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
            <a class="tx-ether4"
               [routerLink]="[1]">{{
              etablissement.libelle
              }}</a>
          </h5>
          <div class="like-comm mg-t-5 mg-b-5">
            <!-- Contact -->
            <a [routerLink]="['./']"
               [queryParams]="{
              type_discussion: 'etablissement',
              correspondant: auth.user.id_inscription,
              etablissement: etablissement.id,
              modal: 'discussion-min'
            }"
               class="link mr-2 tx-primary tx-11"><i class="fad fa-comments"></i> Contacts</a>

            <!-- Nombre d'employes -->
            <a class="link mr-2 tx-primary tx-11"><i class="fad fa-users tx-primary"></i>
              {{ etablissement.nombre_employe }}
            </a>

            <!-- Details -->
            <a href=""
               class="link mr-2 tx-primary tx-11"><i class="fad fa-info-circle"></i> Infos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-loading *ngIf="loading"
             class="w-100"></app-loading>
<app-missing-data *ngIf="!loading && !etablissementService.data.length"
                  class="w-100">
</app-missing-data>
