<!-- Liste des groupes -->
<app-sujet-sous-reseaux-list></app-sujet-sous-reseaux-list>


<!-- Sujet create modal -->
<app-modal
    [configuration]="{name: 'sujet-reseaux-create-modal', titre: 'ajouterUnSujetDeDiscussion', icone: 'users-class'}">
    <app-sujet-sous-reseaux-create></app-sujet-sous-reseaux-create>
</app-modal>

<!-- Groupe show modal -->
<div class="modal animated bounceInDown"
    id="sujet-reseaux-show-modal"
    tabindex="-1"
    role="dialog"
    data-backdrop="static"
    aria-labelledby="sujet-reseaux-show-modal"
    aria-hidden="true">
    <div [class]="'modal-dialog modal-lg'" role=" document">
        <div class="modal-content p-0">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel_5">
                    <i class="fad fa-users-class"></i>
                    {{ "SUJET" | translate }}
                </h5>
                <a [routerLink]="['./']">
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
                    </button>
                </a>

            </div>
            <div class="modal-body p-0">
                <app-sujet-sous-reseaux-show></app-sujet-sous-reseaux-show>
            </div>
        </div>
    </div>
</div>