<!-- Liste des elements -->
<div class="row  row-xs clearfix p-2 pl-2"
     *ngIf="!loading && ambassadeService.data.length">
  <div class=" col-lg-3  pt-2 pl-2 pr-2 pb-2"
       *ngFor="let ambassade of ambassadeService.data">
    <div class="mycard4">
      <!-- Pays -->
      <div class=" pt-2 pl-2 d-flex align-items-center justify-content-between bd-b border-primary mb-2">
        <p class="tx-echos"> <img class=""
               src="assets/images/drapeaux/sn.svg"
               alt="avatar"
               width="40"> République du {{ ambassade.entite_diplomatique.pays_siege.libelle }}</p>
      </div>

      <!-- Icone -->
      <div class="d-flex justify-content-center p-0">
        <p class="mg-0 pb-4">
          <span class=" pl-2"> <i class="fad fa-landmark tx-40   bg-light "
               style="padding:6px ; border-radius:50%"></i></span>

        </p>
      </div>

      <!-- Badge -->
      <div class=" text-center ">
        <span class="badge badge-pill badge-primary bg-primary "> {{ 'serviceAmbassade' | translate }}</span>
        <p class="text-center">
          <!-- Langue pays de siège -->
          <span class="">
            Français
          </span>

          <!-- Nombre attachés -->
          <span class=""> || </span><span class="">
            6 attachés
          </span>

          <!-- Etat de l'ambassade -->
          <span class=""> || </span>
          <span class=" tx-success-100 "> {{ (ambassade.etat ? 'OUVERTE' : 'FERMEE') | translate }} </span>
        </p>
      </div>

      <!-- footer -->
      <div class="d-flex justify-content-between ">

        <!-- CTA -->
        <div class=" justify-content-between p-0">
          <p class="mg-0 pt-2">
            <!-- details -->
            <span class=" pl-2"> <i class="fad fa-eye bg-white"
                 style="padding:6px ; border-radius:50%"></i></span>

            <!-- Edit -->
            <a class=" pl-2"
               [routerLink]="['./']"
               [fragment]="'edit-ambassade'"
               (click)="modifier(ambassade)">
              <i class="fad fa-edit bg-white"
                 style="padding:6px ; border-radius:50%"></i>
            </a>

            <!-- Supprimer -->
            <a class=" pl-2"
               (click)="supprimer(ambassade.id)"
               [routerLink]="['./']">
              <i class="fad fa-trash-alt bg-white"
                 style="padding:6px ; border-radius:50%"></i>
            </a>

            <!-- Discussion -->
            <span class=" pl-2"> <i class="fad fa-comment-alt-lines bg-white"
                 style="padding:6px ; border-radius:50%"></i></span>


            <!-- Liaison -->
            <span class=" pl-2"> <i class="fad fa-link bg-light  tx-echos "
                 style="padding:6px ; border-radius:50%"></i></span>
          </p>
        </div>

        <!-- Photo de l'abassadeur -->
        <a class="nav-link  ml-4  "
           id="v-pills-home-tab"
           data-toggle="pill"
           href="#utilisateurs"
           role="tab"
           aria-controls="v-pills-home"
           aria-selected="true">
          <div class="d-flex flex-row">
            <div class="profiles">
              <!-- <img class="rounded-circle " src="assets/images/xs/avatar7.jpg" alt="avatar" width="26"> -->
              <!-- <img class="rounded-circle"
                   src="assets/images/xs/avatar6.jpg"
                   alt="avatar"
                   width="26"> -->

              <img class="rounded-circle"
                   *ngIf="ambassade?.ambassadeur?.photo"
                   [src]="ambassade?.ambassadeur?.photo"
                   alt="avatar"
                   width="26">

            </div>

          </div>
        </a>
      </div>
    </div>
  </div>

</div>



<div class="my-5"
     *ngIf="loading || !ambassadeService.data.length">
  <app-missing-data *ngIf="!loading && !ambassadeService.data.length"></app-missing-data>
  <app-loading *ngIf="loading"></app-loading>
</div>
