<app-profil-institution [parent]="{ name: 'ambassade', item: single }"
                        (inscriptionConsulaireEdited)="onInscriptionConsulaireEdited()"
                        *ngIf="single">
  <ul class="nav bd-b bd-2 bd-facebook"
      navigation-items>
    <!-- L'ambassade -->
    <li class="nav-item">
      <a class="nav-link tx-echos"
         [routerLink]="['./']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-landmark  tx-20"
           [routerLinkActive]="'fas'"
           [routerLinkActiveOptions]="{ exact: true }">
        </i>
        {{ 'LAmbassade' | translate }}
      </a>
    </li>

    <!-- L'ambassadeur -->
    <li class="nav-item">
      <a class="nav-link tx-echos"
         [routerLink]="['ambassadeurs', 'actuel']"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-user-crown  tx-20"
           [routerLinkActive]="'fas'">
        </i>
        {{ 'LAmbassadeur' | translate}}
      </a>
    </li>


    <!-- Portrait -->
    <li class="nav-item">
      <a class="nav-link tx-echos"
         [routerLink]="'ambassadeurs'"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-user-crown  tx-20"
           [routerLinkActiveOptions]="{ exact: true }"
           [routerLinkActive]="'fas'">
        </i>
        {{ 'PORTRAIT' | translate }}
      </a>
    </li>

    <!-- Mission -->
    <li class="nav-item">
      <a class="nav-link tx-echos"
         [routerLink]="'missions'"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-bullseye-arrow  tx-20"
           [routerLinkActive]="'fas'"></i>
        {{ 'MISSIONS' | translate }}
      </a>
    </li>


    <!-- Organisation -->
    <li class="nav-item">
      <a class="nav-link tx-echos"
         [routerLink]="'organisations'"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-line-columns  tx-20"
           [routerLinkActive]="'fas'"></i>
        {{ 'ORGANISATIONS' | translate }}
      </a>
    </li>


    <!-- Services -->
    <li class="nav-item ">
      <a class="nav-link  tx-echos"
         [routerLink]="['services']"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-ball-pile  tx-20"
           [routerLinkActive]="'fas'"></i>
        {{ 'SERVICES' | translate }}
      </a>
    </li>


    <!-- Consulats -->
    <li class="nav-item">
      <a class="nav-link tx-echos"
         [routerLink]="['consulats']"
         [routerLinkActive]="'font-weight-bolder'">
        <i class="fal fa-construction  tx-20"></i>
        {{ 'CONSULATS' | translate }}
      </a>
    </li>


    <!-- Ici mon pays -->
    <li class="nav-item ">
      <a class="nav-link tx-echos"
         [routerLinkActive]="'font-weight-bolder'"
         [routerLink]="'ici-mon-pays'">
        <i class="fal fa-building  tx-20"
           [routerLinkActive]="'fas'"></i>
        {{ 'iciMonPays' | translate }}
      </a>
    </li>

  </ul>


  <!-- Inscription consulaire -->
  <ng-container cta>
    <!-- Se declarer -->
    <a class="ml-2"
       *ngIf="!single.user_inscription_consulaire"
       #declarationButton
       [ngbTooltip]="'seDeclarer' | translate"
       (click)="checkEligibiliteInscriptionConsulaire()"
       [placement]="'bottom'"
       [routerLink]="['./']">

      <!-- Icone  -->
      <i class="fad fa-file-certificate tx-echos2 bg-bluelight"
         style="padding:6px; border-radius:50%"
         *ngIf="!inscriptionConsulaireLoading"></i>

      <!-- Icone de chargement -->
      <i class="fad fa-circle-notch fa-spin m-0 "
         style="line-height: 30px;"
         *ngIf="inscriptionConsulaireLoading"></i>
    </a>

    <!-- Annuler declaration -->
    <a class="ml-2"
       *ngIf="single.user_inscription_consulaire === 1"
       #declarationButton
       [ngbTooltip]="'annulerDeclaration' | translate"
       (click)="annulerInscriptionConsulaire()"
       [placement]="'bottom'"
       [routerLink]="['./']">

      <!-- Icone  -->
      <i class="fad fa-file-times tx-echos2 bg-bluelight"
         style="padding:6px; border-radius:50%"
         *ngIf="!inscriptionConsulaireLoading"></i>

      <!-- Icone de chargement -->
      <i class="fad fa-circle-notch fa-spin m-0 "
         style="line-height: 30px;"
         *ngIf="inscriptionConsulaireLoading"></i>
    </a>

    <!-- Quitter ambassade -->
    <a class="ml-2"
       *ngIf="single.user_inscription_consulaire === 2"
       [ngbTooltip]="'QUITTER' | translate"
       (click)="quitter()"
       [placement]="'bottom'"
       [routerLink]="['./']">

      <!-- Icone  -->
      <i class="fad fa-portal-exit tx-echos2 bg-bluelight"
         style="padding:6px; border-radius:50%"
         *ngIf="!inscriptionConsulaireLoading"></i>

      <!-- Icone de chargement -->
      <i class="fad fa-circle-notch fa-spin m-0 "
         style="line-height: 30px;"
         *ngIf="inscriptionConsulaireLoading"></i>
    </a>
  </ng-container>
</app-profil-institution>


<app-modal [configuration]="{ name: 'ambassade-edit-modal', titre: 'modifierLesDetailsDeLAmbassade', icone: 'landmark' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve'})">
  <app-ambassade-edit *ngIf="edit"></app-ambassade-edit>
</app-modal>



<app-modal [configuration]="{ name: 'inscription-consulaire-modal', titre: 'ajouterUnJustificatifDeResidence', icone: 'file-certificate' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve'})">
  <app-inscription-consulaire-create [parent]="parent"
                                     *ngIf="inscriptionConsulaire">
  </app-inscription-consulaire-create>
</app-modal>


<app-modal [configuration]="{ name: 'motif-inscription-consulaire-modal', titre: 'motifQuitterServiceConsulaire', icone: 'file-certificate' }">
  <app-motif-inscription-consulaire [user]="auth.user.id_inscription"
                                    *ngIf="redigerMotif"
                                    (done)="onMotifTermine()"
                                    [etatInscriptionConsulaire]="5">
  </app-motif-inscription-consulaire>
</app-modal>
