<div class="row row-xs mg-l-0 mg-r-0">
    <ng-container *ngIf="!loading && programmeService.data.length">
        <div class="col-sm-6 col-xl-4" *ngFor="let programme of programmeService.data">
            <div class=" card mg-b-20 bg-light">
                <div class="card-body text-center">
                    <!-- Icone -->
                    <i class="hidden-xs fas fa-tasks-alt tx-40 tx-white bg-info op-5"
                        style="padding:10px; border-radius: 50%; ">
                    </i>

                    <!-- Libelle -->
                    <h5 class="tx-warning tx-14 mt-2  bold">
                        {{ programme.libelle }}
                    </h5>


                    <h5 class="tx-primary tx-13">{{ programme.niveau.libelle }}</h5>

                </div>
                <div class=" card-footer bg-info">
                    <div class="card-body text-center p-0">
                        <a class="link mr-2 tx-white tx-16 clickable">
                            <i class="fal fa-eye tx-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <app-loading *ngIf="loading" class="w-100"></app-loading>
    <app-missing-data
        [message]="'aucunProgrammeSousVotreTutel' | translate"
        *ngIf="!loading && !programmeService.data.length"
        class="w-100">
    </app-missing-data>
</div>