<div style="position: relative;">
  <h6 class=" font-weight-bold my-3  tx-facebook">
    <span class="ml-4">{{ 'PARTICIPANTS' | translate }}</span>

    <div class="float-right">
      <ng-container *ngIf="tunel.user.id_inscription === auth.user.id_inscription">
        <!-- Ajouter participant -->
        <span class="mr-2" (click)="addParticipant = true" placement="left" [ngbTooltip]="'ajouterDesParticipants' | translate">
          <i class="fad fa-user-plus clickable"></i>
        </span>


        <!-- Ajouter participant -->
        <span class="mr-2" (click)="voirDemandesParticipations = true" placement="left" [ngbTooltip]="'voirLesDemandesDeParticipations' | translate">
          <i class="fad fa-user-edit clickable"></i>
        </span>
      </ng-container>


      <ng-container *ngIf="tunel.user.id_inscription !== auth.user.id_inscription">
        <!-- Faire une demande -->
        <span *ngIf="!tunel.is_user_has_demande_participation" class="mr-2" placement="left" [ngbTooltip]="'faireUneDemandeDAdhesion' | translate"
            (click)="faireUneDemandeDAdhesion()">
          <i class="fad fa-users-medical clickable"></i>
        </span>


        <!-- Demande en attente -->
        <span *ngIf="tunel.is_user_has_demande_participation" placement="left" [ngbTooltip]="'annulerDemandeDAdhesion' | translate"
            (click)="annulerDemandeAdhesion()">
          <i class="fad fa-user-times clickable"></i>
        </span>

        <!-- Loading -->
        <span *ngIf="rejoindreGroupeLoading">
          <i class="fad fa-circle-notch fa-spin"></i>
        </span>

      </ng-container>
    </div>

  </h6>

  <app-participant-tunel-list (onChangerPrivilegeMembre)="changerPrivilegeMembre = true"></app-participant-tunel-list>


  <!-- Ajouter participants -->
  <app-overlay *ngIf="addParticipant" (closed)="addParticipant= false">
    <app-participant-tunel-add (fermerAddComponent)="addParticipant= false"></app-participant-tunel-add>
  </app-overlay>

  <!-- Changer privilege participant -->
  <app-overlay *ngIf="changerPrivilegeMembre" (closed)="changerPrivilegeMembre= false">
    <app-changer-privilege-membre-groupe (onFinished)="changerPrivilegeMembre = false"></app-changer-privilege-membre-groupe>
  </app-overlay>

  <!-- Demande paticipation -->
  <app-overlay *ngIf="voirDemandesParticipations" (closed)="voirDemandesParticipations= false">
    <app-demande-adhesion-groupe [getBy]="'tunel'"></app-demande-adhesion-groupe>
  </app-overlay>
</div>
