<!-- Tab content -->
<ul class="nav bg-white mg-0 pd-0 bd-b bd-t" *ngIf="!afficherDetailsUniquement">
  <!-- Details -->
  <li class="nav-item mg-0 pd-0 ">
    <a class="nav-link" routerLinkActive="font-weight-bold" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./']">
      <i class="fal fa-file-alt tx-12 bg-light tx-facebook" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="font-weight-bold">
      </i>
      <span class="tx-facebook">
        {{ 'DETAILS' | translate }}
      </span>
    </a>
  </li>

  <!-- Mode messenger -->
  <li class="nav-item mg-0 pd-0">
    <a class="nav-link " routerLinkActive="font-weight-bold" [routerLink]="['resolution/messenger']">
      <i class="fal fa-sms tx-12 bg-light tx-facebook" routerLinkActive="font-weight-bold"></i>
      <span class="tx-facebook">
        {{ 'modeMessenger' | translate }}
      </span>
    </a>
  </li>

  <!-- Mode commentaire -->
  <li class="nav-item mg-0 pd-0">
    <a class="nav-link " routerLinkActive="font-weight-bold" [routerLink]="['resolution/commentaire']">
      <i class="fal fa-comments tx-12 bg-light tx-facebook" routerLinkActive="font-weight-bold"></i>
      <span class="tx-facebook">
        {{ 'modeCommentaire' | translate }}
      </span>
    </a>
  </li>

  <!-- Solution -->
  <li class="nav-item mg-0 pd-0">
    <a class="nav-link " routerLinkActive="font-weight-bold" [routerLink]="['solution']">
      <i class="fal fa-file-certificate tx-12 bg-light tx-facebook" routerLinkActive="font-weight-bold"></i>
      <span class="tx-facebook">
        {{ 'SOLUTION' | translate }}
      </span>
    </a>
  </li>

  <!-- Tunel -->
  <li class="nav-item mg-0 pd-0">
    <a class="nav-link " routerLinkActive="font-weight-bold" [routerLink]="['tunel']">
      <i class="fal fa-comments-alt tx-12 bg-light tx-facebook" routerLinkActive="font-weight-bold"></i>
      <span class="tx-facebook">
        {{ 'TUNELS' | translate }}
      </span>
    </a>
  </li>

</ul>
<div class="tab-content" style="height: 93%; overflow: auto">

  <div class="d-flex justify-content-center pt-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <router-outlet *ngIf="!loading && single"></router-outlet>
</div>




<app-modal [configuration]="{name: 'solution-tache-create-modal', titre: 'redigerVotreSolution', icone: 'file-certificate'}">
  <app-solution-tache-create></app-solution-tache-create>
</app-modal>
