<app-tache-details-min></app-tache-details-min>
<router-outlet></router-outlet>


<div class="modal animated bounceInDown"
    id="image-viewer-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="reaction-brainstorming-image-viewer-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-0">
            <div class="modal-body p-0">
                <app-image-viewer></app-image-viewer>
            </div>
        </div>
    </div>
</div>