<div class="sl-item bd-b bd-2 bd-white pb-3 d-flex align-items-center"
     [ngClass]="{  ' flex-row-reverse': reversed }">
  <!-- Image profil -->
  <div [ngClass]="{ 'sl-left': !reversed, 'sl-right': reversed }">
    <img class="avatar3"
         *ngIf="reaction?.institution?.institution?.entite_diplomatique?.pays_origine?.drapeau"
         [src]="reaction?.institution?.institution?.entite_diplomatique?.pays_origine?.drapeau"
         [alt]="reaction?.institution?.institution?.entite_diplomatique?.libelle">

    <span *ngIf="!reaction?.institution?.institution?.entite_diplomatique?.pays_origine?.drapeau">
      <i class="fad fa-user-circle"
         style="font-size: 50px;"></i>
    </span>
  </div>

  <!-- Information et reaction -->
  <div [ngClass]="{ 'sl-right': !reversed, 'sl-left': reversed }">
    <!-- Nom et date de la reaction -->
    <div class=" d-flex justify-content-between  mg-b-5 wd-100p">
      <p class="mb-0 w-100"
         [ngClass]="{  'text-right': reversed }">
        <span class="mb-0 ">{{ reaction?.institution?.institution?.entite_diplomatique?.libelle }}</span>
        <span class="tx-yeto">{{ reaction.created_at | date:'dd MMMM' }} - {{ reaction.created_at | date:'hh:mm' }}</span>
      </p>
    </div>

    <!-- REaction -->
    <div class="d-flex align-items-center  "
         [ngClass]="{  'justify-content-start flex-row-reverse': reversed }">
      <!-- Bar vertical -->
      <div class="tx-30 pd-y-20 pd-x-2  "
           [ngClass]="{
                        'bg-primary':
                          helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          ) -
                            1 ==
                            0
                          ,
                          'bg-dribbble': helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          )  - 6 == 0,
                        'bg-warning':
                          helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          ) -
                            2 ==
                            0,
                            'bg-youtube': helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          )  -
                            7 ==
                            0,

                        'bg-success':
                          helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          ) -
                            3 ==
                            0 ,

                            'bg-twitter': helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          )  -
                            8 ==
                            0,

                        'bg-info':
                          helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          ) -
                            4 ==
                            0,
                          'bg-yellow': helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          )  -
                            9 ==
                            0,

                        'bg-danger':
                          helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          ) -  5 ==  0,
                            'bg-facebook': helper.parseInt(
                            reaction?.institution?.institution?.id
                              .toString()
                              .charAt(reaction?.institution?.institution?.id.toString().length - 1)
                          ) ==   0

                      }"></div>

      <div class="reaction"
           [ngClass]="{ 'mg-l-10': !reversed, 'mg-r-10': reversed }">

        <!-- REbondissement -->
        <app-rebondissement-reaction [rebondissement]="reaction.rebondissement">
        </app-rebondissement-reaction>

        <!-- reaction text -->
        <p class="  mb-0  bg-light tx-echos p-2"
           [ngClass]="{ 'mg-l-10': !reversed, 'mg-r-10': reversed }"
           *ngIf="reaction.reaction"
           style="border-radius: 10px 20px 0px 30px"
           [innerHTML]="reaction.reaction">
        </p>

        <div *ngIf="reaction.file"
             [ngClass]="{ 'mg-l-10': !reversed, 'mg-r-10 text-right': reversed }">
          <!-- REaction image -->
          <a [href]="reaction.file.path"
             target="_blank"
             *ngIf="helper.checkExtensions(reaction?.file.path, imageHandlerService.acceptedImageExtension)">
            <img [src]="reaction.file?.path"
                 (click)="afficherImage(reaction.file)"
                 class="reaction__img"
                 [alt]="reaction?.institution?.institution?.entite_diplomatique?.libelle + '_image'">
          </a>


          <!-- Audio -->
          <div class="p-0 ">
            <audio controls
                   class="audio-chat"
                   *ngIf="helper.checkExtension(reaction.file?.path, 'mp3')">
              <source [src]="reaction.file?.path">
            </audio>
          </div>


          <!-- Document -->
          <a class="p-3 alert-info d-inline-block rounded-pill bd clickable"
             [href]="reaction.file.path"
             target="_blank"
             *ngIf="helper.checkExtensions(reaction.file?.path, ['pdf', 'PDF'])">
            <i class="fad fa-file-pdf"></i> {{ reaction.file.name }}
            <i class="fad fa-download float-right ml-4 mr-2 mt-1"></i>
          </a>
        </div>

        <div class="ml-4 tx-10 reaction__cta"
             [ngClass]="{ 'text-right': reversed }">
          <!-- Rebondir -->
          <span class="mr-3 ml-0 clickable"
                (click)="rebondir()"
                [ngbTooltip]="'REBONDIR' | translate">
            <i class="fad fa-comments"></i>
          </span>

          <!-- Supprimer -->
          <span class="clickable"
                (click)="supprimer()"
                [ngbTooltip]="'SUPPRIMER' | translate">
            <i class="fad fa-trash"></i>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
