<ng-container *ngIf="single && !loading">
  <!-- Image -->
  <div class="row mx-0 justify-content-center">
    <div class="d-flex users-icon bg-light clickable align-items-center justify-content-center border rounded-circle">
      <span class="icone">
        <i class="far tx-primary  fa-scroll"></i>
      </span>
    </div>
  </div>

  <!-- Libelle -->
  <h3 class="text-center mb-3">{{ single.libelle }}</h3>

  <!-- Details -->
  <ng-container *ngIf="getLastUrlFragment(router.url) !== 'conditions-admissions'">
    <!-- Assets -->
    <div class="row mx-0">
      <div class="col-12">
        <ul class="list-group-flush p-0 w-100">
          <!-- Type et langue -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- Type -->
            <div>
              <span class="font-weight-bold mr-2">
                <i class="far fa-scroll"></i> {{ 'TYPE' | translate }}:
              </span>
              {{ single.type.libelle }}
            </div>

            <!-- Langue -->
            <div>
              <span class="font-weight-bold mr-2">
                <i class="far fa-language"></i> {{ 'LANGUE' | translate }}:
              </span>
              {{ single.langue.libelle }}
            </div>

          </li>

          <!-- Domaine et niveau -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- Domaine -->
            <div>
              <span class="font-weight-bold mr-2">
                <i class="far fa-boxes"></i> {{ 'DOMAINE' | translate }}:
              </span>
              {{ single.domaine.libelle }}
            </div>

            <!-- Niveau -->
            <div>
              <span class="font-weight-bold mr-2">
                <i class="far fa-sort-amount-up-alt"></i> {{ 'NIVEAU' | translate }}:
              </span>
              {{ single.niveau.libelle }}
            </div>

          </li>
        </ul>
      </div>
    </div>

    <div class="row mx-0">
      <div class="col-12" [innerHTML]="single.description"> </div>
    </div>
  </ng-container>

  <!-- Conditions admissions -->
  <div class="row mt-4 mx-0" *ngIf="getLastUrlFragment(router.url) === 'conditions-admissions'">
    <div class="col-12">
      <h4 class=" tx-14 tx-rubik" style="text-decoration: underline;">Condition d'admission</h4>
    </div>
    <div class="col-12" [innerHTML]="single.condition_admission"> </div>
  </div>

</ng-container>


<app-loading class="my-5" *ngIf="loading"></app-loading>
