<!-- Titre de la tâche -->
<a href="" class="media">
  <!-- Image avatar -->
  <div class="mr-2 ml-1">
    <div class="avatar">
      <span class="avatar-initial rounded-circle bg-primary op-6">MA</span>
    </div>
  </div>

  <!-- Nom de la tache -->
  <div class="d-flex justify-content-between mg-t-6 mg-b-5 wd-100p">
    <div class="d-inline-block">
      <h6 class="mb-0 tx-13 tx-primary">
        {{ single.libelle }}
      </h6>
      <p class="mb-0 tx-gray-600 tx-12">
        <i class="fad fa-lock"></i>
        {{ single.confidentialite.libelle | translate}}
      </p>
    </div>

  </div>
</a>

<!-- Contenu -->
<div class=" row row-xs mg-0  pd-0 clearfix bd-t bg-white bd-b">
  <div class="col-lg-12 mg-l-0">
    <div class=" collapse show" id="collapse10">
      <div class="d-flex justify-content-between">
        <!-- Nav tab -->
        <ul class="nav bd-b">
          <!-- Details info -->
          <li class="pl-2 nav-item">
            <a class=" mg-r-10" [routerLink]="['./']" [fragment]="activeComponent['details'] ? null: 'details'"
                (click)="activateComponent('details')">
              <i class="fal fa-eye  tx-facebook " [ngClass]="{'font-weight-bold': activeComponent['details']}"
                  style="padding:4px; border-radius:50%"></i>
            </a>
          </li>

          <!-- Professeur -->
          <li class="nav-item">
            <a class="mg-r-10" [routerLink]="['./']" [fragment]="activeComponent['professeur'] ? null: 'professeur'"
                (click)="activateComponent('professeur')">
              <i class="fal fa-user-tie  tx-facebook" [ngClass]="{'font-weight-bold': activeComponent['professeur']}"
                  style="padding:4px; border-radius:50%"></i>
            </a>
          </li>

          <!-- groupe -->
          <li class="nav-item">
            <a class="mg-r-10" [routerLink]="['./']" [fragment]="activeComponent['groupe'] ? null: 'groupe'" (click)="activateComponent('groupe')">
              <i class="fal fa-users tx-facebook " [ngClass]="{'font-weight-bold': activeComponent['groupe']}"
                  style="padding:4px; border-radius:50%"></i>
            </a>
          </li>

          <!-- Fichier -->
          <!-- <li class="nav-item">
            <a class="mg-r-10 clickable" (click)="activateComponent('fichier-tache')">
              <i class="fal fa-file-alt  tx-facebook" [ngClass]="{'font-weight-bold': activeComponent['fichier-tache']}"
                  style="padding:4px; border-radius:50%"></i>
            </a>
          </li> -->

          <!-- Plan -->
          <!-- <li class="nav-item">
            <a class="mg-r-10" data-toggle="tab" href="#plans_explores">
              <i class="fal fa-layer-group  tx-facebook"></i></a>
          </li> -->
        </ul>

        <!-- Boutton proposer solution -->
        <div *ngIf="!affectationTache.has_solution && affectationTache.etat == 'enCours'">
          <span class="clickable float-right tx-facebook font-italic font-weight-bold" (click)="helper.toggleModal('solution-tache-create-modal')">
            {{ 'proposerUneSolution' | translate }}....
          </span>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="voir">
          <!-- Details info -->
          <app-tache-details-info-min *ngIf="activeComponent['details']">
          </app-tache-details-info-min>

          <!-- Professeur -->
          <app-professeur-tache-list *ngIf="activeComponent['professeur']">
          </app-professeur-tache-list>


          <!-- Groupe -->
          <app-groupe-tache-list-min *ngIf="activeComponent['groupe']">
          </app-groupe-tache-list-min>
        </div>
      </div>
    </div>
  </div>
</div>
