<div class="row  row-xs clearfix p-2 pl-2"
     *ngIf="liaisonService.data.length && !loading">
  <div class=" col-lg-3  pt-2 pl-2 pr-2 pb-2"
       *ngFor="let liaison of liaisonService.data">
    <div class="mycard4 ">
      <!-- Drapeaux -->
      <div class=" pt-2 pl-2 d-flex align-items-center justify-content-between bd-b border-warning">
        <p class="tx-echos"> <img class=""
               src="assets/images/drapeaux/cv.svg"
               alt="avatar"
               width="40"> {{ 'republiqueDu' | translate }} {{ liaison?.entite_diplomatique?.pays_siege?.libelle }} </p>
      </div>

      <!-- icon -->
      <div class="d-flex justify-content-center p-0">
        <p class="mg-0 pb-4 text-center">
          <span class=" pl-2"> <i class="fad fa-link tx-40  bg-light "
               style="padding:6px ; border-radius:50%"></i></span>

        </p>
      </div>

      <!-- Type -->
      <div class=" text-center ">
        <span class="badge badge-pill badge-warning bg-warning "> {{ 'LIAISON' | translate }}</span>

        <p class="text-center">
          <!-- Langue -->
          <span class=""> Portuguais </span>
          <span class=""> || </span>

          <!-- Pays ambassade -->
          <span class=""> {{liaison.ambassades[0]?.entite_diplomatique?.pays_siege?.libelle }} </span>
          <span class=""> || </span>

          <!-- Bureau -->
          <span class=" tx-success-100 ">
            {{ liaison?.bureau?.libelle }}
          </span>
        </p>
      </div>


      <!-- CTA -->
      <div class=" justify-content-between p-0">
        <p class="mg-0 pt-2">
          <!-- details -->
          <span class=" pl-2"> <i class="fad fa-eye bg-white"
               style="padding:6px ; border-radius:50%"></i></span>

          <!-- Edit -->
          <a class=" pl-2"
             [routerLink]="['./']"
             [fragment]="'edit-liaison'"
             (click)="modifier(liaison)">
            <i class="fad fa-edit bg-white"
               style="padding:6px ; border-radius:50%"></i>
          </a>

          <!-- Supprimer -->
          <a class=" pl-2"
             (click)="supprimer(liaison.id)"
             [routerLink]="['./']">
            <i class="fad fa-trash-alt bg-white"
               style="padding:6px ; border-radius:50%"></i>
          </a>

          <!-- Discussion -->
          <span class=" pl-2"> <i class="fad fa-comment-alt-lines bg-white"
               style="padding:6px ; border-radius:50%"></i></span>


          <!-- Liaison -->
          <span class=" pl-2"> <i class="fad fa-link bg-light  tx-echos "
               style="padding:6px ; border-radius:50%"></i></span>
        </p>
      </div>
    </div>
  </div>

</div>




<div class="my-5"
     *ngIf="loading || !liaisonService.data.length">
  <app-missing-data *ngIf="!loading && !liaisonService.data.length"></app-missing-data>
  <app-loading *ngIf="loading"></app-loading>
</div>
