<div class="row  row-xs clearfix p-2 pl-2"
     *ngIf="liaisonService.data.length && !loading">
  <div *ngFor="let liaison of liaisonService.data |
   paginate: {itemsPerPage: itemsPerPage, id: 'liaison', currentPage: currentPage}"
       class="  pt-2 pl-2 pr-2 pb-2"
       [ngClass]="{
         'col-3': colonne_affichage === 4,
         'col-4': colonne_affichage === 3,
         'col-6': colonne_affichage === 2
      }">
    <div class="mycard4 ">
      <!-- Drapeaux -->
      <div class=" pt-2 pb-2 pl-2 d-flex align-items-center justify-content-between bd-b border-warning">
        <p class="tx-echos"> <img class=""
               [src]="liaison.pays_origine.drapeau"
               [alt]="'drapeau-' + liaison.pays_origine.libelle"
               width="40">
          {{ 'republiqueDu' | translate }} {{ liaison?.pays_origine?.libelle }}
        </p>
      </div>

      <!-- icon -->
      <div class="d-flex justify-content-center p-0">
        <p class="mg-0 pb-4 text-center">
          <span class=" pl-2">
            <i class="fad fa-link tx-40  bg-light "
               style="padding:6px ; border-radius:50%">
            </i>
          </span>
        </p>
      </div>

      <!-- Type -->
      <div class=" text-center ">
        <span class="badge badge-pill badge-warning bg-warning ">
          {{ liaison?.pays_siege?.libelle }}
        </span>

        <p class="text-center">
          <!-- Langue -->
          <span class=""> Langue </span>
          <span class=""> || </span>

          <!-- Pays ambassade -->
          <span class=""
                *ngIf="liaison.ambassade">
            {{liaison.ambassade?.entite_diplomatique?.pays_siege?.libelle }} ||
          </span>

          <!-- Pays consulat -->
          <span class=""
                *ngIf="liaison.consulat">
            {{liaison.consulat?.entite_diplomatique?.pays_siege?.libelle }} ||
          </span>


          <!-- Bureau -->
          <span class=" tx-success-100 ">
            <ng-container *ngIf="liaison.bureau">
              {{ liaison?.bureau?.entite_diplomatique.libelle }}
            </ng-container>
            <!-- No data handling -->
            <ng-container *ngIf="!liaison.bureau">
              {{ 'nonRepresente' | translate}}
            </ng-container>
          </span>
        </p>
      </div>


      <!-- CTA -->
      <div class=" justify-content-between p-0">
        <p class="mg-0 pt-2">
          <!-- details -->
          <a [routerLink]="[liaison.id]"
             [queryParamsHandling]="'preserve'"
             class=" pl-2">
            <i class="fad fa-eye bg-white"
               style="padding:6px ; border-radius:50%">
            </i>
          </a>

          <!-- Edit -->
          <a class=" pl-2"
             [routerLink]="['./']"
             [fragment]="'edit-liaison'"
             (click)="modifier(liaison)">
            <i class="fad fa-edit bg-white"
               style="padding:6px ; border-radius:50%">
            </i>
          </a>

          <!-- Supprimer -->
          <a class=" pl-2"
             (click)="supprimer(liaison.id)"
             [routerLink]="['./']">
            <i class="fad fa-trash-alt bg-white"
               style="padding:6px ; border-radius:50%">
            </i>
          </a>

          <!-- Discussion -->
          <span class=" pl-2">
            <i class="fad fa-comment-alt-lines bg-white"
               style="padding:6px ; border-radius:50%"></i>
          </span>


          <!-- Liaison -->
          <span class=" pl-2">
            <i class="fad fa-link bg-light  tx-echos "
               style="padding:6px ; border-radius:50%"></i>
          </span>
        </p>
      </div>
    </div>
  </div>


  <!-- Pagination control -->
  <div class="col-12 mt-1 d-flex justify-content-center">
    <pagination-controls id="liaison"
                         (pageChange)="currentPage = $event"
                         autoHide="true"
                         previousLabel="{{ 'PRECEDENT' | translate }}"
                         nextLabel="{{ 'SUIVANT' | translate }}">
    </pagination-controls>
  </div>

</div>




<div class="my-5"
     *ngIf="loading || !liaisonService.data.length">
  <app-missing-data-alt *ngIf="!loading &&
                                       !liaisonService.data.length">
  </app-missing-data-alt>
  <app-loading *ngIf="loading"></app-loading>
</div>
