.avatar-initial {
  position: relative;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  padding: 10px;
  /* bottom: 0; */
  background-color: #8392a5;
  color: #fff;
  height: 70px;
  width: 70px;
  font-weight: 700;
  font-size: 20px;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
