<div class="row justify-content-center h-100 align-items-center">
     <h2 class="my-5 w-100 tx-center">Connexion</h2>
     <div class="col-6">
          <form class="custom-placeholder" [formGroup]="form" *ngIf="form" (submit)="connexion()">
               <!-- Emal -->
               <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
                    <div class="col-12">
                         <!-- Label -->
                         <label class="control-label"
                                for="email">
                              {{ 'EMAIL' | translate }}
                         </label>

                         <!-- Input -->
                         <input type="email"
                                class="form-control form-control-sm"
                                required
                                [formControlName]="'email'"
                                [ngClass]="{'is-invalid': shouldShowRequiredError( 'email'), 'is-valid': isValid('email')}">

                         <!-- MEssage d'erreur -->
                         <div *ngIf="shouldShowRequiredError('email')" class="invalid-feedback">
                              {{ 'veuillezSasirVotreEmail' |translate }}.</div>
                    </div>
               </div>


               <!-- Mot de passe -->
               <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
                    <div class="col-12">
                         <!-- Label -->
                         <label class="control-label"
                                for="libelle">
                              {{ 'motDePasse' | translate }}
                         </label>

                         <!-- Input -->
                         <input type="password"
                                class="form-control form-control-sm"
                                required
                                [formControlName]="'password'"
                                [ngClass]="{'is-invalid': shouldShowRequiredError( 'password'), 'is-valid': isValid('password')}">

                         <!-- MEssage d'erreur -->
                         <div *ngIf="shouldShowRequiredError('password')" class="invalid-feedback">
                              {{ 'veuillezSaisirVotreMotDePasse' |translate }}.</div>
                    </div>
               </div>




               <!-- Boutton validation -->
               <div class="d-flex justify-content-center">
                    <div class="col-12 text-right">
                         <!-- Boutton sumit -->
                         <button class="btn btn-sm btn-primary mr-1"
                                 type="submit"
                                 [disabled]="form.invalid">
                              <i class="fad fa-circle-notch fa-spin" *ngIf="loading"></i>
                              {{ 'VALIDER' | translate }}
                         </button>
                    </div>
               </div>

          </form>
     </div>
</div>