<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="create()">
    <!-- Libelle -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <!-- Label -->
            <label class="control-label"
                for="libelle">
                {{ 'LIBELLE' | translate }}
            </label>

            <!-- Input -->
            <input type="text"
                class="form-control form-control-sm"
                required
                [formControlName]="'libelle'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">
                {{ 'veuillezSaisirLeLibelle' |translate }}.</div>
        </div>
    </div>

    <!-- Description -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
            <ckeditor
                [editor]="Editor"
                class=""
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'description'), 'is-valid': isValid('description')}"
                formControlName="description">
            </ckeditor>
            <div *ngIf="shouldShowRequiredError('description')" class="invalid-feedback">
                {{ 'saisissezLaDescriptionDeVotreTache' | translate }}
            </div>
        </div>
    </div>

    <!-- Remarque -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="description">{{ 'REMARQUE' | translate }}</label>
            <ckeditor
                [editor]="Editor"
                class=""
                formControlName="remarque">
            </ckeditor>
        </div>
    </div>

    <!-- Boutton validation -->
    <div class="d-flex justify-content-center">
        <div class="col-10 text-right">
            <!-- Boutton sumit -->
            <button class="btn btn-sm btn-primary mr-1"
                type="submit"
                [disabled]="form.invalid">
                {{ 'VALIDER' | translate }}
            </button>

            <!-- Bouton reset -->
            <button class="btn btn-sm border btn-link"
                type="button"
                (click)="initialiseForm()">
                {{ 'REINITIALISER' | translate }}
            </button>
        </div>
    </div>
    <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="libelle">Orientation</label>
            <textarea name="orientation" maxlength="200" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'orientation'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'orientation'), 'is-valid': isValid('orientation')}"></textarea>
            <small>{{editForm.get('orientation').value?.length}}/200</small>
            <div *ngIf="shouldShowRequiredError('orientation')" class="invalid-feedback">veillez saisir l'orientation.
            </div>
        </div>
    </div> -->
</form>

<app-loading *ngIf="!isFormOk"></app-loading>