<tr *ngIf="membership">
  <td class="d-flex pd-y-10-force">
    <!-- Image user -->
    <div class="avatar mr-2">
      <img [src]="membership.membre_details.photo.path" class="img-fluid wd-35 ht-35 rounded-circle" alt="">
    </div>

    <div class="d-block">
      <a href="" class="my-0 mt-1 tx-15">{{ membership.membre_details.nom_complet }}</a>
      <p class="tx-12 tx-gray-500 mg-0">{{ membership.type_membre_details.libelle | translate}}</p>
    </div>
  </td>
  <td class="tx-right align-middle">
    <a href="" class="btn btn-sm btn-label-primary" [ngClass]="{
      'btn-label-success': index.toString().slice(-1) == 1,
      'btn-label-warning': index.toString().slice(-1)  == 2,
      'btn-label-indigo': index.toString().slice(-1) == 3,
      'btn-label-facebook': index.toString().slice(-1) == 4,
      'btn-label-teal': index.toString().slice(-1) == 5,
      'btn-label-pink': index.toString().slice(-1) == 6,
      'btn-label-purple': index.toString().slice(-1) == 7,
      'btn-label-danger': index.toString().slice(-1) == 8,
      'btn-label-secondary': index.toString().slice(-1) == 9,
      'btn-label-primary': index.toString().slice(-1) == 0
    }">{{ 'CONTACTER' | translate }}</a>
  </td>
</tr>
