<!-- Header -->
<app-header></app-header>


<div class="page-container">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="page-content">
    <div class="tab-content" style="height: 94.4%">
      <div class="tab-pane fade active show h-100" id="explore_school">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="pd-t-4 pd-b-0 pd-x-20">
        <div class="tx-10 tx-uppercase">
          <p class="pd-y-10 mb-0">Copyright© 2021 | All rights reserved. | Created By <a href="#" target="_blank">Open2sw</a></p>
        </div>
      </div>
    </footer>
  </div>
</div>




<app-modal [configuration]="{
    name: 'tunel-create-modal',
    titre: 'creerUnTunel',
    icone: 'comments-alt'
  }">
  <app-tunel-create></app-tunel-create>
</app-modal>

<!-- <app-modal-sidebar [configuration]="{name: 'reaction-tunel-modal', titre: 'TUNEL', icone: 'comments-alt'}">
  <app-reaction-tunel></app-reaction-tunel>
</app-modal-sidebar> -->

<app-discussion-min></app-discussion-min>


<ng-template #profilePopOver>
  <app-profile></app-profile>
</ng-template>
