<div class="sl-item p-0" *ngIf="data.length">
  <!-- Icone groupe -->
  <div class="sl-left">
    <span class="wd-40 ht-40 card-icon-gris d-flex align-items-center justify-content-center rounded-circle hidden-xs op3">
      <i class="fal fa-users tx-16 tx-primary"></i>
    </span>
  </div>

  <!-- Content groupe -->
  <div class="sl-right">
    <!-- Titre -->
    <div>
      <span class="tx-gray-600 tx-16">
        {{ 'groupeDAffectation' | translate }}
      </span>
    </div>
    <div class="bg-bluelight1 pd-y-10 p-2">
      <a class="badge badge-pill badge-light bg-white tx-info" [routerLink]="['..', '..', '..', 'groupe', groupe.id]" *ngFor="let groupe of data">
        {{ groupe.libelle }}
      </a>

      <!-- <span
      class="badge badge-pill badge-light bg-white tx-success" -->
      <!-- <span
                class="badge badge-pill badge-light bg-white tx-success">Equipes
                II</span>
            <span
                class="badge badge-pill badge-light bg-white tx-yeto2">Equipes
                III</span> -->
    </div>

  </div>
</div>
