<div class="row">
  <div class="col-12 p-0">
    <ul class="list-group" *ngIf="membreGroupeService.data.length && !loading">
      <li class="list-group-item" *ngFor="let participant of membreGroupeService.data">

        <img [src]="participant.membre_details.photo.path" class="border rounded-circle" [alt]="participant.membre_details.nom_complet"
            style="width: 40px; margin-top: -25px;">

        <div class="ml-2 d-inline-block">
          {{ participant.membre_details.nom_complet }} <br>
          <span [ngClass]="{
            'text-success': participant.type_membre_details.id === 1,
            'text-primary': participant.type_membre_details.id === 2,
            'tx-facebook': participant.type_membre_details.id === 3
          }" class="text-success" style="font-size: 12px;">{{ participant.type_membre_details.libelle | translate }}</span>
        </div>


        <!-- Actions -->
        <div class="d-inline-block mt-2 float-right" *ngIf="participant.membre_details.id !== tunel.user.id_inscription">
          <!-- Privilege -->
          <span class="mr-2 clickable" (click)="changerPrivilege(participant)">
            <i class="far fa-user-crown "></i>
          </span>

          <!-- Delete -->
          <span class="mr-2 clickable" (click)="supprimer(participant.id)">
            <i class="far fa-trash "></i>
          </span>
        </div>
      </li>
    </ul>

    <app-loading *ngIf="loading"></app-loading>
    <app-missing-data *ngIf="!membreGroupeService.data.length && !loading"></app-missing-data>
  </div>
</div>
