.tx-yeto{color: #012a56   !important}
	.tx-yeto2{color:  #845e08  }
	.tx-rouge{color: #f2d7d5 }
	.tx-vert{color: #a9dfbf  }
	.tx-jaune{color: #eff28c   }
	.tx-bleu{color: #a9cce3    }
	.tx-violet{color:  #d7bde2 }
	.tx-orange{color:  #f5cba7 }
	.tx-rouge1{color: #f5b7b1  }
	.tx-vert1{color: #abebc6   }
	.tx-jaune1{color:  #f9e79f }
	.tx-bleu1{color: #aed6f1 }
	.tx-violet1{color: #d2b4de }
	.tx-orange1{color: #edbb99 }
	
	.tx-yellow{color: #eff28c }
	.tx-yellow1{color:  #f9e79f  }
	.tx-seed{color: #0b5345}
.bg-yeto1{color:#fff;background:  #012a56  !important}
	.bg-yeto2{color:#fff;background:  #845e08  !important}
	.bg-yeto{color:#fff;background:   rgb( 1, 42, 86, 0.8)   !important}
	.bg-sidebar{color:#fff;background: #154360 !important}
	.bg-sidebar-seed{color:#fff;background:#7ab800 !important}
	
	
	.tx-success-100{color:#7ab800}
	.tx-success-200{color: #145a32 }
 .nav-area{
	position: fixed;
		padding:0;
		margin:0;
		background-color:#fff;
		letter-spacing:2px;
		width:70px;
		height: 100%;
		right: 0;
		font-family:Times New Roman;
		font-size:5px;
		line-height:0px;
 }
 
 .nav-area a,
 .nav-area a:link,
 .nav-area a:visited,
 .nav-area a:focus{
	 color: #fff;
	 text-decoration:none;
	 font-weight:bold;
 }
 
 .nav-area a:hover{
	 color:red;
	 text-decoration:none;
 }
 
 .nav-area > li{
	 display: block;
	 text-align: left;
 }
 
 .nav-area > li > a{
	 padding: 20px 18px;
	 display: block;
 }
 .nav-area > li:hover{
	 background-color:#fff;
 }
 
 .nav-area > li > .sub-nav{
	list-style: none;
	top: 0;
	right:50px;
	width: 300px;
	min-height:100%;
	text-align:left;
	margin-top:0px;
	padding:0;
	z-index:99;
	overflow:hidden;
	opacity:0;
	visibility: hidden;
	position:absolute;
 }
 
 .nav-area > li:hover .sub-nav{
	opacity:1;
	visibility: visible;
	margin-top:0;
	background:#fff;
	}
	 
	 .nav-area ul li:hover:after{
		 color: #247c9d;
	 }
	 .nav-area .sub-menu{
		 width:100%;
		 float: left;
		 color:#fff;
		 margin: 0 0 0 15px;
	 }
 
 .nav-area .sub-menu ul{
	 padding: 0;
	 margin:0;
 }
 
 .nav-area .sub-menu ul li{
	 padding:0;
	 list-style: none;
	 font-size: 12px;
 }
 
 .nav-area .sub-menu h3{
	 font-size: 20px;
	 padding: 10px 10px;
	 font-weight: bold;
	 margin: 30px 30px 30px 0;
	 color: #fff;
	 background: #012a56;
 }
 .nav-area .sub-menu ul li a{
	 display: block;
	 padding: 0 0 15px 0;
	 color: #247c9d;
 } 
 
 .nav-area .sub-menu u li a:hover{
	 color: #012a56;
 }
 
 .nav-area > li > ul li ul,
 .nav-area li > ul li,
 .nav-area > li > .sub-nav,
 .nav-area > li > ul ,
 .nav-area > li {
	 -webkit-transition: all 0.8s easy-in-out;
	 -moz-transition: all 0.8s easy-in-out;
	 ms-transition: all 0.8s easy-in-out;
	 -o-transition: all 0.8s easy-in-out;
	 transition: all 0.8s easy-in-out;