<div class="row row-xs mg-0 pd-0 pd-y- bd-b" style="position: relative;">
  <!-- Sidebar -->
  <div class="bg-light col-lg-3 p-1" style="padding-left: 0px; padding-right: 0px">
    <app-dernieres-discussions *ngIf="router.url.match(modulePathsRegex['explore-professeur'])
        || router.url.match(modulePathsRegex['administration-etablissement']) ">
    </app-dernieres-discussions>

    <app-sujet *ngIf="router.url.match(modulePathsRegex['groupe'])
    || router.url.match(modulePathsRegex['explore-reseaux']) "></app-sujet>
  </div>

  <!-- Reaction -->
  <div class="col-lg-9 p-0">
    <app-reaction-discussion></app-reaction-discussion>
  </div>


</div>
