<router-outlet></router-outlet>


<!-- <div class="row row-xs clearfix  mg-0 pd-0 p-0 pt-4 ">

  <div class=" col-lg-3 pr-2  pl-4 ">
    <div class="row row-xs clearfix pt-4 bd-b pb-2 mg-0 pd-0 bg-bluelight">
      <div class="col-lg-12">
        <h6 class="text-center tx-primary"> Bureau du Gabon</h6>
        <div class="image text-center pb-2"> <img src="assets/images/drapeaux/cg.svg"
               class="rounded"
               width="80"> </div>
        <h6 class="text-center tx-primary"> République du Congo</h6>
        <p class="text-center mb-0 ether2"> Congo - Brazzaville</p>
        <p class="text-center tx-warning tx-12	"> Depuis : 02 Juillet 2021 </p>

        <p class="text-center tx-ether2 tx-14	"> Unité - Travail - Progrés</p>
      </div>
    </div>
    <div class=" text-center pt-1 pb-1 ">
      <a class="ml-2"> <i class="fad fa-comment-alt-lines tx-echos2 bg-bluelight"
           style="padding:10px; border-radius:50%"></i></a>
      <a class="ml-2"> <i class="fad fa-page-break tx-echos2 bg-bluelight"
           style="padding:6px; border-radius:50%"></i></a>
    </div>

    <div class=" ">
      <ul class="list-group list-group-flush tx-13 bg-bluelight ">
        <li class="list-group-item d-flex pd-sm-x-0 bd-b ">
          <div class="mr-2 ">
            <i class="fad fa-phone-office tx-ether2 tx-20"></i>
          </div>
          <div class="pd-sm-l-10 pt-1">
            <p class="tx-ether2 mg-b-0 tx-bold"> +221 00 000 00 00</p>
          </div>
        </li>
        <li class="list-group-item d-flex pd-sm-x-0 bd-b ">
          <div class="mr-2 "><i class="fad fa-mobile-android tx-ether2 tx-20"></i></div>
          <div class="pd-sm-l-10 pt-1">
            <p class="tx-ether2 mg-b-0 tx-bold"> +221 00 000 00 00</p>
          </div>
        </li>

        <li class="list-group-item d-flex pd-sm-x-0 bd-b ">
          <div class="mr-2 ">
            <i class="fad fa-at tx-ether2 tx-20"></i>
          </div>
          <div class="pd-sm-l-10 pt-1">
            <p class="tx-ether2 mg-b-0 tx-bold"> mail@mail.com</p>

          </div>
        </li>
        <li class="list-group-item d-flex pd-sm-x-0 bd-b">
          <div class="mr-2 ">
            <i class="fad fa-globe tx-ether2 tx-20"></i>
          </div>
          <div class="pd-sm-l-10 pt-1">
            <p class="tx-ether2 mg-b-0 tx-bold"> www.site.cg</p>

          </div>
        </li>
        <li class="list-group-item d-flex pd-sm-x-0 bd-b ">
          <div class="mr-2 ">
            <i class="fad fa-map-marker-alt tx-ether2 tx-20"></i>
          </div>
          <div class="pd-sm-l-10 pt-1">
            <p class="tx-ether2 mg-b-0 tx-bold"> Liberte 5 Avenue du loyer villa 2345 </p>

          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class=" col-lg-9 pr-2 ">
    <div class="col-md-12 col-lg-12">

      <div class="card-body collapse show"
           id="collapse4">

        <button type="button"
                class="btn btn-brand btn-css3">
          <i class="fas fa-link"></i><span> Lier vous</span>
        </button>
        <button type="button"
                class="btn btn-brand btn-github">
          <i class="fas fa-chair-office"></i><span>Bureaux</span>
        </button>
        <button type="button"
                class="btn btn-brand btn-dropbox">
          <i class="fas fa-landmark"></i><span> Amabassades</span>
        </button>


      </div>
    </div>
    <div class="card mg-b-20">
      <div class=" collapse show"
           id="collapse9">
        <ul class="nav bd-b bd-2 bd-facebook">
          <li class="nav-item">
            <a class="nav-link tx-echos"
               data-toggle="tab"
               href="#bureaux_services"><i class="fad fa-user-crown  tx-20"></i> Postes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tx-echos"
               data-toggle="tab"
               href="#bureaux_services"><i class="fad fa-user-crown  tx-20"></i> Services</a>
          </li>
          <li class="nav-item">

            <a class="nav-link tx-echos "
               data-toggle="tab"
               href="#bureaux_citoyens"><i class="fad fa-user-circle  tx-20"></i> Citoyens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tx-echos"
               data-toggle="tab"
               href="#bureaux_groupements"><i class="fad fa-users  tx-20"></i> Groupements</a>
          </li>


        </ul>
        <div class="tab-content">

          <div class="tab-pane fade active show"
               id="bureaux_citoyens">

            <div class="row row-xs clearfix mg-0 pd-0  ">
              <div class="col-lg-12 pl-2 pt-2 pr-4">
                <div class="">
                  <h5 class="pt-2 pb-2 tx-bold tx-16"><i class="fad fa-bars  tx-20"></i> Tapez un nom pour rechercher un ressortissant de chez vous
                  </h5>
                </div>
                <div class=" mycard4 mt-4">
                  <div class="d-flex justify-content-between mg-0 pd-0  ">
                    <div class="col-lg-5">
                      <div class="form-group  pl-2">
                        <div class="input-group pt-2"
                             style="width:340px">
                          <input type="text"
                                 class="form-control pd-y-10  tx-white"
                                 placeholder="Recherche..."
                                 style="border-radius: 50px 50px 50px 50px; background-image: linear-gradient(to right,#f3f4f5,#f3f4f5); ">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="input-group pt-2 ">
                        <select class="custom-select border-0  bg-light"
                                id="inputGroupSelect02">
                          <option selected> Profils ...</option>
                          <option value="1"> Etudiants</option>
                          <option value="2"> Travailleurs</option>
                          <option value="3"> Etudiant - Travailleur</option>
                          <option value="3"> Transitaires</option>
                          <option value="3"> Neutres</option>
                          <option value="3"> Diplômates</option>

                        </select>
                        <select class="custom-select border-0  bg-light"
                                id="inputGroupSelect02">
                          <option selected> Domaines...</option>
                          <option value="1"> Académique</option>
                          <option value="2"> Business</option>
                          <option value="3"> Partenariat</option>
                          <option value="3"> Diplômatique</option>
                        </select>
                        <select class="custom-select border-0 bg-light "
                                id="inputGroupSelect02">
                          <option selected> Sous domaine...</option>
                          <option value="1"> Important</option>
                          <option value="2"> Moins Important</option>
                        </select>

                      </div>
                    </div>
                    <div class="col-lg-2  pt-2">
                      <ul class="nav ">
                        <li class="nav-item tx-ether"><a class="nav-link3  tx-yeto "
                             data-toggle="tab"
                             href="#filtrer"><i class="fal fa-filter  tx-14 "
                               style="padding:6px; border-radius:50%"></i> Filtrer</a></li>
                      </ul>


                    </div>
                  </div>
                </div>






              </div>



            </div>
          </div>
          <div class="tab-pane fade "
               id="les_groupements">
          </div>
          <div class="tab-pane fade "
               id="les-services">
            <div class="row row-xs clearfix pt-4 bd-b pb-2 mg-0 pd-0  ">

              <div class="col">
                <div class="image text-center"> <img class="rounded-circle ml--10"
                       src="assets/images/xs/avatar4.jpg"
                       alt="avatar"
                       width="100"> </div>
                <h6 class="text-center tx-ether pt-2"> Son Excellence Monsieur le Ministre des Affaires Etrangères</h6>
                <h6 class="text-center tx-ether pt-2"> Jean - Claude GAKOSSO</h6>
                <p class="text-center">
                  <span class=""> Congo</span>
                  <span class=""> || </span>
                  <span class="tx-bold"> Brazzaville </span>
                </p>
              </div>
            </div>
            <div class="row row-xs clearfix mg-0 pd-0  ">
              <div class="col-lg-12 pl-2 pt-2 pr-4">
                <div class="">
                  <h5 class="pt-2 pb-2 tx-bold tx-16"><i class="fad fa-user-circle  tx-20"></i> Liste des membres du cabinet </h5>
                </div>
                <div class=" mycard4 mt-4">
                  <div class="d-flex justify-content-between mg-0 pd-0  ">
                    <div class="col-lg-5">
                      <div class="form-group  pl-2">
                        <div class="input-group pt-2"
                             style="width:340px">
                          <input type="text"
                                 class="form-control pd-y-10  tx-white"
                                 placeholder="Recherche..."
                                 style="border-radius: 50px 50px 50px 50px; background-image: linear-gradient(to right,#f3f4f5,#f3f4f5); ">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="input-group pt-2 ">
                        <select class="custom-select border-0  bg-light"
                                id="inputGroupSelect02">
                          <option selected> Profils ...</option>
                          <option value="1"> Etudiants</option>
                          <option value="2"> Travailleurs</option>
                          <option value="3"> Etudiant - Travailleur</option>
                          <option value="3"> Transitaires</option>
                          <option value="3"> Neutres</option>
                          <option value="3"> Diplômates</option>

                        </select>
                        <select class="custom-select border-0  bg-light"
                                id="inputGroupSelect02">
                          <option selected> Domaines...</option>
                          <option value="1"> Académique</option>
                          <option value="2"> Business</option>
                          <option value="3"> Partenariat</option>
                          <option value="3"> Diplômatique</option>
                        </select>
                        <select class="custom-select border-0 bg-light "
                                id="inputGroupSelect02">
                          <option selected> Sous domaine...</option>
                          <option value="1"> Important</option>
                          <option value="2"> Moins Important</option>
                        </select>

                      </div>
                    </div>
                    <div class="col-lg-3  pt-2">
                      <ul class="nav ">
                        <li class="nav-item tx-ether"><a class="nav-link3  tx-yeto "
                             data-toggle="tab"
                             href="#filtrer"><i class="fal fa-filter  tx-14 "
                               style="padding:6px; border-radius:50%"></i> Filtrer</a></li>
                        <li class="nav-item tx-ether"><a class="nav-link3  tx-yeto "
                             data-toggle="tab"
                             href="#filtrer"><i class="fal fa-plus  tx-14 "
                               style="padding:6px; border-radius:50%"></i> Nouveau</a></li>
                      </ul>


                    </div>
                  </div>
                </div>


                <div class="row row-xs clearfix mg-0 pd-0 pt-4 p-2">
                  <div class="col-lg-3">
                    <div class="mycard4 ">
                      <div class="avatar5"> <img class="rounded-circle "
                             src="assets/images/xs/avatar7.jpg"
                             alt="avatar"
                             width="70"> </div>
                      <div class="mycard-text pt-4 pb-2">
                        <span class="date tx-bold tx-yeto tx-16"> Backoulas Fortuné Alain Junior</span>
                        <p class="mb-0 "><small> Inscrit dépuis le: 23 Septembre 2021</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mycard4 ">
                      <div class="avatar5"> <img class="rounded-circle "
                             src="assets/images/xs/avatar7.jpg"
                             alt="avatar"
                             width="70"> </div>
                      <div class="mycard-text pt-4 pb-2">
                        <span class="date tx-bold tx-yeto tx-16"> Backoulas Fortuné Alain Junior</span>
                        <p class="mb-0 "><small> Inscrit dépuis le: 23 Septembre 2021</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mycard4 ">
                      <div class="avatar5"> <img class="rounded-circle "
                             src="assets/images/xs/avatar7.jpg"
                             alt="avatar"
                             width="70"> </div>
                      <div class="mycard-text pt-4 pb-2">
                        <span class="date tx-bold tx-yeto tx-16"> Backoulas Fortuné Alain Junior</span>
                        <p class="mb-0 "><small> Inscrit dépuis le: 23 Septembre 2021</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mycard4 ">
                      <div class="avatar5"> <img class="rounded-circle "
                             src="assets/images/xs/avatar7.jpg"
                             alt="avatar"
                             width="70"> </div>
                      <div class="mycard-text pt-4 pb-2">
                        <span class="date tx-bold tx-yeto tx-16"> Backoulas Fortuné Alain Junior</span>
                        <p class="mb-0 "><small> Inscrit dépuis le: 23 Septembre 2021</small></p>
                      </div>
                    </div>
                  </div>

                  <div class="card-body collapse show"
                       id="collapse5">
                    <nav>
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link"
                             href="#"
                             tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                             href="#">1</a></li>
                        <li class="page-item"><a class="page-link"
                             href="#">2</a></li>
                        <li class="page-item"><a class="page-link"
                             href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link"
                             href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [configuration]="{ name: 'affecter-bureau-modal', titre: 'affecterUnBureau', icone: 'exchange', taille: 'md' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-affectation-bureau *ngIf="affecter"
                          [bureau]="single">
  </app-affectation-bureau>
</app-modal>



<app-modal [configuration]="{ name: 'bureau-edit-modal', titre: 'modifierLesDetailsDuBureau', icone: 'lamp-desk' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' }); edit = false">
  <app-common-edit *ngIf="edit"
                   [configuration]="{ endpoint: 'bureaux', name: 'bureau', hasDescription: true, item: single, submitButtonClass: 'btn-primary' }"
                   [extraFields]="{pays: single.pays, ministere: ministere?.id, ambassade: ambassade?.id }"
                   (itemEdited)="onBureauEdit($event.item)">
  </app-common-edit>
</app-modal> -->
