<h4 class="text-center tx-rubik my-2">{{ 'GROUPES' | translate}}</h4>
<div class="groupe-container">


  <h4 class="tx-facebook" style="font-size: 13px">{{ 'listeDesGroupes' | translate }}</h4>

  <!-- Liste des groupes -->
  <div class="card mg-b-20 mt-2 border-top border-bottom">
    <div class="card-body collapse show" id="recentComment">
      <!-- Eleves -->
      <div class="media-list" *ngIf="groupeService.data.length && !loading">
        <ng-container *ngFor="let groupe of groupeService.data">
          <a class="card-list d-block d-flex justify-content-between clickable" [routerLink]="['..', '..', '..', 'groupes', groupe.id]">
            <img src="https://via.placeholder.com/100x100" *ngIf="!groupe.image" class="img-fluid wd-50 ht-50 rounded-circle" alt="">
            <img [src]="groupe.image?.path" *ngIf="groupe.image" class="img-fluid wd-50 ht-50 rounded-circle" alt="">
            <div class="ml-3 flex-1">
              <h3 class="tx-dark tx-13">
                {{ groupe.libelle }}
                <span class="small float-right tx-gray-500">{{ groupe.created_at | date }}</span>
              </h3>
              <p class="mb-1 tx-11" [innerHTML]="helper.strcut(groupe.description, 120)"></p>
              <div class="mb-0 tx-12 d-flex justify-content-between">
                <div><span class="font-weight-bolder mr-2">{{ 'TYPE' | translate }}:</span> {{ groupe.type.libelle }}</div>
                <div><span class="font-weight-bolder mr-2">{{ 'nombreDeMembres' | translate }}:</span>{{ groupe.nombre_membres }}</div>
              </div>

            </div>
          </a>
          <hr>
        </ng-container>
      </div>

      <!-- loading -->
      <div class="my-5" *ngIf="loading">
        <app-loading></app-loading>
      </div>

      <!-- No data handling -->
      <app-missing-data *ngIf="!loading && !groupeService.data.length"></app-missing-data>
    </div>

  </div>
</div>
