<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="create()">
    <!-- Libelle  et code-->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <!-- Libelle -->
        <div class="col-5">
            <!-- Label -->
            <label class="control-label"
                for="libelle">
                {{ 'LIBELLE' | translate }}
            </label>

            <!-- Input -->
            <input type="text"
                class="form-control form-control-sm"
                required
                [formControlName]="'libelle'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">
                {{ 'veuillezSaisirLeLibelle' |translate }}.</div>
        </div>

        <!-- Code -->
        <div class="col-5">
            <!-- Label -->
            <label class="control-label"
                for="code">
                {{ 'CODE' | translate }}
            </label>

            <!-- Input -->
            <input type="number"
                class="form-control form-control-sm"
                required
                [formControlName]="'code'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'code'), 'is-valid': isValid('code')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('code')" class="invalid-feedback">
                {{ 'veuillezSaisirLeCodeDeLaClasse' |translate }}.</div>
        </div>
    </div>


    <!-- Description -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
            <!-- <textarea name="description" maxlength="500" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'description'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'description'), 'is-valid': isValid('description')}"></textarea> -->
            <ckeditor
                [editor]="Editor"
                class=""
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'description'), 'is-valid': isValid('description')}"
                formControlName="description">
            </ckeditor>
            <div *ngIf="shouldShowRequiredError('description')" class="invalid-feedback">
                {{ 'veuillezSaisirLaDescriptionDeLaClasse' | translate }}
            </div>
        </div>
    </div>

    <!-- formation et capacite -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- formation -->
        <div class="col-5">
            <!-- Label -->
            <label class="control-label"
                for="formation">
                {{ 'FORMATION' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="formationLoading"></i>
            </label>

            <angular2-multiselect
                [data]="formations"
                [settings]="dropdownSettingsAlt.single"
                formControlName="formation"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'formation'), 'is-valid': isValid('formation')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('formation')"
                class="invalid-feedback">
                {{ 'choisissezUneformation' | translate }}.
            </div>
        </div>

        <!-- capacite -->
        <div class="col-5">
            <!-- Label -->
            <label class="control-label"
                for="capacite">
                {{ 'CAPACITE' | translate }}
            </label>

            <!-- Input -->
            <input type="number"
                class="form-control form-control-sm"
                required
                [formControlName]="'capacite'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'capacite'), 'is-valid': isValid('capacite')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('capacite')" class="invalid-feedback">
                {{ 'veuillezSaisirLaCapaciteDeLaClasse' |translate }}.</div>
        </div>

    </div>

    <!-- Date de debut et Date de fin-->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- Debut -->
        <div class="col-5">
            <!-- Label -->
            <label for="type"
                class="label-template-form">
                {{ 'dateDeDebut' | translate }}
            </label>

            <!-- Date picker -->
            <div class="input-group mb-2">
                <input [dpDayPicker]="configCalendrier.day" [theme]="'dp-material'"
                    formControlName="debut" class="form-control ">
                <div class="input-group-prepend">
                    <div class="input-group-text  bg-light"><i class="fal fa-calendar"></i>
                    </div>
                </div>
            </div>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('debut')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneDateDebut' | translate }}.
            </div>
        </div>

        <!-- Fin -->
        <div class="col-5">
            <!-- Label -->
            <label for="type"
                class="label-template-form">
                {{ 'dateDeFin' | translate }}
            </label>

            <!-- Date picker -->
            <div class="input-group mb-2">
                <input [dpDayPicker]="configCalendrier.day" [theme]="'dp-material'"
                    formControlName="fin" class="form-control ">
                <div class="input-group-prepend">
                    <div class="input-group-text  bg-light"><i class="fal fa-calendar"></i>
                    </div>
                </div>
            </div>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('fin')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneDateDeFin' | translate }}.
            </div>
        </div>
    </div>


    <!-- Boutton validation -->
    <div class="d-flex justify-content-center">
        <div class="col-10 text-right">
            <!-- Boutton sumit -->
            <button class="btn btn-sm btn-primary mr-1"
                type="submit"
                [disabled]="form.invalid">
                {{ 'VALIDER' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
            </button>
        </div>
    </div>
    <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="libelle">Orientation</label>
            <textarea name="orientation" maxlength="200" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'orientation'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'orientation'), 'is-valid': isValid('orientation')}"></textarea>
            <small>{{editForm.get('orientation').value?.length}}/200</small>
            <div *ngIf="shouldShowRequiredError('orientation')" class="invalid-feedback">veillez saisir l'orientation.
            </div>
        </div>
    </div> -->
</form>

<app-loading *ngIf="!isFormOk"></app-loading>