<ng-container *ngIf="single && !loading">
  <!-- Image -->
  <div class="row mx-0 justify-content-center">
    <div class="d-flex users-icon bg-light clickable align-items-center justify-content-center border rounded-circle">
      <span class="icone">
        <i class="far tx-primary  fa-users-class"></i>
      </span>
    </div>
  </div>

  <!-- Libelle -->
  <h3 class="text-center mb-3">{{ single.libelle }}</h3>

  <!-- Details -->

  <!-- Assets -->
  <div class="row mx-0">
    <div class="col-12 p-0">
      <ul class="list-group-flush p-0 w-100">
        <!-- Code -->
        <li class="list-group-item d-flex justify-content-between align-items-center">

          <span class="font-weight-bold mr-2">
            <i class="far fa-barcode-alt"></i> {{ 'CODE' | translate }}:
          </span>
          {{ single.code }}
        </li>

        <!-- Capacité -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="font-weight-bold mr-2">
            <i class="far fa-users-class"></i> {{ 'CAPACITE' | translate }}:
          </span>
          {{ single.capacite | translate }}


        </li>

        <!-- Date -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="font-weight-bold mr-2">
            <i class="far fa-calendar-alt"></i> {{ 'DATE' | translate }}:
          </span>
          {{ single.debut | date }} - {{ single.fin | date }}
        </li>


        <!-- formation -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="font-weight-bold mr-2">
            <i class="far fa-chalkboard-teacher"></i> {{ 'FORMATION' | translate }}:
          </span>
          {{ single.formation.libelle | translate }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Description -->
  <div class="row mx-0">
    <div class="col-12" [innerHTML]="single.description"> </div>
  </div>


</ng-container>


<app-loading class="my-5" *ngIf="loading"></app-loading>
