.brand-card {
  font-size: 23px;
  transition: all 0.25s cubic-bezier(0.87, -0.61, 0.36, 1.67);

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .hover {
    &--border-dribbble:hover {
      color: #ea4c8a !important;
    }

    &--border-twitter:hover {
      color: #00aced !important;
    }

    &--border-flickr:hover {
      color: #ff0084 !important;
    }

    &--border-facebook:hover {
      color: #3b5998 !important;
    }

    &--border-google-plus:hover {
      color: #d34836 !important;
    }

    &--border-instagram:hover {
      color: #da2e76 !important;
    }

    &--border-teal:hover {
      color: #00b297 !important;
    }

    &--border-linkedin:hover {
      color: #4875b4 !important;
    }

    &--border-pinterest:hover {
      color: #c51f26 !important;
    }

    &--border-youtube:hover {
      color: #f70000 !important;
    }

    &--border-primary:hover {
      color: #0866c6 !important;
    }

    &--border-indigo:hover {
      color: #de08e6 !important;
    }

    &--border-warning:hover {
      color: #eac459 !important;
    }
  }

  &-header {
    &:hover {
      background-color: #f8f9fa !important;
    }
  }
}
