<section class="py-0 font-1">
  <div class="container-fluid ">
    <div class="row h-full ">

      <div class="col-lg-2  pl-4 pt-8  pl-4 text-left ">

      </div>

      <div class="col-lg-6 text-center  ml-8">
        <a class="navbar-brand overflow-hidden "
           href="o2sw.html">
          <img src='assets/images/o2sw.svg'
               alt='logo'
               width='140px'>
        </a>
        <div class="my-5">
          <app-loading></app-loading>
        </div>
      </div>
      <div class="col-lg-2  pl-4 pt-8  pl-4 text-left ">

      </div>
    </div>
  </div>
</section>
