<!-- Filtre -->
<div class="form-group mb-0 bd-b pd-6">
  <div class="input-group">
    <select class="custom-select border-0 tx-yeto2" id="inputGroupSelect02">
      <option selected>Ministères...</option>
      <option value="1">Académique</option>
      <option value="2">Business</option>
      <option value="3">Partenariat</option>
      <option value="3">Diplômatique</option>
    </select>
    <select class="custom-select border-0 tx-yeto2" id="inputGroupSelect02">
      <option selected>Inspections...</option>
      <option value="1">Académique</option>
      <option value="2">Business</option>
      <option value="3">Partenariat</option>
      <option value="3">Diplômatique</option>
    </select>
    <select class="custom-select border-0 tx-yeto2" id="inputGroupSelect02">
      <option selected>Directions...</option>
      <option value="1">Académique</option>
      <option value="2">Business</option>
      <option value="3">Partenariat</option>
      <option value="3">Diplômatique</option>
    </select>
    <select class="custom-select border-0 tx-yeto2" id="inputGroupSelect02">
      <option selected>Villes...</option>
      <option value="1">Académique</option>
      <option value="2">Business</option>
      <option value="3">Partenariat</option>
      <option value="3">Diplômatique</option>
    </select>
    <select class="custom-select border-0 tx-yeto2" id="inputGroupSelect02">
      <option selected>Etablissements...</option>
      <option value="1">Académique</option>
      <option value="2">Business</option>
      <option value="3">Partenariat</option>
      <option value="3">Diplômatique</option>
    </select>
  </div>
</div>

<router-outlet></router-outlet>
