<div class="row row-xs clearfix mg-0 pd-0 pt-4 p-2"
     *ngIf="!loading && contactService.data.length">

  <!-- Liste of element -->
  <div class="col-lg-4 p-2"
       *ngFor="let contact of contactService.data | paginate: {itemsPerPage: 3, id: 'contact', currentPage: currentPage}">
    <div class="mycard4 border ">
      <div class="avatar5">
        <img class="rounded-circle "
             *ngIf="contact.contact.photo?.path"
             [src]="contact.contact.photo?.path"
             alt="avatar"
             width="70">

        <span *ngIf="!contact.contact.photo?.path">
          <i class="fad fa-user-circle"
             style="font-size: 70px;"></i>
        </span>
      </div>

      <!-- Infomation -->
      <div class="mycard-text pt-4 px-2 pb-2">
        <!-- Nom complet -->
        <span class="date tx-bold tx-yeto tx-16">
          {{ contact.contact.nom_complet }}
        </span> <span class="tx-danger"
              *ngIf="contact.urgence">( {{ 'URGENT' | translate }} )</span>

        <!-- Poste - fonction -->
        <p class="mb-0 text-center">
          <small>
            <!-- poste -->
            <span class="tx-warning">{{ contact.type_contact.libelle }} </span>
          </small>
        </p>
      </div>


      <div class="pb-3 pt-1 card-container-icon">
        <!-- Voir -->
        <a [routerLink]="['./']"
           class="mr-3 tx-facebook"
           routerLinkActive="active">
          <i class="fad  fa-info-circle"></i>
        </a>



        <!-- Supprimer -->
        <a [routerLink]="['./']"
           class="tx-facebook"
           *ngIf="(router.url.includes('identite') && user.id_inscription === auth.user.id_inscription)"
           (click)="supprimer(contact.id)">
          <i class="fad mr-3 fa-trash"></i>
        </a>


      </div>
    </div>
  </div>


  <!-- Pagination -->
  <div class="col-12 mt-1 d-flex justify-content-center">
    <pagination-controls id="contact"
                         (pageChange)="currentPage = $event"
                         autoHide="true"
                         previousLabel="{{ 'PRECEDENT' | translate }}"
                         nextLabel="{{ 'SUIVANT' | translate }}">
    </pagination-controls>
  </div>
</div>


<!-- Loading && missing data handling -->
<div class="row"
     *ngIf="loading || !contactService.data.length">

  <!-- Loading -->
  <div class="col-12 py-5"
       *ngIf="loading">
    <app-loading></app-loading>
  </div>


  <!-- Missing data handling -->
  <div class="col-12 py-5"
       *ngIf="!loading && !contactService.data.length">
    <app-missing-data-alt>
    </app-missing-data-alt>
  </div>
</div>
