<ng-container *ngIf="!loading && eleveService.data.length">

    <!-- Liste des employés -->
    <div class="row row-xs mg-0 pd-0 clearfix fade-in">
        <div class="col-xs-12 col-sm-6 col-md-2" *ngFor="let eleve of eleveService.data">
            <div class="card border">
                <!-- Dropdown menu -->
                <div class="d-flex justify-content-end px-3">
                    <div class="dropdown d-inline">
                        <!-- Icone -->
                        <i class="fas fa-caret-down mt-1 clickable float-left" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        </i>


                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- changer confidentialite -->
                            <a class="dropdown-item tx-primary clickable">
                                {{'MODIFIER' | translate}} <i class="fad fa-edit float-right"></i>
                            </a>


                            <!-- supprimer membre -->
                            <a class="dropdown-item tx-primary clickable">
                                {{'SUPPRIMER' | translate}} <i class="fad fa-trash float-right"></i>
                            </a>

                            <!-- Tunel -->
                            <a class="dropdown-item tx-primary" [routerLink]="['./']"
                                [queryParams]="{'type_discussion': 'correspondance', 'correspondant': eleve.eleve_details.id_inscription, 'modal': 'discussion-min'}">
                                {{'CONTACTER' | translate}} <i class="fad fa-comments-alt float-right"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="card-body text-center pt-1 eleve">
                    <p>
                        <img class=" img-fluid rounded-circle" [src]="eleve.eleve_details.photo" [alt]="eleve.eleve_details.nom_complet">

                        <i class="fas fa-circle-notch fa-spin" style="position: absolute; right: 20px;" *ngIf="loading"></i>
                    </p>

                    <!-- Nom de l'eleve -->
                    <h4 class="tx-12 tx-bolder tx-primary">
                        {{ eleve.eleve_details.nom_complet }}
                    </h4>

                    <!-- Type membre -->
                    <span>
                        <i class="fad fa-users-class"></i>
                        {{ eleve.classe_details.libelle }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<app-loading *ngIf="loading"></app-loading>
<app-missing-data *ngIf="!loading && !eleveService.data.length"></app-missing-data>
