.activity {
  border: none;
  margin: 10px;
}

.time-item {
  display: flex;
  padding: 12px 0px;
  border-top: 1px solid #eee;
}

i {
  position: relative;
  left: 0;
  width: 40px;
  font-size: 15px;
  height: 40px;
  margin-top: 0px;
  border-radius: 3px;
}

.item-info {
  margin-left: 15px;
  margin-bottom: 0px;
  flex: 1;
}

.card-list:hover {
  background-color: #dee2e652;
  transform: scale(1.1);
  padding: 7px;
  border-radius: 10px;
  transition: all 0.2s ease;
  color: initial;
}
