<!-- Titre -->
<h4 class="text-center">{{ 'FORMATION' | translate }}</h4>

<!-- Liste des taches -->
<div class="collapse show" id="activityLog2">
  <!-- titre -->
  <h4 class="mt-2 ml-2" style="font-size: 13px">{{ 'listeDesFormations' | translate }}</h4>

  <!-- Elements -->
  <div class="activity bd-b" *ngIf="formationService.data.length && !loading">
    <a class="time-item card-list" [routerLink]="['..', '..', '..', 'formation', item.id]" *ngFor="let item of formationService.data">
      <!-- Icone -->
      <i class="fa fa-chalkboard-teacher bg-soft-success"></i>

      <!-- Info -->
      <div class="item-info ">
        <!-- Nom tache et date d'affectation -->
        <div class="d-flex justify-content-between align-items-center">
          <!-- Nom -->
          <h6 class="tx-dark tx-rubik tx-13 mb-0">{{ item.libelle }}</h6>

          <!-- Date de création -->
          <span class="small">{{ item.created_at | date }}</span>
        </div>

        <!-- Description  -->
        <p class="mt-2 tx-12" [innerHTML]="helper.strcut(item.description, 120)"></p>


        <!-- Autres information -->
        <div class="mb-0 tx-12 d-flex justify-content-between">
          <!-- Organisation -->
          <div>
            <div style="color: #757474" class="font-weight-bolder mr-2">{{ 'organisationCours' | translate }}:</div>
            {{ item.organisation_cours| translate }}
          </div>


          <!-- Programme semaine -->
          <div>
            <div style="color: #757474" class="font-weight-bolder mr-2">
              {{ 'programmeSemaine' | translate }}:</div> {{ item.programme_semaine | translate }}
          </div>

          <!-- temporalite -->
          <div>
            <div style="color: #757474" class="font-weight-bolder mr-2">{{ 'TEMPORALITE' | translate }}:</div>
            {{ item.temporalite_cours| translate }}
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Loading -->
  <div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <app-missing-data *ngIf="!loading && !formationService.data.length"></app-missing-data>
</div>
