<!-- Non minified version -->
<div class="d-flex mg-b-30" [ngClass]="{'flex-row-reverse': reversed}" *ngIf="reaction && !minified">
  <!-- Image de profile -->
  <div class="media-img col-1">
    <div class="mr-2" [ngClass]="{'ml-2': reversed, 'mr-2': !reversed}">
      <span class="avatar3 ">
        <div class="">
          <img class="avatar3" [src]="reaction?.user?.photo_min?.path" [alt]="reaction?.user?.nom_complet">
        </div>
      </span>
    </div>
  </div>

  <div class="mx-wd-100p-force">
    <!-- nom du user -->
    <h5 class="tx-13  tx-gray" [ngClass]="{'tx-right': reversed}">
      <a class="tx-primary" href="">
        <span *ngIf="etablissement">{{ etablissement.libelle }} - </span> {{ reaction?.user?.nom_complet }}
      </a>

      <!-- Date publication message -->
      <span class="small ">
        {{ reaction?.created_at | date }}
      </span>
    </h5>

    <!-- rebondissement -->
    <div class="d-flex align-items-center" [ngClass]="{'flex-row-reverse': reversed}" *ngIf="reaction.rebondissement">
      <!-- Bande de couleur -->
      <div class="tx-30 pd-y-20 pd-x-2 bg-soft-primary">
      </div>

      <div class="bg-soft-primary p-1 w-100" [ngClass]="{'mg-r-10': reversed, 'mg-l-10': !reversed}">
        <div class="mb-0" [ngClass]="{'text-right': reversed}">
          <span *ngIf="etablissement">{{ etablissement.libelle }} - </span>
          {{ reaction.rebondissement?.user.nom_complet }}
        </div>
        <!-- reaction -->
        <p class="mb-0" [ngClass]="{'text-right': reversed}" *ngIf="reaction.rebondissement?.reaction">
          {{ reaction?.rebondissement?.reaction }}
        </p>

        <div class="p-0" *ngIf="reaction.rebondissement?.file">
          <!-- Audio -->
          <audio controls class="audio-chat" *ngIf="helper.checkExtension(reaction.rebondissement?.file?.path, 'mp3')">
            <source [src]="reaction.rebondissement?.file?.path">
          </audio>

          <!-- Document -->
          <div class="p-3 bg-white bd clickable"
              *ngIf="helper.checkExtensions(reaction.rebondissement?.file?.path, ['pdf', 'PDF'])">
            <i class="fad fa-file-alt"></i> {{ reaction.rebondissement?.file.name }}
            <i class="fad fa-download float-right ml-5 mt-1"></i>
          </div>

          <!-- image -->
          <img [src]="reaction.file?.path" (click)="afficherImage(reaction.file)" class="img-chat"
              [ngClass]="{'float-right': reversed}" [alt]="reaction.user.nom_complet + '_image'"
              *ngIf="helper.checkExtensions(reaction.rebondissement?.file.path, imageHandlerService.acceptedImageExtension)">
        </div>
      </div>
    </div>

    <!-- reaction -->
    <div class="d-flex align-items-center" [ngClass]="{'flex-row-reverse': reversed}">
      <!-- Bande de couleur -->
      <div class="tx-30 pd-y-20 pd-x-2" [ngClass]="{
                'bgm-warning': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 1,
                'bgm-yellow': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 2,
                'bgm-success': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 3,
                'bg-facebook': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 4,
                'bgm-blue': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 5,
                'bgm-mint': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 6,
                'bgm-primary': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 7,
                'bgm-danger': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 8,
                'bgm-secondary': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 9,
                'bgm-indigo': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 0
            }">
      </div>


      <!-- reaction -->
      <p class="mb-0 mg-l-10 bg-light p-2 reaction" *ngIf="reaction.reaction"
          [ngClass]="{'mg-r-10': reversed, 'mg-l-10': !reversed}">
        {{ reaction?.reaction }}
      </p>

      <div class="p-0" *ngIf="reaction.file" [ngClass]="{'mg-r-10': reversed, 'mg-l-10': !reversed}">
        <!-- Audio -->
        <audio controls class="audio-chat" *ngIf="helper.checkExtension(reaction.file?.path, 'mp3')">
          <source [src]="reaction.file?.path">
        </audio>

        <!-- Document -->
        <div class="p-3 bg-white bd clickable" (click)="download(reaction.file.id)"
            *ngIf="helper.checkExtensions(reaction.file?.path, ['pdf', 'PDF'])">
          <i class="fad fa-file-pdf"></i> {{ reaction.file.name }}
          <i class="fad fa-download float-right ml-5 mt-1"></i>
        </div>

        <!-- image -->
        <img [src]="reaction.file?.path" (click)="afficherImage(reaction.file)" class="img-chat"
            [ngClass]="{'float-right': reversed}" [alt]="reaction.user.nom_complet + '_image'"
            *ngIf="helper.checkExtensions(reaction.file.path, imageHandlerService.acceptedImageExtension)">
      </div>
    </div>

    <!-- Icone action -->
    <div class="d-flex mt-1" [ngClass]="{'mg-l-10 flex-row-reverse': reversed, 'mg-l-10': !reversed}">
      <!-- Partager -->
      <i class=" fal fa-share reaction__icone-action" [ngbTooltip]="'PARTAGER' | translate"></i>

      <!-- Rebondir -->
      <i class="fal fa-comments reaction__icone-action" [ngbTooltip]="'REBONDIR' | translate" (click)="rebondir()"></i>

    </div>
  </div>
</div>


<!-- minified version -->
<div class="d-flex mg-b-20" [ngClass]="{'flex-row-reverse': reversed}" *ngIf="reaction && minified">
  <!-- Image de profile -->
  <div class="media-img col-1">
    <div class="mr-2" [ngClass]="{'ml-2': reversed, 'mr-2': !reversed}">
      <span class="avatar3 ">
        <div class="">
          <img class="avatar3" [src]="reaction?.user?.photo_min?.path" [alt]="reaction?.user?.nom_complet">
        </div>
      </span>
    </div>
  </div>

  <div class="mx-wd-100p-force">
    <!-- nom du user -->
    <h5 class="tx-12  tx-gray" [ngClass]="{'tx-right': reversed}">
      <a class="tx-primary clickable">
        <span *ngIf="etablissement">{{ etablissement.libelle }} - </span> {{ reaction?.user?.nom_complet }}
      </a>

      <!-- Date publication message -->
      <span class="small ">
        {{ reaction?.created_at | date }}
      </span>
    </h5>

    <!-- rebondissement -->
    <div class="d-flex align-items-center mb-1" [ngClass]="{'flex-row-reverse': reversed}"
        *ngIf="reaction.rebondissement">
      <!-- Bande de couleur -->
      <div class="tx-30 pd-y-15 pd-x-2 bg-soft-primary">
      </div>

      <div class="bg-soft-primary p-1 w-100" [ngClass]="{'mg-r-5': reversed, 'mg-l-5': !reversed}">
        <!-- Nom du user -->
        <div class="mb-0 tx-12" [ngClass]="{'text-right': reversed}">
          <span *ngIf="etablissement">{{ etablissement.libelle }} - </span> {{ reaction.rebondissement?.user.nom_complet
          }}
        </div>
        <!-- reaction -->
        <p class="mb-0 tx-12" [ngClass]="{'text-right': reversed}" *ngIf="reaction.rebondissement?.reaction">
          {{ reaction?.rebondissement?.reaction }}
        </p>
      </div>
    </div>

    <!-- reaction -->
    <div class="d-flex align-items-center" [ngClass]="{'flex-row-reverse': reversed}">
      <!-- Bande de couleur -->
      <div class="tx-30 pd-y-15 pd-x-2" [ngClass]="{
                'bgm-warning': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 1,
                'bgm-yellow': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 2,
                'bgm-success': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 3,
                'bg-facebook': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 4,
                'bgm-blue': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 5,
                'bgm-mint': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 6,
                'bgm-primary': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 7,
                'bgm-danger': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 8,
                'bgm-secondary': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 9,
                'bgm-indigo': helper.parseInt(reaction?.user?.id_inscription.toString().slice(-1)) == 0
            }">
      </div>


      <!-- reaction -->
      <p class="mb-0 mg-l-5 bg-light tx-13 p-2 reaction" *ngIf="reaction.reaction"
          [ngClass]="{'mg-r-5': reversed, 'mg-l-5': !reversed}">
        {{ reaction?.reaction }}
      </p>

    </div>

    <!-- Icone action -->
    <div class="d-flex tx- mt-1" [ngClass]="{'mg-l-10 flex-row-reverse': reversed, 'mg-l-10': !reversed}">
      <!-- Partager -->
      <i class=" fal fa-share reaction__icone-action" [ngbTooltip]="'PARTAGER' | translate"></i>

      <!-- Rebondir -->
      <i class="fal fa-comments reaction__icone-action" [ngbTooltip]="'REBONDIR' | translate" (click)="rebondir()"></i>

    </div>
  </div>
</div>
