<!-- header -->
<app-main-header [id]="'liaison'"
                 [hasAddButton]="parent.name !== 'zental' || false">
</app-main-header>


<app-liaison-list [parent]="parent"
                  [itemsPerPage]="itemsPerPage"
                  [colonne_affichage]="colonne_affichage">
</app-liaison-list>




<app-modal [configuration]="{ name: 'liaison-create-modal', titre: 'ajouterUneLiaison', icone: 'link' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-liaison-create [parent]="parent"
                      *ngIf="create">
  </app-liaison-create>
</app-modal>



<app-modal [configuration]="{ name: 'liaison-edit-modal', titre: 'modifierLesDetailsDeLaLiaison', icone: 'link' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-liaison-edit *ngIf="edit"></app-liaison-edit>
</app-modal>


<!--
<app-modal-sidebar [configuration]="{ name: 'liaison-filter-modal', titre: 'FILTRE', icone: 'link' }"
                   (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-filter-liaison *ngIf="filter"></app-filter-liaison>
</app-modal-sidebar> -->
