<!-- Header -->
<div class="row mx-0  px-2 justify-content-between align-items-center slide-in-top">
  <!-- Titre -->
  <h3 class="tx- tx-20 tx-info italic mg-l-20 my-3 bold">
    <!-- boutton precedent -->
    <a [routerLink]="['./']" *ngIf="router.url.includes('eleve/')">
      <i class="fal tx-info fa-caret-circle-left mr-2"></i>
    </a>
    <i class="fad fa-users-crown"></i>
    {{ 'GROUPE' | translate }}
  </h3>

  <!-- Action -->
  <div class="d-flex justfiy-content-between align-items-center">
    <!-- Ajouter -->
    <a class="my-2  tx-primary mr-4" [routerLink]="['./']" [fragment]="'add-groupe'">
      <i class=" fad fa-plus-circle"></i> {{ 'AJOUTER' | translate }}
    </a>


    <!-- Statistique -->
    <a class="my-2  tx-warning mr-4" [routerLink]="['statistiques']">
      <i class=" fad fa-chart-bar"></i> {{ 'STATISTIQUES' | translate }}
    </a>

    <!-- Filtrer -->
    <span class="my-2  tx-success mr-4 clickable" (click)="helper.toggleModal('filter-groupe-modal')">
      <i class="fad fa-filter"></i> {{ 'FILTRE' | translate }}
    </span>


    <!-- Recherche -->
    <div class="form-group mt-2 mb-3" style="position: relative;">
      <div class="input-group w-100">
        <!--  -->
        <input #search type="text" [placeholder]="'RECHERCHER' | translate" class="form-control pd-y-8" />

        <span class="">
          <button class="btn border  h-100 d-flex align-items-center" [disabled]="!search.value" (click)="research(search.value)">
            <i class="fad fa-search tx-facebook"></i>
          </button>
        </span>
      </div>

      <span class="tx-10 tx-danger clickable" style="position: absolute;" *ngIf="searchActive" (click)="annulerRecherche(); search.value = ''">
        <i class="fal fa-times-circle"></i>
        {{ 'annulerLaRecherche' | translate}}
      </span>
    </div>
  </div>
</div>

<!-- Content -->
<div class="row mx-0 p-0 ">
  <!-- Liste des groupes -->
  <div [ngClass]="{'col-12': !showDetails, 'col-8': showDetails}">
    <app-groupe-list [displayBy]="displayBy" [minified]="showDetails"></app-groupe-list>
  </div>

  <!-- Statistiques -->
  <div class="col-4 p-0" *ngIf="showDetails">
    <router-outlet></router-outlet>
  </div>
</div>

<app-modal-sidebar [configuration]="{name: 'filter-groupe-modal', titre: 'FILTRE', icone: 'filter'}">
  <app-filter-groupe></app-filter-groupe>
</app-modal-sidebar>

<!-- Groupe create modal -->
<app-modal (closed)="router.navigate(['./'], {relativeTo: route})"
    [configuration]="
           {name: 'groupe-create-modal', titre: (this.displayBy=='groupesIndependants' ? 'creerUnGroupeIndependant' : 'creerUnGroupe'), icone: 'users'}">
  <app-groupe-create *ngIf="addGroupe" [displayBy]="displayBy"></app-groupe-create>
</app-modal>


<!-- Groupe edit modal -->
<app-modal (closed)="router.navigate(['./'], {relativeTo: route})"
    [configuration]="{name: 'groupe-edit-modal', titre: 'modifierLesDetailsDuGroupe', icone: 'users'}">
  <app-groupe-edit *ngIf="editGroupe"></app-groupe-edit>
</app-modal>
