<ng-container *ngIf="single && !loading">
  <!-- Header -->
  <div class="card">
    <div class="row mx-0 mg-y-7 justify-content-between">
      <!-- Titre -->
      <div class="">
        <div class="ml-2 d-flex align-items-center">
          <div>
            <a [routerLink]="['../']" class="mr-3">
              <i class="far fa-caret-circle-left tx-facebook" style="font-size: 20px;"></i>
            </a>
          </div>

          <div>
            <img src="assets/images/image-groupe.jpg" class="border rounded-circle" alt="avatar" style="height: 35px" />
          </div>

          <span class="font-weight-bold ml-1">{{ single.libelle | translate }}</span>
        </div>
      </div>

      <!-- Navigation -->
      <div class="">
        <ul class="nav mg-0 pd-0 d-flex align-items-center mr-2">
          <!-- Details -->
          <li class="nav-item">
            <a class="nav-link  tx-facebook mg-t-2 mr-30" [routerLink]="['./']" routerLinkActive="font-weight-bold"
                [routerLinkActiveOptions]="{exact: true}">
              <i class="fal fa-file-alt" routerLinkActive="font-weight-bold"
                  [routerLinkActiveOptions]="{exact: true}"></i>
              {{ 'DETAILS' | translate }}
            </a>
          </li>

          <!-- MEMBRE -->
          <li class="nav-item">
            <a class="nav-link tx-facebook mg-t-2" [routerLink]="['membre']" routerLinkActive="font-weight-bold">
              <i class="fal fa-users" routerLinkActive="font-weight-bold"></i>
              {{ 'MEMBRES' | translate }}
            </a>
          </li>

          <!-- Demande d'adhesion -->
          <li class="nav-item" *ngIf="single.user_privilege == 1">
            <a class="nav-link tx-facebook mg-t-2"
                (click)="showDemandeAdhesion = true; helper.toggleModal('demande-modal')" [routerLink]="['./']">
              <i class="fal fa-user-plus"></i>
              {{ 'demandesDAdhesion' | translate }}
            </a>
          </li>

          <!-- Cas User membre -->
          <ng-container *ngIf="single.user_privilege">
            <!-- Tache -->
            <li class="nav-item" *ngIf="router.url.includes('school/tache')">
              <a class="nav-link tx-facebook mg-t-2" [routerLink]="['tache']" routerLinkActive="font-weight-bold">
                <i class="fal fa-tasks-alt" routerLinkActive="font-weight-bold"></i>
                {{ 'TACHE' | translate }}
              </a>
            </li>

            <!-- Explore -->
            <li class="nav-item" *ngIf="!router.url.includes('school/tache')">
              <a class="nav-link tx-facebook mg-t-2" [routerLink]="['tribune']" routerLinkActive="font-weight-bold"
                  [queryParams]="{type_discussion: 'groupe'}">
                <i class="fal fa-comment-lines" routerLinkActive="font-weight-bold"></i>
                {{ 'TRIBUNE' | translate }}
              </a>
            </li>
          </ng-container>


          <!-- Cas user non membre -->
          <ng-container *ngIf="!single.user_privilege">
            <!-- Rejoindre: cas groupe publique -->
            <li class="nav-item" *ngIf="single.confidentialite.id == 1">
              <button class="btn btn-success btn-sm mg-t-2" (click)="rejoindreGroupe()" *ngIf="!rejoindreGroupeLoading">
                <!-- <i class="fal fa-users" routerLinkActive="font-weight-bold"></i> -->
                {{ 'REJOINDRE' | translate }}
              </button>

              <span *ngIf="rejoindreGroupeLoading">
                <i class="fad fa-circle-notch fa-spin"></i>
              </span>
            </li>

            <!-- Cas groupe privés -->
            <ng-container *ngIf="single.confidentialite.id == 2">
              <!-- Cas user n'a  pas encore fait une demande -->
              <li class="nav-item" *ngIf="single.user_has_demande == false">
                <button class="btn btn-success btn-sm mg-t-2" (click)="faireUneDemandeDAdhesion()"
                    *ngIf="!rejoindreGroupeLoading">
                  <!-- <i class="fal fa-users" routerLinkActive="font-weight-bold"></i> -->
                  {{ 'faireUneDemandeDAdhesion' | translate }}
                </button>

                <span *ngIf="rejoindreGroupeLoading">
                  <i class="fad fa-circle-notch fa-spin"></i>
                </span>
              </li>

              <!-- Cas user a  deja fait une demande -->
              <li class="nav-item" *ngIf="single.user_has_demande == true">
                <button class="btn btn-danger btn-sm mg-t-2" (click)="annulerDemandeDAdhesion()"
                    *ngIf="!rejoindreGroupeLoading">
                  <!-- <i class="fal fa-users" routerLinkActive="font-weight-bold"></i> -->
                  {{ 'annulerDemandeDAdhesion' | translate }}
                </button>

                <span *ngIf="rejoindreGroupeLoading">
                  <i class="fad fa-circle-notch fa-spin"></i>
                </span>
              </li>

            </ng-container>
          </ng-container>

        </ul>
      </div>
    </div>
  </div>

  <!-- Nav bar -->
  <div class="row row-xs clearfix mg-0 pd-0 p-0">

  </div>
  <div class="tab-content">
    <div class="tab-pane fade active show" id="explore_ecoles">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>


<div class="my-5">
  <app-loading *ngIf="loading"></app-loading>
</div>

<app-modal-sidebar [configuration]="{name: 'demande-modal', titre: 'demandesDAdhesion', icone: 'user-plus'}">
  <app-demande-adhesion-groupe *ngIf="showDemandeAdhesion"></app-demande-adhesion-groupe>
</app-modal-sidebar>
