<div class="row row-xs clearfix  mg-0 pd-0 ">
  <!-- Sidebar -->
  <div class="col-lg-2" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <app-sidebar-explore-professeur></app-sidebar-explore-professeur>
  </div>

  <!-- Content -->
  <div class="col p-0 " [ngClass]="{'col-10': !sidebarCollapsed, 'col-12': sidebarCollapsed}">
    <div class="card  bd-facebook mg-b-20">
      <div class="nav-tabs-top">
        <!-- Nav tabs -->
        <ul class="nav bg-white bd-b bd-t mg-0 pd-0">
          <!-- Professeur -->
          <li class="nav-item mg-0 pd-0 ">
            <a class="nav-link3 tx-facebook" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="'font-weight-bold'" [routerLink]="['./']"
                style="padding: 5px 12px;">
              <i class="fal fa-user-tie tx-12 bg-white tx-facebook " [routerLinkActive]="'fas'" [routerLinkActiveOptions]="{exact: true}"
                  style="padding:6px; border-radius:50%">
              </i>

              {{ 'PROFESSEURS' | translate }}

            </a>
          </li>

          <!-- Classe -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['classe']" style="padding: 5px 12px;">
              <i class="fal fa-university tx-12 bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'CLASSES' | translate }}

            </a>
          </li>

          <!-- Taches -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['tache']" style="padding: 5px 12px;">
              <i class="fal fa-tasks-alt bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'TACHES' | translate }}

            </a>
          </li>

          <!-- Suivie -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['suivie']" style="padding: 5px 12px;">
              <i class="fal fa-history bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'SUIVIE' | translate }}

            </a>
          </li>


          <!-- Programmes -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['programme']" style="padding: 5px 12px;">
              <i class="fal fa-tasks bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'PROGRAMMES' | translate }}

            </a>
          </li>

          <!-- Eleves -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['eleves']" style="padding: 5px 12px;">
              <i class="fal fa-user-graduate bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'ETUDIANTS' | translate }}

            </a>
          </li>


          <!-- Groupes -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['groupe']" style="padding: 5px 12px;">
              <i class="fal fa-users-class bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'GROUPES' | translate }}

            </a>
          </li>


          <!-- Calendrier -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['calendrier']" style="padding: 5px 12px;">
              <i class="fal fa-calendar-alt bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%">
              </i>

              {{ 'CALENDRIER' | translate }}

            </a>
          </li>


          <!-- Fichiers -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['fichier']" style="padding: 5px 12px;">
              <i class="fal fa-file-alt bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%"></i>

              {{'FICHIERS' | translate }}

            </a>
          </li>

          <!-- Fichiers -->
          <li class="nav-item ">
            <a class="nav-link3 tx-facebook" [routerLinkActive]="'font-weight-bold'" [routerLink]="['explore']" style="padding: 5px 12px;">
              <i class="fal fa-comments-alt bg-white tx-facebook " [routerLinkActive]="'fas'" style="padding:6px; border-radius:50%"></i>

              {{'EXPLORE' | translate }}

            </a>
          </li>


          <!-- Explore -->
          <!-- <li class="nav-item mg-0 pd-0 ">
                        <a class="nav-link3 tx-facebook"
                            [routerLinkActive]="'font-weight-bold'"
                            [routerLink]="['explore']"
                            style="padding: 5px 12px;">
                            <i class="fal fa-user-tie tx-12 bg-white tx-facebook "
                                [routerLinkActive]="'fas'"
                                style="padding:6px; border-radius:50%">
                            </i>

                            {{ 'EXPLORE' | translate }}

                        </a>
                    </li> -->
        </ul>

        <!-- Tab Content -->
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>
</div>
