<div class="row row-xs clearfix  mg-0 pd-0 ">
    <!-- Sidebar explore classe -->
    <div class="col-lg-2">
        <app-sidebar-explore-classe></app-sidebar-explore-classe>
    </div>

    <div class="col-lg-10 bg-white">
        <!-- Explore raccourcis -->
        <div class="row row-xs clearfix  mg-0 pd-0 ">
            <div class="col-lg-1">
                <div class="card-body collapse show  p-0" id="collapse1">
                    <a role="button" class="btn btn-default mg-r-50" data-backdrop="false"
                        data-toggle="modal" data-target="#m_modal_4"> <i
                            class="fas fa-layer-plus tx-32 tx-yeto1"></i></a>
                    <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel_4" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header p-1 ">
                                    <h5 class="modal-title tx-facebook tx-16" id="exampleModalLabel_4">
                                        <i class="fad fa-badge"></i> Objets Explorer</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true"><i
                                                class="fad fa-times-circle mg-r-4 tx-facebook"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body mb-0 p-0"
                                    style="padding-left:0px; padding-right:0px">
                                    <div class="card">
                                        <ul class="nav " id="pills-tab" role="tablist">
                                            <li class="nav-item "><a class="nav-link " id="autres"
                                                    data-toggle="pill" href="#etablissement">
                                                    <i class="fad fa-users tx-primary"></i> <span
                                                        class="tx-facebook">Groupes</span></a></li>
                                            <li class="nav-item"><a class="nav-link "
                                                    id="personal_chat_tab" data-toggle="pill"
                                                    href="#hierarchie">
                                                    <i class="fad fa-user-graduate tx-primary"></i><span
                                                        class="tx-facebook"> Etudiants</span></a></li>
                                            <li class="nav-item"><a class="nav-link " id="autres"
                                                    data-toggle="pill" href="#services">
                                                    <i class="fad fa-user-tie tx-primary"></i><span
                                                        class="tx-facebook"> Professeurs</span></a></li>
                                            <li class="nav-item "><a class="nav-link" id="autres"
                                                    data-toggle="pill" href="#reglementation">
                                                    <i
                                                        class="fad fa-network-wired tx-primary "></i><span
                                                        class="tx-facebook"> Réseaux</span></a></li>
                                            <li class="nav-item "><a class="nav-link" id="autres"
                                                    data-toggle="pill" href="#exercices">
                                                    <i class="fad fa-dumbbell tx-primary "></i><span
                                                        class="tx-facebook"> Excercices</span></a></li>
                                            <li class="nav-item "><a class="nav-link" id="autres"
                                                    data-toggle="pill" href="#reglementation">
                                                    <i class="fad fa-layer-group tx-primary "></i><span
                                                        class="tx-facebook"> Plans</span></a></li>
                                            <li class="nav-item "><a class="nav-link" id="autres"
                                                    data-toggle="pill" href="#propositions">
                                                    <i class="fad fa-recycle tx-primary "></i><span
                                                        class="tx-facebook"> Propositions</span></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Send message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-9">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- content -->
        <div class="row row row-xs mg-0" style="height: 100%">
            <!-- COntent classe -->
            <div class="col-lg-9 p-0 ">
                <router-outlet></router-outlet>
            </div>

            <!-- Personal Assets -->
            <div class=" col-lg-3 " style="padding-left: 0px; padding-right:0px">
                <app-personal-assets></app-personal-assets>
            </div>
        </div>


    </div>

</div>