<div class="row">
    <div class="col-12" *ngIf="!loading">
        <!-- Verifier mot de passe -->
        <app-password-fichier-check
            (done)="done()"
            [fichier]="fichier"
            *ngIf="activeComponents.check">
        </app-password-fichier-check>

        <!-- Ajouter not de passe -->
        <app-password-fichier-add
            (done)="done()"
            [fichier]="fichier"
            *ngIf="activeComponents.add">
        </app-password-fichier-add>


        <!-- Ajouter not de passe -->
        <app-password-fichier-edit
            (done)="done()"
            [fichier]="fichier"
            *ngIf="activeComponents.edit">
        </app-password-fichier-edit>


        <!-- supprimer mot de passe -->
        <app-password-fichier-delete
            (done)="done()"
            [fichier]="fichier"
            *ngIf="activeComponents.delete">
        </app-password-fichier-delete>
    </div>

    <div class="col-12">
        <app-loading *ngIf="loading"></app-loading>
    </div>
</div>