<form class="custom-placeholder"
      [formGroup]="form"
      *ngIf="form"
      (submit)="create()">

  <!-- User -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-12">
      <!-- Label -->
      <label class="control-label"
             for="user">
        {{ 'MEMBRE' | translate }}
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="dependanciesLoading.users"></i>
      </label>

      <angular2-multiselect [data]="dependancies.users"
                            [settings]="dropdownSettingsAlt.user"
                            formControlName="membre"
                            [ngClass]="{'is-invalid': shouldShowRequiredError( 'membre'), 'is-valid': isValid('membre')}"
                            class="form-control p-0 form-control-sm">
        <c-badge>
          <ng-template let-item="item">
            {{item.nom_complet}}
          </ng-template>
        </c-badge>
        <c-item>
          <ng-template let-item="item">
            <label style="color: #333;min-width: 150px;">{{item.nom_complet}}</label>
            <img [src]="item?.photo_min?.path"
                 class="float-right rounded-circle border border-warning"
                 style="width: 30px;margin-right: 20px;" />
          </ng-template>
        </c-item>
      </angular2-multiselect>



      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('membre')"
           class="invalid-feedback">
        {{ 'veuillezRenseignerLeMembreQueVousVoulezAjouter' | translate }}.
      </div>
    </div>
  </div>

  <!-- Poste -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-12">
      <!-- Label -->
      <label class="control-label"
             for="poste">
        {{ 'POSTE' | translate }}
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="dependanciesLoading.postes"></i>
      </label>

      <angular2-multiselect [data]="dependancies.postes"
                            [settings]="dropdownSettingsAlt.single"
                            formControlName="poste"
                            [ngClass]="{'is-invalid': shouldShowRequiredError( 'poste'), 'is-valid': isValid('poste')}"
                            class="form-control p-0 form-control-sm">
      </angular2-multiselect>

      <!-- <div class=" p-0">
        <span class="clickable text-primary tx-12 ml-2"
              placement="bottom"
              [autoClose]="'outside'"
              [popoverTitle]="postePopoverTitle"
              [ngbPopover]="postePopover">
          {{ 'AJOUTER' | translate }} <i class="fal fa-plus-circle"></i>
        </span>
      </div> -->

      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('poste')"
           class="invalid-feedback">
        {{ 'veuillezRenseignerUnPoste' | translate }}.
      </div>
    </div>
  </div>


  <!-- Fonction -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-12">
      <!-- Label -->
      <label class="control-label"
             for="fonction">
        {{ 'FONCTION' | translate }}
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="dependanciesLoading.fonctions"></i>
      </label>

      <angular2-multiselect [data]="dependancies.fonctions"
                            [settings]="dropdownSettingsAlt.single"
                            formControlName="fonction"
                            [ngClass]="{'is-invalid': shouldShowRequiredError( 'fonction'), 'is-valid': isValid('fonction')}"
                            class="form-control p-0 form-control-sm">
      </angular2-multiselect>

      <!-- <div class=" p-0">
        <span class="clickable text-primary tx-12 ml-2"
              placement="bottom"
              [autoClose]="'outside'"
              [popoverTitle]="fonctionPopoverTitle"
              [ngbPopover]="fonctionPopover">
          {{ 'AJOUTER' | translate }} <i class="fal fa-plus-circle"></i>
        </span>
      </div> -->

      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('fonction')"
           class="invalid-feedback">
        {{ 'veuillezRenseignerUneFonction' | translate }}.
      </div>
    </div>
  </div>


  <!-- Boutton validation -->
  <div class="d-flex justify-content-center">
    <div class="col-12 text-right">
      <!-- Boutton sumit -->
      <button class="btn btn-sm btn-primary mr-1"
              type="submit"
              [disabled]="form.invalid">
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="loading"></i>
        {{ 'VALIDER' | translate }}
      </button>

      <!-- Bouton reset -->
      <button class="btn btn-sm border btn-link"
              type="button"
              (click)="initialiseForm()">
        {{ 'REINITIALISER' | translate }}
      </button>
    </div>
  </div>
</form>

<app-loading *ngIf="!form"></app-loading>
