<!-- Header -->
<div class="row mx-0  px-2 justify-content-between align-items-center bd-b  slide-in-top">
  <!-- Titre -->
  <h3 class=" tx- tx-20 tx-info mt-3 italic mg-l-20 bold">
    <!-- boutton precedent -->
    <a [routerLink]="['./']" *ngIf="router.url.includes('classe/')">
      <i class="fal tx-info fa-caret-circle-left mr-2"></i>
    </a>
    <i class="fad fa-users-class"></i>
    {{ 'CLASSE' | translate }}
  </h3>

  <!-- Action -->
  <div class="d-flex justfiy-content-between align-items-center" *ngIf="!router.url.includes('classe/')">
    <a class="my-2  tx-primary mr-4" [routerLink]="['./']" [fragment]="'create'">
      <i class=" fad fa-plus-circle"></i> {{ 'AJOUTER' | translate }}
    </a>

    <!-- Statistique -->
    <a [routerLink]="['stats']" class="my-2  tx-warning mr-4 clickable">
      <i class="fad fa-chart-bar"></i> {{ 'STATISTIQUES' | translate }}
    </a>

    <span class="my-2  tx-success mr-4 clickable" (click)="helper.toggleModal('filter-groupe-modal')">
      <i class="fad fa-filter"></i> {{ 'FILTRE' | translate }}
    </span>
    <div class="form-group mt-2 mb-3" style="position: relative;">
      <div class="input-group w-100">
        <!--  -->
        <input #search type="text" [placeholder]="'RECHERCHER' | translate" class="form-control pd-y-8" />

        <span class="">
          <button class="btn border bg-light h-100 d-flex align-items-center" [disabled]="!search.value" (click)="research(search.value)">
            <i class="fad fa-search tx-facebook"></i>
          </button>
        </span>
      </div>

      <span class="tx-10 tx-danger clickable" style="position: absolute;" *ngIf="searchActive" (click)="annulerRecherche(); search.value = ''">
        <i class="fal fa-times-circle"></i>
        {{ 'annulerLaRecherche' | translate}}
      </span>
    </div>
  </div>

</div>

<div class="card-body  row mx-0">
  <!-- <app-classe-list-by-professeur *ngIf="router.url.includes('school/professeur/classe')"></app-classe-list-by-professeur>
  <app-classe-list-by-etablissement *ngIf="router.url.includes('school/administration') || router.url.includes('school/etablissement')">
  </app-classe-list-by-etablissement> -->
  <div [ngClass]="{'col-12': !showDetails, 'col-8 pl-0': showDetails}">
    <app-classe-list [minified]="showDetails"></app-classe-list>
  </div>

  <div class="col-4 pr-0 mt-1" *ngIf="showDetails">
    <router-outlet></router-outlet>
  </div>
</div>





<!-- Ajouter classe -->
<app-modal [configuration]="{ name: 'classe-add-modal', titre: 'ajouterUneClasse', icone: 'users-class'}"
    (closed)="router.navigate(['./'], {relativeTo: route})">
  <app-classe-add *ngIf="addClasse"></app-classe-add>
</app-modal>



<!-- Modifier classe -->
<app-modal [configuration]="{ name: 'classe-edit-modal', titre: 'modifierLesDetailsDeLaClasse', icone: 'users-class'}"
    (closed)="router.navigate(['./'], {relativeTo: route})">
  <app-classe-edit *ngIf="editClasse"></app-classe-edit>
</app-modal>
