<div class="card bg-white p-2 rounded px-3">
  <!-- Libelle -->
  <div class="mg-t-2 bd-b d-flex justify-content-between p-3 pb-2">
    <a [routerLink]="[groupe.id]" class="tx-facebook">
      <i class="fad fa-users-crown"></i>
      {{ groupe.libelle }}
    </a>


    <div class="d-flex justify-content-end">
      <div class="dropdown d-inline">
        <!-- Icone -->
        <i class="fas fa-ellipsis-h mt-1 clickable " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </i>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!-- changer confidentialite -->
          <a class="dropdown-item tx-primary clickable" [routerLink]="['./']" [fragment]="'edit-groupe'" (click)="modifier()">
            {{'MODIFIER' | translate}} <i class="fad fa-edit float-right"></i>
          </a>


          <!-- supprimer membre -->
          <a class="dropdown-item tx-primary clickable" [routerLink]="['./']" (click)="supprimer()">
            {{'SUPPRIMER' | translate}} <i class="fad fa-trash float-right"></i>
          </a>


        </div>
      </div>
    </div>
    <!-- <span>
      <i class="far fa-ellipsis-h"></i>
    </span> -->
  </div>

  <!-- Description du groupe -->
  <!-- <p class=" text-justify bd-b mg-0 mg-b-4 groupe__description" [innerHTML]="helper.strcut(groupe.description, 200)">
  </p> -->


  <div class="d-flex justify-content-between mg-t-4 ">
    <div class="d-flex flex-row align-items-center">
      <div class="profiles">
        <a [routerLink]="[groupe.id]">
          <i class="fal fa-eye mr-2 bg-white tx-light " style="padding:6px; border-radius:50%"></i>
        </a>

        <a [routerLink]="[groupe.id, 'tache']" *ngIf="router.url.includes('tache')">
          <i class="fal fa-tasks-alt mr-2 bg-white tx-light" style="padding:6px; border-radius:50%"></i>
        </a>

        <a [routerLink]="[groupe.id, 'explore']" *ngIf="!router.url.includes('tache')">
          <i class="fal fa-comments-alt mr-2 bg-white tx-light" style="padding:6px; border-radius:50%"></i>
        </a>


        <span *ngFor="let membre of groupe.five_first_membres" [ngbTooltip]="membre.membre_details.nom_complet">
          <img class="rounded-circle ml-2" [src]="membre.membre_details?.photo?.path" alt="avatar" width="30">
        </span>

        <!-- <img class="rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar" width="30">
        <img class="rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar" width="30">
        <img class="rounded-circle" src="assets/images/xs/avatar4.jpg" alt="avatar" width="30">
        <img class="rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar" width="30"> -->
        <!-- <img class="rounded-circle" src="assets/images/xs/avatar2.jpg" alt="avatar" width="30">
        <img class="rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar" width="30"> -->
      </div>
      <span class="badge badge-pill badge-light bg-light tx-warning mg-l-20 " *ngIf="groupe.nombre_membres > 5">
        + {{ groupe.nombre_membres - 5 }}
      </span>

    </div>
  </div>
</div>
