<a [routerLink]="[groupe.id]">
    <div class="image-flip">
        <div class="mainflip flip-0">
            <!-- face avant -->
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        <!-- Image groupe -->
                        <p>
                            <img class=" img-fluid"
                                src="assets/images/xs/avatar14.png"
                                alt="avatar">
                        </p>

                        <!-- groupe name -->
                        <h4 class="tx-12 tx-bolder tx-primary">
                            {{ groupe.libelle }} <i class="fad fa-lock" *ngIf="groupe.confidentialite.id == 2 "></i>
                        </h4>


                        <p class=" tx-12 tx-warning">
                            <span *ngFor="let domaine of groupe.domaines; let i = index">
                                <span *ngIf="i < 2">
                                    {{ domaine.libelle }}
                                    <span *ngIf="groupe.domaines.length > i + 1 && i < 1">,</span>
                                </span>
                            </span>
                            <span *ngIf="groupe.domaines.length > 2" class="ml-2">+
                                {{ groupe.domaines.length - 2 }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- face arriere -->
            <div class="backside w-100">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <div class="row row-xs mg-0 pd-0 clearfix">
                            <div class="table-responsive">
                                <table class="table  table-hover table-responsive-sm mb-0 ">
                                    <tbody>
                                        <!-- Confidentialie -->
                                        <tr>
                                            <!-- Icone -->
                                            <td>
                                                <a>
                                                    <i class="fas fa-door-closed tx-purple"></i>
                                                </a>
                                            </td>

                                            <!-- value -->
                                            <td class=" bd-b bg-white text-left ">
                                                <div class=" from">
                                                    <p class="mg-0">
                                                        <a>
                                                            {{ (groupe.confidentialite.libelle ) | translate }}
                                                        </a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Créateur -->
                                        <tr>
                                            <td>
                                                <a>
                                                    <i class="fas fa-user-tie tx-jaune"></i>
                                                </a>
                                            </td>
                                            <td
                                                class=" bg-white text-left ">
                                                <div
                                                    class=" from">
                                                    <p
                                                        class="mg-0">
                                                        <a> {{ groupe.user.nom_complet }}</a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Nombre membre -->
                                        <tr>
                                            <td>
                                                <a href=""><i
                                                        class="fas fa-users tx-primary"></i></a>
                                            </td>
                                            <td
                                                class=" bd-b bg-white text-left">
                                                <div
                                                    class=" from">
                                                    <p
                                                        class="mg-0">
                                                        <a>
                                                            {{ groupe.nombre_membres }}</a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Nombre membre -->
                                        <tr>
                                            <td>
                                                <a href=""><i
                                                        class="fas fa-tasks-alt tx-primary"></i></a>
                                            </td>
                                            <td
                                                class=" bd-b bg-white text-left">
                                                <div
                                                    class=" from">
                                                    <p
                                                        class="mg-0">
                                                        <a>
                                                            {{ groupe.nombre_taches }}</a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 
                                <div
                                    class=" card-footer bg-white">
                                    <div
                                        class="card-body text-center p-0">
                                        <a href=""
                                            class="link mr-2 tx-primary tx-11"><i
                                                class="fal fa-users"></i>
                                        </a>
                                        <a href=""
                                            class="link mr-2 tx-primary tx-11"><i
                                                class="fal fa-comments"></i>
                                        </a>
                                        <a href=""
                                            class="link mr-2 tx-primary tx-11"><i
                                                class="fad fa-tasks-alt"></i>
                                        </a>
                                        <a href=""
                                            class="link mr-2 tx-primary tx-11"><i
                                                class="fad fa-share-alt"></i>
                                        </a>
                                        <a href=""
                                            class="link mr-2 tx-primary tx-12"><i
                                                class="fad fa-sign-in-alt"></i>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>