<form [formGroup]="form" (submit)="create()" class="tunel__form" *ngIf="form">
  <span class="tunel__emoticone">
    <i class="fad fa-smile"></i>
  </span>

  <input type="text" class="tunel__message-input" formControlName="reaction" placeholder="Ecrivez votre commentaire...">
  <button class="tunel__button tunel__button--send">
    <i class="fad fa-paper-plane"></i>
  </button>

  <button class="tunel__button tunel__button--more">
    <i class="fas fa-ellipsis-h"></i>
  </button>

  <!-- <div class="tunel__option-buttons">

    <button class="tunel__button tunel__button--option">
      <i class="fas fa-image"></i>
    </button>
    <button class="tunel__button tunel__button--option">
      <i class="fas fa-microphone-alt"></i>
    </button>
  </div> -->
</form>
