<div class="nav-tabs-top" *ngIf="single">
    <!-- Tab list -->
    <ul class="nav bg-white mg-0 pd-0 bd-b bd-t">
        <!-- Groupe -->
        <li class="nav-item mg-0 pd-0 ">
            <a class="nav-link3 "
                [routerLink]="['groupe']"
                [routerLinkActive]="'active'"
                style="padding: 5px 12px;">
                <i class="fal fa-layer-group tx-12 bg-light tx-purple "
                    [routerLinkActive]="'fas'"
                    style="padding:6px; border-radius:50%">
                </i>
                <span class="tx-facebook">
                    {{ 'GROUPES' | translate }}
                </span>
            </a>
        </li>

        <!-- Classes -->
        <li class="nav-item ">
            <a class="nav-link3 "
                [routerLinkActive]="'active'"
                [routerLink]="['eleves']">
                <i class="fal fa-users-class tx-12 bg-light tx-danger "
                    [routerLinkActive]="'fas'"
                    style="padding:6px; border-radius:50%">
                </i>
                <span class="tx-facebook">
                    {{ 'ELEVES' | translate }}
                </span>
            </a>
        </li>

        <!-- Classes -->
        <li class="nav-item ">
            <a class="nav-link3 "
                [routerLinkActive]="'active'"
                [routerLink]="['administration']">
                <i class="fal fa-user-tie tx-12 bg-light tx-yellow "
                    [routerLinkActive]="'fas'"
                    style="padding:6px; border-radius:50%">
                </i>
                <span class="tx-facebook">
                    {{ 'ADMINISTRATION' | translate }}
                </span>
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>