<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="update()">


  <!-- Libelle et code-->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
    <!-- Libelle -->
    <div class="col-7">
      <!-- Label -->
      <label class="control-label" for="libelle">
        {{ 'LIBELLE' | translate }}
      </label>

      <!-- Input -->
      <input type="text" class="form-control form-control-sm" required [formControlName]="'libelle'"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">
        {{ 'veuillezSaisirLeLibelle' |translate }}.</div>
    </div>

    <!-- Code -->
    <div class="col-3">
      <!-- Label -->
      <label class="control-label" for="code">
        {{ 'CODE' | translate }}
      </label>

      <!-- Input -->
      <input type="text" class="form-control form-control-sm" [formControlName]="'code'">
    </div>
  </div>

  <!-- Programme et organisation cours -->
  <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
    <!-- programme -->
    <div class="col-5">
      <!-- Label -->
      <label class="control-label" for="domaine">
        {{ 'PROGRAMME' | translate }}
        <i class="fas fa-circle-notch fa-spin" *ngIf="dependanciesLoading.programme"></i>
      </label>

      <angular2-multiselect [data]="dependancies.programme" [settings]="dropdownSettingsAlt.single"
          formControlName="programme"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'programme'), 'is-valid': isValid('programme')}"
          class="form-control p-0 form-control-sm">
      </angular2-multiselect>

      <!-- Message d'erreur -->
      <div *ngIf="shouldShowRequiredError('programme')" class="invalid-feedback">
        {{ 'selectionnerUneProgramme' | translate }}.
      </div>
    </div>

    <!-- Organisation cours -->
    <div class="col-5">
      <!-- Label -->
      <label class="control-label" for="libelle">
        {{ 'organisationCours' | translate }}
      </label>

      <select (change)="selectFormHandler('organisation_cours', $event.target.value)" class="form-control"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'organisation_cours'), 'is-valid': isValid('organisation_cours')}">
        <option [value]="null">{{ '----' + ('SELECT' | translate) + '-----' }}</option>
        <option [value]="item" [selected]="item == formValue('organisation_cours')"
            *ngFor="let item of dependancies.organisation_cours">
          {{ item | titlecase }}
        </option>
      </select>

      <div *ngIf="shouldShowRequiredError('organisation_cours')" class="invalid-feedback">
        {{ 'veuillezChoisirUnElement' |translate }}.</div>
    </div>
  </div>

  <!-- Temporalite et programme semaine -->
  <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">

    <!-- Temporalite  -->
    <div class="col-5">
      <!-- Label -->
      <label class="control-label" for="libelle">
        {{ 'temporaliteCours' | translate }}
      </label>

      <select (change)="selectFormHandler('temporalite_cours', $event.target.value)" class="form-control"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'temporalite_cours'), 'is-valid': isValid('temporalite_cours')}">
        <option [value]="null">{{ '----' + ('SELECT' | translate) + '-----' }}</option>
        <option [value]="item" [selected]="item == formValue('temporalite_cours')"
            *ngFor="let item of dependancies.temporalite_cours">
          {{ item | titlecase }}
        </option>
      </select>


      <div *ngIf="shouldShowRequiredError('temporalite_cours')" class="invalid-feedback">
        {{ 'veuillezChoisirUnElement' |translate }}.</div>
    </div>

    <!-- Programme semaine  -->
    <div class="col-5">
      <!-- Label -->
      <label class="control-label" for="libelle">
        {{ 'programmeSemaine' | translate }}
      </label>

      <select (change)="selectFormHandler('programme_semaine', $event.target.value)" class="form-control"
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'programme_semaine'), 'is-valid': isValid('programme_semaine')}">
        <option [value]="null">{{ '----' + ('SELECT' | translate) + '-----' }}</option>
        <option [value]="item" [selected]="item == formValue('programme_semaine')"
            *ngFor="let item of dependancies.programme_semaine">
          {{ item | titlecase }}
        </option>
      </select>

      <div *ngIf="shouldShowRequiredError('programme_semaine')" class="invalid-feedback">
        {{ 'veuillezChoisirUnElement' |translate }}.</div>
    </div>
  </div>


  <!-- Description -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
    <div class="col-10">
      <label class="control-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
      <ckeditor [editor]="Editor" class=""
          [ngClass]="{'is-invalid': shouldShowRequiredError( 'description'), 'is-valid': isValid('description')}"
          formControlName="description">
      </ckeditor>
      <div *ngIf="shouldShowRequiredError('description')" class="invalid-feedback">
        {{ 'saisissezLaDescriptionDeLaFormation' | translate }}
      </div>
    </div>
  </div>


  <!-- Condition d'admission -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
    <div class="col-10">
      <label class="control-label" for="condition_admission">{{ 'conditionDAdmission' | translate }}</label>
      <ckeditor [editor]="Editor" class="" formControlName="condition_participation">
      </ckeditor>
    </div>
  </div>


  <!-- Objectif -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
    <div class="col-10">
      <label class="control-label" for="condition_admission">{{ 'OBJECTIFS' | translate }}</label>
      <ckeditor [editor]="Editor" class="" formControlName="objectifs">
      </ckeditor>
    </div>
  </div>


  <!-- Boutton validation -->
  <div class="d-flex justify-content-center">
    <div class="col-10 text-right">
      <!-- Boutton sumit -->
      <button class="btn btn-sm btn-primary mr-1" type="submit">
        {{ 'VALIDER' | translate }}
        <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
      </button>
    </div>
  </div>
  <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="libelle">Orientation</label>
            <textarea name="orientation" maxlength="200" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'orientation'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'orientation'), 'is-valid': isValid('orientation')}"></textarea>
            <small>{{editForm.get('orientation').value?.length}}/200</small>
            <div *ngIf="shouldShowRequiredError('orientation')" class="invalid-feedback">veillez saisir l'orientation.
            </div>
        </div>
    </div> -->
</form>

<app-loading *ngIf="!isFormOk"></app-loading>
