<div class="row row-xs clearfix mg-0 pd-0">
  <!-- Sidebar -->
  <div class="col-lg-2 sidebar bg-yeto1" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <app-sidebar-explore-groupe></app-sidebar-explore-groupe>
  </div>




  <!-- Main content -->
  <div class="" [ngClass]="{'col-10': !sidebarCollapsed, 'col-12': sidebarCollapsed}">
    <!-- Content -->
    <div class="row row-xs clearfix mg-0 pd-0 p-0">
      <div class="col-lg-12 p-0">
        <ul class="nav mg-0 pd-0 bd-b bg-yeto1">
          <!-- Groupe -->
          <li class="nav-item mg-0 pd-0 mg-t-6">
            <a class="nav-link3 active show" [routerLinkActive]="'font-weight-bold'" [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}">
              <i class="fal fa-users-crown tx-14 bg-yeto2 tx-white" [routerLinkActive]="'font-weight-bold'" style="padding: 8px; border-radius: 50%">
              </i>
              <span class="tx-white">
                {{ "groupesIndependants" | translate }}
              </span>
            </a>
          </li>

          <!-- Explore -->
          <li class="nav-item mg-0 pd-0 mg-t-6">
            <a class="nav-link3" [routerLinkActive]="'font-weight-bold'" [routerLink]="['tribune']"
                [queryParams]="{type_discussion: 'groupe-independant'}">
              <i class="fal fa-comment-lines tx-14 bg-yeto2 tx-white" [routerLinkActive]="'font-weight-bold'"
                  style="padding: 8px; border-radius: 50%">
              </i>
              <span class="tx-white"> {{ "TRIBUNE" | translate }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade active show" id="explore_ecoles">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
