<div class="form-group  mb-2 ">
    <div class="input-group"
        style="padding-left:0px; padding-right:0px; border-radius:0">

        <!-- Periode -->
        <select class="custom-select border-0 bg-light tx-yeto2"
            (change)="applyFilter('periodes', $event.target.value)"
            (click)="getPeriode()"
            id="inputGroupSelect04"
            [ngClass]="{'fit-content': dependancies.periode.length }">
            <option selected
                [value]="null"
                (click)="applyFilter('periode')">
                {{ 'PERIODE' | translate }}

            </option>

            <!-- Liste des periode -->
            <ng-container *ngIf="dependancies.periode.length && !localLoading.periode">
                <option *ngFor="let periode of dependancies.periode"
                    [value]="periode.id">
                    {{ periode.libelle }}
                </option>
            </ng-container>

            <option disabled *ngIf="localLoading.periode">
                <i class="fas fa-circle-notch tx-white fa-spin fa-2x"></i>
            </option>
        </select>


        <!-- NIVEAU -->
        <select class="custom-select border-0 bg-light tx-yeto2"
            (change)="applyFilter('niveaux', $event.target.value)"
            (click)="getNiveau()"
            id="inputGroupSelect04"
            [ngClass]="{'fit-content': dependancies.periode.length }">
            <option selected
                [value]="null">
                {{ 'NIVEAU' | translate }}
            </option>

            <!-- Liste des niveau -->
            <ng-container *ngIf="dependancies.niveau.length && !localLoading.niveau">
                <option *ngFor="let niveau of dependancies.niveau"
                    [value]="niveau.id">
                    {{ niveau.libelle }}
                </option>
            </ng-container>

            <option disabled *ngIf="localLoading.niveau">
                <i class="fas fa-circle-notch tx-white fa-spin fa-2x"></i>
            </option>
        </select>

    </div>
</div>

<!-- <div class="template-form-fields p-0"> -->
<!-- Periode -->
<!-- <div class="col-lg-4 p-0">

        <angular2-multiselect
            [data]="dependancies.periode"
            [settings]="dropdownSettingsAlt.single"
            class="periode p-0">
        </angular2-multiselect>

    </div>
</div> -->