<div class="form-group  mb-2 ">
    <div class="input-group"
        style="padding-left:0px; padding-right:0px; border-radius:0">

        <!-- Langue -->
        <select class="custom-select border-0 bg-light tx-yeto2"
            (change)="applyFilter('langues', $event.target.value)"
            id="inputGroupSelect04">
            <option selected
                [value]="null"
                (click)="applyFilter('langue')">
                {{ 'LANGUE' | translate }}

            </option>

            <!-- Liste des langue -->
            <ng-container *ngIf="dependancies.langue.length && !localLoading.langue">
                <option *ngFor="let langue of dependancies.langue"
                    [value]="langue.id">
                    {{ langue.libelle }}
                </option>
            </ng-container>

            <option disabled *ngIf="localLoading.langue">
                <i class="fas fa-circle-notch tx-white fa-spin fa-2x"></i>
            </option>
        </select>


        <!-- NIVEAU -->
        <select class="custom-select border-0 bg-light tx-yeto2"
            (change)="applyFilter('niveaux', $event.target.value)"
            id="inputGroupSelect04">
            <option selected
                [value]="null">
                {{ 'NIVEAU' | translate }}
            </option>

            <!-- Liste des niveau -->
            <ng-container *ngIf="dependancies.niveau.length && !localLoading.niveau">
                <option *ngFor="let niveau of dependancies.niveau"
                    [value]="niveau.id">
                    {{ niveau.libelle }}
                </option>
            </ng-container>

            <option disabled *ngIf="localLoading.niveau">
                <i class="fas fa-circle-notch tx-white fa-spin fa-2x"></i>
            </option>
        </select>

    </div>
</div>

<!-- <div class="template-form-fields p-0"> -->
<!-- Langue -->
<!-- <div class="col-lg-4 p-0">

        <angular2-multiselect
            [data]="dependancies.langue"
            [settings]="dropdownSettingsAlt.single"
            class="langue p-0">
        </angular2-multiselect>

    </div>
</div> -->