<!-- Title -->
<div class="pl-2 pt-2">
  <h5 class="pt-2 d-flex align-items-center pb-2">
    <!-- boutton precedent -->
    <a [routerLink]="['..']"
       [ngbTooltip]="'revenirEnArriere' | translate"
       class="p-2 mr-2 tx-15  d-flex border rounded-circle align-items-center justify-content-center">
      <i class="fad fa-arrow-left"></i>
    </a>

    {{ 'listeDesBureaux' | translate }}
  </h5>
</div>


<!-- header -->
<app-main-header [hasFilter]="false"
                 [hasAddButton]="parent.name !== 'zenta' || false"
                 [id]="'bureau'">
</app-main-header>


<app-bureau-list [parent]="parent"></app-bureau-list>




<app-modal [configuration]="{ name: 'bureau-create-modal', titre: 'ajouterUnBureau', icone: 'lamp-desk' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-bureau-create [parent]="parent"
                     *ngIf="create">
  </app-bureau-create>
</app-modal>


<app-modal [configuration]="{ name: 'bureau-edit-modal', titre: 'modifierLesDetailsDuBureau', icone: 'lamp-desk' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' }); edit = false">
  <app-common-edit *ngIf="edit"
                   [configuration]="{ endpoint: 'bureaux', name: 'bureau', hasDescription: true, item: bureauService.singleData, submitButtonClass: 'btn-primary' }"
                   [extraFields]="extraFields"
                   (itemEdited)="onBureauEdit($event.item)">
  </app-common-edit>
</app-modal>
