<div class="table-responsive-lg">
  <table class="table table-hover table-sm my-0" *ngIf="single && !loading">
    <tbody>
      <tr>
        <td class="bg-light">
          <a href="" class="tx-facebook bold">
            <span class="tx-facebook tx-12">
              Créer
              par</span></a>
        </td>
        <td class="text-leeft">

          Adama Sidibé
        </td>
      </tr>
      <tr>
        <td class="bg-light">
          <a href="" class="tx-facebook bold tx-12">
            Domaines</a>
        </td>
        <td class="text-">
          Informatique
        </td>
      </tr>
      <tr>
        <td class="bg-light">
          <a href="" class="tx-facebook bold tx-12">
            Niveau
            de difficulté</a>
        </td>
        <td class="text-">
          Moyen
        </td>
      </tr>

      <tr>
        <td class="bg-light">
          <a href="" class="tx-facebook bold tx-12">
            Crée
            le</a>
        </td>
        <td class="text-">
          12
          Décembre
          2020
        </td>
      </tr>


      <tr>
        <td class="bg-light">
          <a href="" class="tx-facebook bold tx-12">
            Langue
          </a>
        </td>
        <td class="text-">
          Français
        </td>
      </tr>
    </tbody>
  </table>

  <div class="my-5">
    <app-loading *ngIf="loading"></app-loading>
  </div>
</div>
