<div class="table-responsive-lg">
    <table
        class="table table-hover table-sm my-0">
        <tbody>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold">
                        <span
                            class="tx-facebook tx-12">
                            Créer
                            par</span></a>
                </td>
                <td
                    class="text-leeft">
                    Open
                    Software
                    Solution
                    In
                    The
                    World
                </td>
            </tr>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Domaines</a>
                </td>
                <td
                    class="text-">
                    Management
                </td>
            </tr>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Niveau
                        d'urgence</a>
                </td>
                <td
                    class="text-">
                    Important
                </td>
            </tr>

            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Crée
                        le</a>
                </td>
                <td
                    class="text-">
                    12
                    Décembre
                    2012
                </td>
            </tr>

            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Fin
                        le</a>
                </td>
                <td
                    class="text-">
                    12
                    Décembre
                    2012
                </td>

            </tr>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Portée</a>
                </td>
                <td
                    class="text-">
                    Dakar
                </td>

            </tr>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Langue
                    </a>
                </td>
                <td
                    class="text-">
                    Wolof,
                    Kikongo
                </td>
            </tr>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Participations</a>
                </td>
                <td
                    class="text-">
                    Wolof,
                    Kikongo
                </td>
            </tr>
            <tr>
                <td
                    class="bg-light">
                    <a href=""
                        class="tx-facebook bold tx-12">
                        Description
                        de
                        la
                        collectivité</a>
                </td>
                <td
                    class=" width=110px">
                    Le
                    Sénégal
                    est
                    un
                    pays
                    situé
                    sur
                    la
                    côte
                    ouest
                    de
                    l'Afrique
                    et
                    doté
                    d'un
                    héritage
                </td>
            </tr>
        </tbody>
    </table>
</div>