<!-- Liste des profils -->
<!-- profil -->
<span class=""
      *ngFor="let profil of auth.profiles">
  <!-- <a href="" class="dropdown-item">
      <div>
        <div class="profil-list-item__type">
          {{ profil?.type | translate }}
        </div>
        <div class="profil-list-item__etablissement">
          <span>
            <i class="fas fa-school"></i> {{ profil.profil?.etablissement_details?.libelle }}
          </span>
        </div>
      </div>
      <div class="profil-list-item__validation">
        <button (click)="changerProfile(profil)"><i class="fas fa-user"></i> Changer</button>
      </div>

    </a> -->

  <a class="dropdown-item clickable"
     (click)="changerProfile(profil)">
    <span style="font-weight: 500;"
          class="d-flex mr-2 align-items-center ml-0">
      <i class="far fa-user-graduate"
         style="font-size: 11px;"
         *ngIf="profil.type == 'eleve'"></i>
      <i class="far fa-user-tie"
         style="font-size: 11px;"
         *ngIf="profil.type == 'professeur'"></i>
      <i class="far fa-user-cog"
         style="font-size: 11px;"
         *ngIf="profil.type == 'employe'"></i>
      {{ profil.type }} <br>
    </span>
    <span class="tx-11 ml-0"
          style="display: inline;"> {{ profil.profil?.etablissement_details?.libelle }}</span>
  </a>
</span>
