<div class="bg-yeto h-100">
    <!-- Logo -->
    <div class="  bd-b ">
        <div class="d-flex flex-row">
            <a href="" class="tx-white mg-l-30 "
                style="font-family: 'Tangerine'; text-align: center; font-size: 250%; vertical-align: middle; text-shadow: 0px 1px 0px ">

                Espaces<span class="tx-yellow1"> Enseignants </span></a>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="p-0">
        <div class="form-group ">
            <div class="input-group"
                style="padding-left:0px; padding-right:0px; border-radius:0">
                <select class="custom-select border-0 bg-yeto2 tx-white"
                    id="inputGroupSelect04">
                    <option selected> Année...</option>
                    <option value="1">2017</option>
                    <option value="2">2018</option>
                    <option value="3">2020</option>
                </select>
                <select class="custom-select border-0 bg-yeto2 tx-white"
                    id="inputGroupSelect02">
                    <option selected> Domaines...</option>
                    <option value="1">Comptabilité</option>
                    <option value="2">Informatique</option>
                    <option value="3">Environnement</option>
                </select>
            </div>
        </div>
        <div class=" bd-b mg-b-10  pd-0  ">

            <app-classe-list-min></app-classe-list-min>

            <div class="flex-fill pd-15 bd-t bd-b">
                <div
                    class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
                    <span class="tx-10 tx-uppercase"> Récemment</span>
                </div>
                <nav class="nav flex-column  ">
                    <div class="d-flex align-items-center justify-content-between ">
                        <a href="" class="nav-link tx-white"><i
                                class="fad fa-certificate tx-violet"></i> L.I
                            Mathématiques</a></div>
                    <a href="" class="nav-link tx-white "><i
                            class="fad fa-certificate tx-bleu"></i> L.II Histoire</a>
                    <a href="" class="nav-link tx-white"><i
                            class="fad fa-certificate tx-vert"></i> M.I Géographie</a>
                    <a href="" class="nav-link tx-white"><i
                            class="fad fa-certificate tx-jaune"></i> M.II
                        Littérature</a>
                    <a href="" class="nav-link tx-white"><i
                            class="fad fa-certificate tx-jaune"></i> M.II
                        Informatique</a>
                </nav>
            </div>

        </div>
    </div>
</div>