<!-- Section explore -->
<div class="row" *ngIf="!suivie">
  <!-- user solution -->
  <div class="col-lg-12 p-1">
    <div class="row row-xs  mg-0 pd-0 pd-y-10 bd-b">
      <div class="col-lg-12  ">
        <p class="tx- tx-16 tx-facebook italic mg-l-5 mb-0">
          {{ 'SOLUTION' | translate}}
        </p>
      </div>
    </div>


    <!-- Solutions -->
    <div class="card-body p-0">
      <div class="row row-xs mg-0 pd-0 clearfix">
        <ng-container *ngIf="solutionService.data.length && !loading">
          <div class="w-100" *ngFor="let solution of solutionService.data | paginate: {itemsPerPage: 6, currentPage: currentPage, id: 'solution'}">
            <!-- Solution -->
            <app-solution-tache-solo [solution]="solution">
            </app-solution-tache-solo>
          </div>

          <!-- Pagination -->
          <div class="col-12 mt-1 d-flex justify-content-center">
            <pagination-controls id="solution" (pageChange)="currentPage = $event" autoHide="true" previousLabel="{{ 'PRECEDENT' | translate }}"
                nextLabel="{{ 'SUIVANT' | translate }}">
            </pagination-controls>
          </div>

        </ng-container>

        <div class="row w-100">
          <div class="col-12">
            <app-loading *ngIf="loading" class="ml-5 mt-5"></app-loading>
            <app-missing-data *ngIf="!solutionService.data.length && !loading" [message]="'aucuneSolutionProposeParVotreGroupe' | translate">
            </app-missing-data>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- autres solution -->
  <div class="col-lg-12 p-1" *ngIf="affectationTache?.etat == 'TERMINE'">
    <div class="row row-xs  mg-0 pd-0 pd-y-10 bd-b">
      <div class="col-lg-12  ">
        <p class="tx- tx-16 tx-facebook italic mg-l-5 mb-0">
          {{ 'autresSolutions' | translate}}
        </p>
      </div>
    </div>


    <!-- Solutions -->
    <div class="card-body p-0">
      <div class="row row-xs mg-0 pd-0 clearfix">
        <ng-container *ngIf="solutionService.autresSolutions.length && !autresSolutionsLoading">
          <div class="w-100"
              *ngFor="let solution of solutionService.autresSolutions | paginate: {itemsPerPage: 6, currentPage: currentPage, id: 'autres-solutions'}">
            <!-- Solution -->
            <app-solution-tache-solo [solution]="solution">
            </app-solution-tache-solo>
          </div>

          <!-- Pagination -->
          <div class="col-12 mt-1 d-flex justify-content-center">
            <pagination-controls id="autres-solutions" (pageChange)="currentPage = $event" autoHide="true"
                previousLabel="{{ 'PRECEDENT' | translate }}" nextLabel="{{ 'SUIVANT' | translate }}">
            </pagination-controls>
          </div>
        </ng-container>

        <div class="row w-100">
          <div class="col-12">
            <app-loading *ngIf="autresSolutionsLoading" class="ml-5 mt-5"></app-loading>
            <app-missing-data *ngIf="!solutionService.autresSolutions.length && !autresSolutionsLoading">
            </app-missing-data>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- Section suivie -->
<ng-container *ngIf="suivie">
  <div class="col-lg-12 p-1">
    <div class="row row-xs  mg-0 pd-0 pd-y-10 bd-b">
      <div class="col-lg-12  ">
        <p class="tx- tx-16 tx-facebook italic mg-l-5 mb-0">
          {{ 'listeDesSolutions' | translate}}
        </p>
      </div>
    </div>


    <!-- Solutions -->
    <div class="card-body p-0">
      <div class="row row-xs mg-0 pd-0 clearfix">
        <ng-container *ngIf="solutionService.data.length && !loading">
          <!-- Solution -->
          <div class="w-100" *ngFor="let solution of solutionService.data">
            <app-solution-tache-solo [solution]="solution">
            </app-solution-tache-solo>
          </div>
        </ng-container>

        <div class="row w-100">
          <div class="col-12">
            <app-loading *ngIf="loading" class="ml-5 mt-5"></app-loading>
            <app-missing-data *ngIf="!solutionService.data.length && !loading" [message]="'aucuneSolutionProposeParVotreGroupe' | translate">
            </app-missing-data>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>
