<!-- Header -->
<div class="row mx-0  px-2 justify-content-between align-items-center bd-b slide-in-top">
  <!-- Titre -->
  <h3 class="tx- tx-20 tx-info italic my-3 mg-l-20 bold">
    <!-- boutton precedent -->
    <a [routerLink]="['/school/echo']" *ngIf="router.url.includes('echo/professeur')">
      <i class="fal tx-info fa-caret-circle-left mr-2"></i>
    </a>


    <i class="fad fa-scroll"></i>
    {{ 'PROFESSEUR' | translate }}
  </h3>

  <!-- Action -->
  <div class="d-flex justfiy-content-between align-items-center">
    <!-- Ajouter -->
    <a class="  tx-primary mr-4" [routerLink]="['./']" [fragment]="'create'" *ngIf="router.url.match(adminRouteRegex)">
      <i class=" fad fa-plus-circle"></i> {{ 'AJOUTER' | translate }}
    </a>

    <!-- Statistiques -->
    <a class="  tx-warning mr-4" [routerLink]="['statistique']">
      <i class=" fad fa-chart-bar"></i> {{ 'STATISTIQUES' | translate }}
    </a>

    <!-- Filtre -->
    <span class="my-2  tx-success mr-4 clickable" (click)="helper.toggleModal('filter-groupe-modal')">
      <i class="fad fa-filter"></i> {{ 'FILTRE' | translate }}
    </span>

    <!-- Recherche -->
    <div class="form-group mt-2 mb-3" style="position: relative;">
      <div class="input-group w-100">
        <!--  -->
        <input #search type="text" [placeholder]="'RECHERCHER' | translate" class="form-control pd-y-8" />

        <span class="">
          <button class="btn border bg-light h-100 d-flex align-items-center" (keyup.enter)="research(search.value)" (click)="research(search.value)">
            <i class="fad fa-search tx-facebook"></i>
          </button>
        </span>
      </div>

      <span class="tx-10 tx-danger clickable" style="position: absolute;" *ngIf="searchActive" (click)="annulerRecherche(); search.value = ''">
        <i class="fal fa-times-circle"></i>
        {{ 'annulerLaRecherche' | translate}}
      </span>
    </div>
  </div>

</div>

<div class="card-body row mx-0 p-2">
  <div [ngClass]="{'col-12': !showDetails, 'col-8 p-1': showDetails}">
    <app-professeur-list [minified]="showDetails"></app-professeur-list>
  </div>

  <div class="col-4 p-0" *ngIf="showDetails">
    <router-outlet></router-outlet>
  </div>
</div>




<app-modal [configuration]="{name: 'professeur-create-modal', icone: 'user-tie', titre: 'ajouterUnProfesseurDansEtablissement', taille: 'md'}"
    (closed)="router.navigate(['./'], { relativeTo: route })">
  <app-professeur-add *ngIf="addProfesseur"></app-professeur-add>
</app-modal>



<app-modal [configuration]="{name: 'professeur-edit-modal', icone: 'user-tie', titre: 'modifierLesDetailsDuProfesseur', taille: 'md'}"
    (closed)="router.navigate(['./'], { relativeTo: route })">
  <app-professeur-edit *ngIf="editProfesseur"></app-professeur-edit>
</app-modal>
