<div class="row row-xs clearfix mg-0 pd-0 pt-4 p-2"
     *ngIf="!loading && ministreService.data.length">

  <!-- Liste of element -->
  <div class="col-lg-3 p-2"
       *ngFor="let ministre of ministreService.data | paginate: {itemsPerPage: 12, id: 'ministre', currentPage: currentPage}">
    <div class="mycard4 border ">
      <div class="avatar5">
        <img class="rounded-circle "
             *ngIf="ministre.photo?.path"
             [src]="ministre.photo?.path"
             alt="avatar"
             width="70"
             height="70px">

        <span *ngIf="!ministre?.photo?.path">
          <i class="fad fa-user-circle"
             style="font-size: 70px;"></i>
        </span>
      </div>

      <!-- Infomation -->
      <div class="mycard-text pt-2 px-2 pb-2">
        <!-- Nom complet -->
        <span class="date tx-bold tx-yeto tx-16">
          {{ ministre.nom_complet }}
        </span>

        <!-- Poste - fonction -->
        <p class="mb-0 text-center">
          <small>
            <!-- poste -->
            <span class="tx-primary">{{ ministre.titre }} </span>
          </small>
        </p>
      </div>


      <div class="pb-3 pt-1 card-container-icon">
        <!-- Voir
        <a [routerLink]="['./']"
           class="mr-3 tx-facebook"
           routerLinkActive="active">
          <i class="fad  fa-info-circle"></i>
        </a> -->

        <!-- Modifier -->
        <a [routerLink]="['./']"
           [fragment]="'edit-ministre-gouvernement'"
           class="tx-facebook"
           (click)="modifier(ministre)">
          <i class="fad mr-3 fa-edit"></i>
        </a>

        <!-- Supprimer -->
        <a [routerLink]="['./']"
           class="tx-facebook"
           (click)="supprimer(ministre.id)">
          <i class="fad mr-3 fa-trash"></i>
        </a>


      </div>
    </div>
  </div>


  <!-- Pagination -->
  <div class="col-12 mt-1 d-flex justify-content-center">
    <pagination-controls id="ministre"
                         (pageChange)="currentPage = $event"
                         autoHide="true"
                         previousLabel="{{ 'PRECEDENT' | translate }}"
                         nextLabel="{{ 'SUIVANT' | translate }}">
    </pagination-controls>
  </div>
</div>


<!-- Loading && missing data handling -->
<div class="row"
     *ngIf="loading || !ministreService.data.length">

  <!-- Loading -->
  <div class="col-12 py-5"
       *ngIf="loading">
    <app-loading></app-loading>
  </div>


  <!-- Missing data handling -->
  <div class="col-12 py-5"
       *ngIf="!loading && !ministreService.data.length">
    <app-missing-data-alt></app-missing-data-alt>
  </div>
</div>
