<div class="groupe-list-container ">
  <div class="row row-xs mg-0 pd-0 groupe-list clearfix scale-in-top" *ngIf="!loading && groupeService.data">
    <div class="p-2" [ngClass]="{'col-4': !minified, 'col-6': minified}"
        *ngFor="let groupe of groupeService.data | paginate: {itemsPerPage: 9, currentPage: currentPage, id: 'groupe'}">
      <app-groupe-solo [groupe]="groupe" (loading)="onLoading($event)"></app-groupe-solo>
    </div>
  </div>

  <div class="row m-0 p-0" *ngIf="!loading && groupeService.data">
    <!-- Pagination -->
    <div class="col-12 mt-1 d-flex justify-content-center">
      <pagination-controls id="groupe" (pageChange)="currentPage = $event" autoHide="true" previousLabel="{{ 'PRECEDENT' | translate }}"
          nextLabel="{{ 'SUIVANT' | translate }}">
      </pagination-controls>
    </div>
  </div>

  <div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <app-missing-data *ngIf="!loading && !groupeService.data.length"></app-missing-data>
</div>
