<div class="">
  <div class="card mt-2">
    <!-- Nav tabs -->
    <div class="tab-wrapper">

      <!-- Details -->
      <input checked="" class="tab" id="tab1" name="nav" type="radio" />
      <a [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <label for="tab1">
          <span class="navicon fa fa-info-circle"></span>
        </label>
      </a>

      <!-- Employe -->
      <input class="tab" id="tab2" name="nav" type="radio" />
      <a [routerLink]="['employe']" routerLinkActive="active">
        <label for="tab2">
          <span class="navicon fa fa-user-tie"></span>
        </label>
      </a>




      <div class="tab__copy scroll-11">
        <router-outlet></router-outlet>
      </div>


    </div>
  </div>
</div>
