<div class="">
  <div class="card mt-2">
    <!-- Nav tabs -->
    <div class="tab-wrapper">

      <!-- Details -->
      <input checked="" class="tab" id="tab1" name="nav" type="radio" />
      <a [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <label for="tab1">
          <span class="navicon fa fa-info-circle"></span>
        </label>
      </a>

      <!-- Groupe -->
      <input class="tab" id="tab2" name="nav" type="radio" />
      <a [routerLink]="['groupe']" routerLinkActive="active">
        <label for="tab2">
          <span class="navicon fa fa-users"></span>
        </label>
      </a>


      <!-- Tache -->
      <input class="tab" id="tab3" name="nav" type="radio" />
      <a [routerLink]="['tache']" routerLinkActive="active">
        <label for="tab3">
          <span class="navicon fa fa-tasks-alt"></span>
        </label>
      </a>


      <!-- Classe -->
      <input class="tab" id="tab3" name="nav" type="radio" />
      <a [routerLink]="['classe']" routerLinkActive="active">
        <label for="tab3">
          <span class="navicon fa fa-users-class"></span>
        </label>
      </a>



      <div class="tab__copy scroll-11">
        <router-outlet></router-outlet>
      </div>


    </div>
  </div>
</div>
