<app-asset-discussion-fichier *ngIf="typeAsset === 'fichier'"></app-asset-discussion-fichier>
<app-asset-discussion-groupe *ngIf="typeAsset === 'groupe'"></app-asset-discussion-groupe>
<app-asset-discussion-tache *ngIf="typeAsset === 'tache'"></app-asset-discussion-tache>
<app-asset-discussion-etablissement *ngIf="typeAsset === 'etablissement'"></app-asset-discussion-etablissement>
<app-asset-discussion-etudiant *ngIf="typeAsset === 'etudiant'"></app-asset-discussion-etudiant>
<app-asset-discussion-correction *ngIf="typeAsset === 'correction'"></app-asset-discussion-correction>
