<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="create()">
    <!-- Libelle -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <!-- Label -->
            <label class="control-label"
                for="libelle">
                {{ 'LIBELLE' | translate }}
            </label>

            <!-- Input -->
            <input type="text"
                class="form-control form-control-sm"
                required
                [formControlName]="'libelle'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}">

            <!-- MEssage d'erreur -->
            <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">
                {{ 'veuillezSaisirLeLibelle' |translate }}.</div>
        </div>
    </div>

    <!-- confidentialite et classe -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- Confidentialite -->
        <div class="col-5">
            <!-- Label -->
            <label class="control-label"
                for="confidentialite">
                {{ 'CONFIDENTIALITE' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="dependanciesLoading.confidentialite"></i>
            </label>

            <angular2-multiselect
                [data]="dependancies.confidentialites"
                [settings]="dropdownSettingsAlt.single"
                formControlName="confidentialite"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'confidentialite'), 'is-valid': isValid('confidentialite')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('confidentialite')"
                class="invalid-feedback">
                {{ 'choisissezUneConfidentialite' | translate }}.
            </div>
        </div>

        <div class="col-5" *ngIf="groupeIndependant">
            <!-- Label -->
            <label class="control-label"
                for="domaines">
                {{ 'DOMAINE' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="dependanciesLoading.domaine"></i>
            </label>

            <angular2-multiselect
                [data]="dependancies.domaines"
                [settings]="dropdownSettingsAlt.multi"
                formControlName="domaines"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'domaines'), 'is-valid': isValid('domaines')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('domaines')"
                class="invalid-feedback">
                {{ 'choisissezAuMoinsUnDomaine' | translate }}.
            </div>
        </div>


        <!-- Classe -->
        <div class="col-5" *ngIf="!groupeIndependant">
            <!-- Label -->
            <label class="control-label"
                for="classe">
                {{ 'CLASSE' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="dependanciesLoading.classe"></i>
            </label>

            <angular2-multiselect
                [data]="dependancies.classes"
                [settings]="dropdownSettingsAlt.single"
                formControlName="classe"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'classe'), 'is-valid': isValid('classe')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('classe')"
                class="invalid-feedback">
                {{ 'choisissezUneClasse' | translate }}.
            </div>
        </div>

    </div>

    <!-- Domaine -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3" *ngIf="!groupeIndependant">
        <div class="col-10">
            <!-- Label -->
            <label class="control-label"
                for="domaines">
                {{ 'DOMAINE' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="dependanciesLoading.domaine"></i>
            </label>

            <angular2-multiselect
                [data]="dependancies.domaines"
                [settings]="dropdownSettingsAlt.multi"
                formControlName="domaines"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'domaines'), 'is-valid': isValid('domaines')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('domaines')"
                class="invalid-feedback">
                {{ 'choisissezAuMoinsUnDomaine' | translate }}.
            </div>
        </div>
    </div>


    <!-- Description -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
            <!-- <textarea name="description" maxlength="500" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'description'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'description'), 'is-valid': isValid('description')}"></textarea> -->
            <ckeditor
                [editor]="Editor"
                class=""
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'description'), 'is-valid': isValid('description')}"
                formControlName="description">
            </ckeditor>
            <div *ngIf="shouldShowRequiredError('description')" class="invalid-feedback">
                {{ 'saisissezLaDescriptionDeVotreTache' | translate }}
            </div>
        </div>
    </div>


    <!-- Boutton validation -->
    <div class="d-flex justify-content-center">
        <div class="col-10 text-right">
            <!-- Boutton sumit -->
            <button class="btn btn-sm btn-primary mr-1"
                type="submit"
                [disabled]="form.invalid">
                {{ 'VALIDER' | translate }}
                <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
            </button>

            <!-- Bouton reset -->
            <button class="btn btn-sm border btn-link"
                type="button"
                (click)="initialiseForm()">
                {{ 'REINITIALISER' | translate }}
            </button>
        </div>
    </div>
    <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10">
            <label class="control-label" for="libelle">Orientation</label>
            <textarea name="orientation" maxlength="200" class="form-control  form-control-sm" cols="30" rows="3"
                [formControlName]="'orientation'"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'orientation'), 'is-valid': isValid('orientation')}"></textarea>
            <small>{{editForm.get('orientation').value?.length}}/200</small>
            <div *ngIf="shouldShowRequiredError('orientation')" class="invalid-feedback">veillez saisir l'orientation.
            </div>
        </div>
    </div> -->
</form>

<app-loading *ngIf="!isFormOk"></app-loading>