<div class="baseline baseline-border">
  <div class="baseline-list">
    <div class="baseline-info">
      <span class="mb-0 tx-gray-500">10 SEP, 2019</span>
      <h2 class="tx-16 tx-dark">Biodesign Challenge Summit 2019</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet elit, sed do
        eiusmod tempor incididunt ut labore et dolore. <a href="">Learn More</a></p>
      <span class="small tx-gray-500">10:00 PM Sat, 10 Jan 2019</span>
      <ul class="list-unstyled mg-t-10 mg-0 d-flex">
        <li data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Tommy C">
          <div class="avatar"><span class="bg-soft-success avatar-initial rounded-circle bg-primary">C</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Alison G">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">A</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Brad P">
          <div class="avatar"><span class="bg-soft-warning avatar-initial rounded-circle bg-primary">B</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Saun K">
          <div class="avatar"><span class="bg-soft-danger avatar-initial rounded-circle bg-primary">S</span></div>
        </li>
        <li class="mg-l--10"
            data-original-title=""
            title="">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">5K</span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="baseline-list baseline-border baseline-primary">
    <div class="baseline-info">
      <span class="mb-0 tx-gray-500">10 SEP, 2019</span>
      <h2 class="tx-16 tx-dark">Moving Forward Conference NYC 2019</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet elit, sed do
        eiusmod tempor incididunt ut labore et dolore. <a href="">Learn More</a></p>
      <span class="small tx-gray-500">10:00 PM Sat, 10 Jan 2019</span>
      <ul class="list-unstyled mg-t-10 mg-0 d-flex">
        <li data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Tommy C">
          <div class="avatar"><span class="bg-soft-success avatar-initial rounded-circle bg-primary">C</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Alison G">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">A</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Brad P">
          <div class="avatar"><span class="bg-soft-warning avatar-initial rounded-circle bg-primary">B</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Saun K">
          <div class="avatar"><span class="bg-soft-danger avatar-initial rounded-circle bg-primary">S</span></div>
        </li>
        <li class="mg-l--10"
            data-original-title=""
            title="">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">5K</span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="baseline-list  baseline-border baseline-warning">
    <div class="baseline-info">
      <span class="mb-0 tx-gray-500">10 SEP, 2019</span>
      <h2 class="tx-16 tx-dark">HTML5 Fundamentals Discussion</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet elit, sed do
        eiusmod tempor incididunt ut labore et dolore. <a href="">Learn More</a></p>
      <span class="small tx-gray-500">10:00 PM Sat, 10 Jan 2019</span>
      <ul class="list-unstyled mg-t-10 mg-0 d-flex">
        <li data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Tommy C">
          <div class="avatar"><span class="bg-soft-success avatar-initial rounded-circle bg-primary">C</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Alison G">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">A</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Brad P">
          <div class="avatar"><span class="bg-soft-warning avatar-initial rounded-circle bg-primary">B</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Saun K">
          <div class="avatar"><span class="bg-soft-danger avatar-initial rounded-circle bg-primary">S</span></div>
        </li>
        <li class="mg-l--10"
            data-original-title=""
            title="">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">5K</span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="baseline-list  baseline-border baseline-info">
    <div class="baseline-info">
      <span class="mb-0 tx-gray-500">10 SEP, 2019</span>
      <h2 class="tx-16 tx-dark">Laracon US 2019</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet elit, sed do
        eiusmod tempor incididunt ut labore et dolore. <a href="">Learn More</a></p>
      <span class="small tx-gray-500">10:00 PM Sat, 10 Jan 2019</span>
      <ul class="list-unstyled mg-t-10 mg-0 d-flex">
        <li data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Tommy C">
          <div class="avatar"><span class="bg-soft-success avatar-initial rounded-circle bg-primary">C</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Alison G">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">A</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Brad P">
          <div class="avatar"><span class="bg-soft-warning avatar-initial rounded-circle bg-primary">B</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Saun K">
          <div class="avatar"><span class="bg-soft-danger avatar-initial rounded-circle bg-primary">S</span></div>
        </li>
        <li class="mg-l--10"
            data-original-title=""
            title="">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">5K</span></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="baseline-list  baseline-border baseline-success">
    <div class="baseline-info">
      <span class="mb-0 tx-gray-500">10 SEP, 2019</span>
      <h2 class="tx-16 tx-dark">HTML5 Fundamentals Discussion</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet elit, sed do
        eiusmod tempor incididunt ut labore et dolore. <a href="">Learn More</a></p>
      <span class="small tx-gray-500">10:00 PM Sat, 10 Jan 2019</span>
      <ul class="list-unstyled mg-t-10 mg-0 d-flex">
        <li data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Tommy C">
          <div class="avatar"><span class="bg-soft-success avatar-initial rounded-circle bg-primary">C</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Alison G">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">A</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Brad P">
          <div class="avatar"><span class="bg-soft-warning avatar-initial rounded-circle bg-primary">B</span></div>
        </li>
        <li class="mg-l--10"
            data-toggle="tooltip"
            data-placement="top"
            data-skin-class="tooltip-base"
            data-html="true"
            title=""
            data-original-title="Saun K">
          <div class="avatar"><span class="bg-soft-danger avatar-initial rounded-circle bg-primary">S</span></div>
        </li>
        <li class="mg-l--10"
            data-original-title=""
            title="">
          <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">5K</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
