<!-- Header -->
<div class="card">
    <div class="row mx-0 mg-y-7">
        <!-- Titre -->
        <!-- <div class="col-11">
            <h3 class="tx- tx-16 tx-primary italic mg-l-20 bold">
                <i class="fal fa-sitemap"></i>
                {{ 'HIERARCHIE' | translate }}
            </h3>
        </div> -->

        <div class="col-8">
            <!-- <h3 class="tx- tx-16 tx-success italic mg-r-20 bold">
                <i class="fad fa-users-class"></i>
                {{ 'CLASSE' | translate }}
            </h3> -->
            <a class="btn btn-oblong btn-light tx-success float-left bd-0 btn-icon clickable" (click)="add()">
                <i class="fad fa-plus-circle tx-14 tx-success"
                    style="padding:0px; border-radius:50%">
                </i>
            </a>
        </div>

        <!-- Recherche -->
        <div class="col-lg-4 float-right btn-demo">
            <div class="form-group mg-b-5 ">
                <div class="input-group w-100">
                    <!--  -->
                    <input
                        #search
                        type="text"
                        [placeholder]="'RECHERCHER' | translate"
                        class="form-control pd-y-8">

                    <span class="">
                        <button class="btn bg-light h-100 d-flex align-items-center"
                            (click)="getEtablissementAffilie(search.value)">
                            <i class="fad fa-search tx-facebook"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card-body p-2 bg-light bd-t">
    <app-etablissement-list></app-etablissement-list>
</div>

<app-modal
    [configuration]="{name: 'affiliation-add-modal', titre: 'affiliezVotreEtablissementAUnAutre', icone: 'exchange'}">
    <app-affiliation-etablissement-add ngif="addAffiliation"></app-affiliation-etablissement-add>
</app-modal>