<div class="tache-groupe-container" [ngClass]="{'h-335': affecterTache}">
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-sm btn-info" (click)="affecterTache = true">
                <span><i class="fad fa-exchange"></i></span>
                {{ 'affecterUneTacheACeGroupe' | translate }}
            </button>
        </div>
    </div>

    <!-- Liste des tache -->
    <app-tache-groupe-list></app-tache-groupe-list>

    <!-- Affectation component -->
    <app-overlay *ngIf="affecterTache" (closed)="affecterTache = false">
        <app-affecter-tache-by-groupe></app-affecter-tache-by-groupe>
    </app-overlay>
</div>