<div class="card-body h-100 pt-4 p-2 bg-light">
  <ng-container *ngIf="!loading && etablissementService.data.length">
    <div class="row d-flex flex-row-reverse justify-content-space-evenly m-0 p-0">
      <!-- Elements -->
      <div class="col-12 "
          *ngFor="let etablissement of etablissementService.data| paginate: {itemsPerPage: 4, id:'etablissement', currentPage: currentPage}; let i = index">
        <div class="card mg-b-30 etablissement" [ngClass]="{'active':   rla.isActive}">
          <div class="avatar4">
            <p>
              <!-- Logo de l'etablissement -->
              <span *ngIf="etablissement.logo_min">
                <img class="rounded-circle" [src]="etablissement.logo_min.path" [alt]="etablissement.libelle" width="55" height="55" />
              </span>

              <!-- Image par defaut au cas ou l'etablissement n'aurait pas de logo -->
              <span *ngIf="!etablissement.logo_min">
                <img class="" src="assets/images/xs/ministry.png" *ngIf="etablissement.type.id === 1" [alt]="etablissement.libelle" />
                <img class="" src="assets/images/xs/ia.png" *ngIf="etablissement.type.id === 2" [alt]="etablissement.libelle" />
                <img class="" src="assets/images/xs/ie.png" *ngIf="etablissement.type.id === 3" [alt]="etablissement.libelle" />
                <img class="" src="assets/images/xs/direction.png" *ngIf="etablissement.type.id === 4" [alt]="etablissement.libelle" />
                <img class="" src="assets/images/xs/syndicales.png" *ngIf="etablissement.type.id === 5" [alt]="etablissement.libelle" />
                <img class="" src="assets/images/xs/organisme.png" *ngIf="etablissement.type.id === 6" [alt]="etablissement.libelle" />
                <img class="" src="assets/images/xs/etablissement.png" *ngIf="etablissement.type.id === 7" [alt]="etablissement.libelle" />
              </span>
            </p>
          </div>
          <div class="card-body text-center p-0 mg-t-5 bg-light">
            <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
              <a class="tx-ether4" [routerLink]="[ 'info', etablissement.id]" routerLinkActive="active" #rla="routerLinkActive">{{
                etablissement.libelle
                }}</a>
            </h5>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="col-12 mt-1 d-flex justify-content-center">
        <pagination-controls id="etablissement" (pageChange)="currentPage = $event" autoHide="true" previousLabel="{{ 'PRECEDENT' | translate }}"
            nextLabel="{{ 'SUIVANT' | translate }}">
        </pagination-controls>
      </div>
    </div>
  </ng-container>

  <app-loading *ngIf="loading" class="w-100"></app-loading>
  <app-missing-data *ngIf="!loading && !etablissementService.data.length" class="w-100">
  </app-missing-data>
</div>
