<!-- Header -->
<div class="card">
  <div class="row mx-0 mg-y-7">
    <!-- Titre -->
    <div class="col-8">
      <span class="ml-2">
        <img
             src="assets/images/xs/ecole.png"
             alt="avatar"
             style="height: 33px" />
        {{ "mesEtablissments" | translate }}
      </span>
    </div>
  </div>
</div>

<div class="card-body p-2 bg-light">
  <ng-container *ngIf="!loading && etablissementService.data.length">
    <div class="row m-0 p-0">
      <div
           class="col-sm-6 col-xl-3"
           *ngFor="let etablissement of etablissementService.data">
        <div class="card mg-b-20">
          <div class="avatar4">
            <p>
              <img
                   class=""
                   src="assets/images/xs/ministry.png"
                   *ngIf="etablissement.type.id === 1"
                   alt="avatar" />
              <img
                   class=""
                   src="assets/images/xs/ia.png"
                   *ngIf="etablissement.type.id === 2"
                   alt="avatar" />
              <img
                   class=""
                   src="assets/images/xs/ie.png"
                   *ngIf="etablissement.type.id === 3"
                   alt="avatar" />
              <img
                   class=""
                   src="assets/images/xs/direction.png"
                   *ngIf="etablissement.type.id === 4"
                   alt="avatar" />
              <img
                   class=""
                   src="assets/images/xs/syndicales.png"
                   *ngIf="etablissement.type.id === 5"
                   alt="avatar" />
              <img
                   class=""
                   src="assets/images/xs/organisme.png"
                   *ngIf="etablissement.type.id === 6"
                   alt="avatar" />

              <img
                   class=""
                   src="assets/images/xs/etablissement.png"
                   *ngIf="etablissement.type.id === 7"
                   alt="avatar" />
            </p>
          </div>
          <div class="card-body text-center p-0 mg-t-5 bg-light">
            <h5 class="tx-ether4 tx-13 tx-medium mg-y-15 d-block bold">
              <a class="tx-ether4" [routerLink]="[1]">{{
                etablissement.libelle
                }}</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <app-loading *ngIf="loading" class="w-100"></app-loading>
  <app-missing-data
                    *ngIf="!loading && !etablissementService.data.length"
                    class="w-100">
  </app-missing-data>
</div>