<div class="w-100">
    <div *ngIf="!loading && sujetService.data.length">
        <a class="media clickable pd-y-10 bd-b"
            [routerLink]="['./']"
            [ngClass]="{'border border-primary': sujet.id == currentSujet}"
            [queryParams]="{'type_discussion': 'sujet', 'sujet': sujet.id}"
            *ngFor="let sujet of sujetService.data | paginate: {itemsPerPage: 8, currentPage: currentPage, id: 'discussion-sujet'}; let i=index">
            <div class="mr-2">
                <div class="avatar mg-l-5">
                    <span class="avatar-initial rounded-circle bg-primary op-6"
                        [ngClass]="{
                            'bg-primary': (helper.parseInt(i.toString().charAt(i.toString().length - 1)) - 1 == 0) || ((helper.parseInt(i.toString().charAt(i.toString().length - 1)) + 5) - 1 == 0) ,
                            'bg-warning': (helper.parseInt(i.toString().charAt(i.toString().length - 1)) - 2 == 0 )|| ((helper.parseInt(i.toString().charAt(i.toString().length - 1)) + 5) - 2 == 0),
                            'bg-success': (helper.parseInt(i.toString().charAt(i.toString().length - 1)) - 3 == 0) || ((helper.parseInt(i.toString().charAt(i.toString().length - 1)) + 5) - 3 == 0),
                            'bg-info': (helper.parseInt(i.toString().charAt(i.toString().length - 1)) - 4 == 0) || ((helper.parseInt(i.toString().charAt(i.toString().length - 1)) + 5) - 4 == 0),
                            'bg-danger': (helper.parseInt(i.toString().charAt(i.toString().length - 1)) - 5 == 0) || ((helper.parseInt(i.toString().charAt(i.toString().length - 1)) + 5) - 5 == 0)
                        }">
                        {{ sujet.libelle.split(' ')[0].charAt(0) + (sujet.libelle.split(' ')[1] ? sujet.libelle.split('
                        ')[1].charAt(0) : sujet.libelle.split(' ')[0].charAt(1))}}
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-between mg-t-7 wd-100p">
                <div class="d-inline-block">
                    <h6 class="mb-0 tx-13 tx-facebook" [ngClass]="{'font-weight-bold': sujet.id == currentSujet}">
                        {{ sujet.libelle }}
                    </h6>
                    <p class="mb-0 tx-gray-600 tx-12">Mamamiah!</p>
                </div>
            </div>
        </a>

        <!-- Pagination -->
        <div class="col-12 mt-1 d-flex justify-content-center">
            <pagination-controls
                id="discussion-sujet"
                (pageChange)="currentPage = $event"
                autoHide="true"
                previousLabel="{{ '' | translate }}"
                nextLabel="{{ '' | translate }}">
            </pagination-controls>
        </div>

    </div>

    <app-loading *ngIf="loading"></app-loading>
    <app-missing-data *ngIf="!loading && !sujetService.data.length"></app-missing-data>
</div>