.sidebar {
  background: #01807f !important;

  &__title {
    color: #c0d1e0 !important;
  }

  &__nav {
    &-item {
      &-active {
        color: #ffbe67 !important;
        font-weight: bolder;
      }
    }
  }
}

[class^="col"] {
  transition: all 0.2s ease-in-out !important;
}
