<div class="pl-2 pt-2">
  <h5 class="d-inline-block">
    <!-- boutton precedent -->
    <a [routerLink]="['..']"
       [ngbTooltip]="'revenirEnArriere' | translate"
       class="p-2 mr-2 tx-15  d-flex border rounded-circle align-items-center justify-content-center">
      <i class="fad fa-arrow-left"></i>
    </a>

  </h5>
</div>

<div class="row row-xs clearfix  mg-0 pd-0 p-0 pt-4 "
     *ngIf="single">
  <!-- Left sidebar -->
  <div class=" col-lg-3 pr-2  pl-4">
    <div class="row row-xs clearfix pt-4 bd-b pb-2 mg-0 pd-0 bg-light ">
      <div class="col-lg-12">
        <!-- <h6 class="text-center tx-ether">{{ single.pays_siege.libelle }}</h6> -->
        <div class="image text-center pb-2">
          <img [src]="single.pays_origine.drapeau"
               class="rounded"
               width="80">
        </div>
        <h6 class="text-center tx-ether">{{ ('Passerelle' | translate) + ': ' + single.pays_origine.libelle + ' - ' + single.pays_siege.libelle }}
        </h6>
        <p class="text-center mb-0 ether2"> {{ single.pays_origine.libelle }}</p>
        <p class="text-center tx-warning tx-12	"> {{ 'typeDePasserelle' | translate }} : {{ single.type.libelle | translate }} </p>


      </div>
    </div>
    <div class=" text-center pt-1 pb-1 ">
      <a class="ml-2"> <i class="fad fa-comment-alt-lines tx-echos2 bg-bluelight"
           style="padding:10px; border-radius:50%"></i></a>

      <!-- edit  -->
      <a class="ml-2">
        <i class="fad fa-page-break tx-echos2 bg-bluelight"
           style="padding:6px; border-radius:50%"></i>
      </a>

      <!-- affecter à bureau  -->
      <a class="ml-2"
         [routerLink]="['./']"
         [ngbTooltip]="'affecterUnBureau' | translate"
         (click)="affecterPasserelle()">
        <i class="fad fa-exchange tx-echos2 bg-bluelight"
           style="padding:6px; border-radius:50%"></i>
      </a>
    </div>


  </div>


  <!-- Main content -->
  <div class=" col-lg-9 pr-2 ">
    <!-- Call to actions buttons -->
    <div class="col-md-12 col-lg-12 p-0">

      <div class=" collapse show"
           id="collapse4">


        <!-- Bureau -->
        <a *ngIf="single.bureau"
           [routerLink]="['/', 'administration', 'bureaux', single.bureau.id]"
           class="btn btn-brand p-0 mr-2 btn-github">
          <i class="fas fa-chair-office m-0"
             style="line-height: 30px;"></i><span class="p-3 m-0">{{ 'BUREAU' | translate }}</span>
        </a>



        <!-- ministere -->
        <a [routerLink]="['/', 'ministeres', ministere.id]"
           *ngIf="ministere"
           class="btn btn-brand p-0 mr-2 btn-dropbox">
          <i class="fas fa-landmark m-0"
             style="line-height: 30px;"></i><span class="p-3 m-0"> {{ 'MINISTERE' | translate }}</span>
        </a>



      </div>
    </div>

    <!-- Nav -->
    <div class="card mg-b-20">
      <div class=" collapse show"
           id="collapse9">
        <!-- Liste de navigation -->
        <ul class="nav bd-b bd-2 bd-facebook">

          <!-- Services -->
          <li class="nav-item">
            <a class="nav-link tx-echos"
               [routerLink]="['services']"
               [routerLinkActive]="' active font-weight-bold '">
              <i class="fad fa-ball-pile  tx-20"></i>
              {{ 'SERVICES' | translate }}
            </a>
          </li>


          <!-- Services -->
          <li class="nav-item">
            <a class="nav-link tx-echos"
               [routerLink]="['employes']"
               [routerLinkActive]="' active font-weight-bold '">
              <i class="fad fa-sitemap  tx-20"></i>
              {{ 'resssourcesHumaines' | translate }}
            </a>
          </li>


          <!-- Inscriptions-consulaires -->
          <li class="nav-item">
            <a class="nav-link tx-echos"
               [routerLink]="['/', 'administration', 'bureaux', single.bureau?.id, 'admin' ,'inscriptions-consulaires']"
               [routerLinkActive]="'active font-weight-bold'">
              <i class="fad fa-file-certificate  tx-20"></i>
              {{ 'ENREGISTREMENTS' | translate }}
            </a>
          </li>

        </ul>
        <div class="tab-content">

          <div class="tab-pane fade active show"
               id="les_citoyens">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Loading -->
<div class="my-5"
     *ngIf="loading">
  <app-loading></app-loading>
</div>



<app-modal [configuration]="{ name: 'affecter-passerelle-modal', titre: 'affecterUnBureau', icone: 'exchange', taille: 'md' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-affecter-passerelle *ngIf="affecter"
                           [passerelle]="single">
  </app-affecter-passerelle>
</app-modal>



<app-modal [configuration]="{ name: 'passerelle-edit-modal', titre: 'modifierLesDetailsDeLaPasserelle', icone: 'link' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' }); edit = false">
  <app-passerelle-edit *ngIf="edit"></app-passerelle-edit>
</app-modal>





<div class="my-5"
     *ngIf="loading">
  <app-loading></app-loading>
</div>
