<!-- Liste des tunels -->
<div class="col-lg-12 p-1">
  <div class="row row-xs  mg-0 pd-0 pd-y-10 bd-b">
    <div class="col-lg-12  ">
      <p class="tx- tx-16 tx-facebook italic mg-l-5 mb-0">
        {{ 'listeDesTunelsPourCetteTache' | translate}}
      </p>
    </div>
  </div>


  <!-- tunels -->
  <div class="card-body p-0">
    <div class="row row-xs mg-0 pd-0 clearfix">
      <ng-container *ngIf="tunelService.data.length && !loading">
        <!-- tunel -->
        <a class="bd-b w-100 mg-b-1 tunelo clickable" [routerLink]="['./']"
            [queryParams]="{'type_discussion': 'tunel', tunel: tunel.id, modal: 'discussion-min'}" *ngFor="let tunel of tunelService.data">
          <div class="d-flex ">
            <!-- Icone -->
            <div class="tx-20 pd-y-15 pd-x-10">
              <i class="fad fa-comments-alt tx-success"></i>
            </div>
            <div class="ml-3 mr-3 py-2 wd-100p">
              <!-- date de creation et libelle -->
              <div class="mb-0 d-flex justify-content-between align-items-center">
                <!-- Libelle -->
                <a class="tx-success clickable tx-13" style="text-align: justify">
                  {{ tunel.libelle}}
                </a>

                <!-- Date d'affectation -->
                <span class="tx-11">
                  <i class="fad fa-calendar tx-success"></i>
                  {{ tunel.created_at | date }}
                </span>
              </div>


              <!-- Assets -->
              <p class="tx-10 mg-t-10 mb-0 tx-gray ">
                <!-- Liste des participants -->
                <span class="mr-2" [ngbTooltip]="'PARTICIPANTS' | translate">
                  <i class="fad fa-users tx-success"></i>
                  <span *ngFor="let participant of tunel.first_participants; let i = index">
                    {{ participant.membre_details.nom_complet }} <span *ngIf="i < tunel.nombre_participants - 1">,</span>
                  </span>

                  <!-- nombre participant restant -->
                  <span class="font-italic" *ngIf="tunel.nombre_participants > 4">
                    +{{ tunel.nombre_participants - 4 }}
                  </span>
                </span>



                <!--
                                    <i  class="fal fa-calendar-alt tx-teal mr-2"></i>
                                    <i
                                        class="fal fa-users tx-primary mr-2"></i> -->


              </p>

            </div>
          </div>
        </a>
      </ng-container>

      <div class="row w-100" *ngIf="!tunelService.data.length || loading">
        <div class="col-12">
          <app-loading *ngIf="loading" class="ml-5 mt-5"></app-loading>
          <app-missing-data *ngIf="!tunelService.data.length && !loading"></app-missing-data>
        </div>
      </div>
    </div>
  </div>

</div>
