.card {
  box-shadow: 2px 3px 7px 0px rgb(0 0 0 / 20%) !important;
  &.active {
    border: 1px solid #fce09f !important;
    transform: scale(1.03);
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    z-index: 2;
  }
}
