<div
  class="row row-xs clearfix mg-0 pd-0 mg-t-20"
  *ngIf="serviceService.data.length && !loading"
>
  <div class="col-sm-6 col-xl-3" *ngFor="let service of serviceService.data">
    <div class="card mg-b-20 bg-light">
      <div class="d-flex justify-content-between">
        <!-- image avatar -->
        <div class="avatar4">
          <p>
            <img class=" " src="assets/images/xs/serv6.png" alt="avatar" />
          </p>
        </div>

        <!-- Dropdown options -->
        <div class="dropdown d-inline float-right mr-2 mt-1">
          <!-- Icone -->
          <i
            class="fas fa-caret-down mt-1 clickable float-left"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          </i>

          <div
            class="dropdown-menu dropdown-menu-left"
            aria-labelledby="dropdownMenuButton"
          >
            <!-- modifier membre -->
            <a
              class="dropdown-item tx-primary clickable"
              (click)="modifier(service)"
            >
              {{ "MODIFIER" | translate }}
              <i class="fad fa-edit float-right"></i>
            </a>
            <!-- supprimer membre -->
            <!-- <a
              class="dropdown-item tx-primary clickable"
              (click)="delete(admin.id)"
            >
              {{ "SUPPRIMER" | translate }}
              <i class="fad fa-trash float-right"></i>
            </a> -->

            <!-- Tunel -->
            <!-- <a
              class="dropdown-item tx-primary clickable"
              [routerLink]="['./']"
              [queryParams]="{
                type_discussion: 'correspondance',
                correspondant: admin.admin_details.id_inscription,
                modal: 'discussion-min'
              }"
            >
              {{ "CONTACTER" | translate }}
              <i class="fad fa-comments-alt float-right"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="card-body text-center p-0 mg-t-5 bg-white">
        <!-- Libelle -->
        <h5 class="tx-13 tx-medium mg-y-15 d-block bold">
          <a class="tx-yeto2" [routerLink]="[service.id]">{{
            service.libelle
          }}</a>
        </h5>

        <!-- Assets -->
        <div class="like-comm mg-t-5 mg-b-5">
          <a
            [routerLink]="['./']"
            [queryParams]="{
              type_discussion: 'service_etablissement',
              service_etablissement: service.id,
              modal: 'discussion-min'
            }"
            class="link mr-2 tx-ether4 tx-11"
          >
            <i class="fad fa-comments"></i>
            Contacts
          </a>
          <a href="" class="link mr-2 tx-ether4 tx-11"
            ><i class="fad fa-users"></i>{{ service.nombre_employe }}</a
          >
          <a href="" class="link mr-2 tx-ether4 tx-11"
            ><i class="fad fa-info-circle"></i> Infos</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-5" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div class="my-5" *ngIf="!serviceService.data.length && !loading">
  <app-missing-data></app-missing-data>
</div>

<!-- <div class="col-sm-6 col-xl-3">
  <div class="card mg-b-20 bg-light">
    <div class="avatar4">
      <p>
        <img class=" " src="assets/images/xs/serv.png" alt="avatar" />
      </p>
    </div>
    <div class="card-body text-center p-0 mg-t-5 bg-white">
      <h5 class="tx-yeto2 tx-13 tx-medium mg-y-15 d-block bold">
        Services de bourses
      </h5>
      <div class="like-comm mg-t-5 mg-b-5">
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-comments"></i> Contacts</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-users"></i> 22</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-info-circle"></i> Infos</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3">
  <div class="card mg-b-20 bg-light">
    <div class="avatar4">
      <p>
        <img class=" " src="assets/images/xs/serv1.png" alt="avatar" />
      </p>
    </div>
    <div class="card-body text-center p-0 mg-t-5 bg-white">
      <h5 class="tx-yeto2 tx-13 tx-medium mg-y-15 d-block bold">
        Services de bourses
      </h5>
      <div class="like-comm mg-t-5 mg-b-5">
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-comments"></i> Contacts</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-users"></i> 22</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-info-circle"></i> Infos</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3">
  <div class="card mg-b-20 bg-light">
    <div class="avatar4">
      <p>
        <img class=" " src="assets/images/xs/serv2.png" alt="avatar" />
      </p>
    </div>
    <div class="card-body text-center p-0 mg-t-5 bg-white">
      <h5 class="tx-yeto2 tx-13 tx-medium mg-y-15 d-block bold">
        Services de bourses
      </h5>
      <div class="like-comm mg-t-5 mg-b-5">
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-comments"></i> Contacts</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-users"></i> 22</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-info-circle"></i> Infos</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3">
  <div class="card mg-b-20 bg-light">
    <div class="avatar4">
      <p>
        <img class=" " src="assets/images/xs/serv3.png" alt="avatar" />
      </p>
    </div>
    <div class="card-body text-center p-0 mg-t-5 bg-white">
      <h5 class="tx-yeto2 tx-13 tx-medium mg-y-15 d-block bold">
        Services de bourses
      </h5>
      <div class="like-comm mg-t-5 mg-b-5">
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-comments"></i> Contacts</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-users"></i> 22</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-info-circle"></i> Infos</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3">
  <div class="card mg-b-20 bg-light">
    <div class="avatar4">
      <p>
        <img class=" " src="assets/images/xs/serv4.png" alt="avatar" />
      </p>
    </div>
    <div class="card-body text-center p-0 mg-t-5 bg-white">
      <h5 class="tx-yeto2 tx-13 tx-medium mg-y-15 d-block bold">
        Services de bourses
      </h5>
      <div class="like-comm mg-t-5 mg-b-5">
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-comments"></i> Contacts</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-users"></i> 22</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-info-circle"></i> Infos</a
        >
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3">
  <div class="card mg-b-20 bg-light">
    <div class="avatar4">
      <p>
        <img class=" " src="assets/images/xs/serv5.png" alt="avatar" />
      </p>
    </div>
    <div class="card-body text-center p-0 mg-t-5 bg-white">
      <h5 class="tx-yeto2 tx-13 tx-medium mg-y-15 d-block bold">
        Services de bourses
      </h5>
      <div class="like-comm mg-t-5 mg-b-5">
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-comments"></i> Contacts</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-users"></i> 22</a
        >
        <a href="" class="link mr-2 tx-ether4 tx-11"
          ><i class="fad fa-info-circle"></i> Infos</a
        >
      </div>
    </div>
  </div>
</div> -->
