<div class="tunel" *ngIf="tunel">
  <!--#region Header -->
  <div class="tunel__header">
    <!-- header type correspondant-->
    <div class="tunel__correspondant">
      <!-- Image correspondant -->
      <img [src]="tunel.user.photo.path" [alt]="tunel.user.nom_complet" class="tunel__correspondant-image">

      <!-- Autres information correspondant -->
      <div class="tunel__correspondant-name">

        <!-- Nom correspondant -->
        <h4 class="tunel__correspondant-name--main">
          {{ tunel.libelle }}
        </h4>

        <!-- Correspodant fonction -->
        <span class="tunel__correspondant-name--sub">
          {{ 'creePar' | translate}}: @{{ tunel.user.nom_complet }}
        </span>
      </div>

      <a class="tunel__correspondant-button" [routerLink]="[router.url.split('?')[0]]" (click)="helper.toggleModal('discussion-min-modal')">
        <i class="fad fa-times-circle"></i>
      </a>
    </div>

    <!-- #region Navigation -->
    <ul class="tunel__navigation">
      <!-- Message -->
      <a [routerLink]="['./']" [queryParams]="getNavigationQueryParamsByTab('message')" class="tunel__navigation-item  "
          [routerLinkActive]="'tunel__navigation-item--active'">
        <i class="fas fa-comment"></i>
      </a>

      <!-- Participant -->
      <a class="tunel__navigation-item" [routerLink]="['./']" [queryParams]="getNavigationQueryParamsByTab('participant')"
          [routerLinkActive]="'tunel__navigation-item--active'">
        <i class="fal fa-users"></i>
      </a>

      <!-- Fichier -->
      <a class="tunel__navigation-item" [routerLink]="['./']" [queryParams]="getNavigationQueryParamsByTab('fichier')"
          [routerLinkActive]="'tunel__navigation-item--active'">
        <i class="fal fa-file-alt"></i>
      </a>
    </ul>
    <!-- #endregion Navigation -->
  </div>
  <!-- #endregion Header -->

  <!-- #region Messages -->
  <ng-container *ngIf="showTabs.message">
    <div class="tunel__body tunel__body--message scroll-11">
      <app-reaction-tunel-list></app-reaction-tunel-list>
    </div>

    <app-reaction-tunel-create *ngIf="tunel?.is_user_participant"></app-reaction-tunel-create>

  </ng-container>
  <!-- #endregion Message -->

  <!-- #region participant -->
  <div class="tunel__body" *ngIf="showTabs.participant">
    <app-participant-tunel></app-participant-tunel>
  </div>
  <!-- #endregion participant -->


  <!-- #region fichier -->
  <div class="tunel__body" *ngIf="showTabs.fichier">
    <app-fichier-tunel></app-fichier-tunel>
  </div>
  <!-- #endregion fichier -->




</div>
