<!-- Title -->
<div class="pl-2 pt-2">
  <h5 class="pt-2 pb-2">
    <i class="fad fa-hands-helping  tx-20"></i>
    {{ 'RELATIONS' | translate }}
  </h5>
</div>


<!-- header -->
<app-main-header [id]="'relation'"
                 [hasFilter]="false">
</app-main-header>


<app-relation-interpersonnelle-list></app-relation-interpersonnelle-list>




<app-modal [configuration]="{ name: 'relation-create-modal', titre: 'ajouterUneRelation', icone: 'hands-helping' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-relation-interpersonnelle-create></app-relation-interpersonnelle-create>
</app-modal>
