<div class="tunel__messages " *ngIf="reactionService.data.length && !loading">

  <!-- Liste des message -->
  <ng-container *ngFor="let reaction of reactionService.data">
    <!-- Sent -->
    <div class="tunel__message tunel__message--reverse" *ngIf="reaction.user?.id_inscription === auth.user?.id_inscription">
      <div class="tunel__message-arrow"></div>
      <div class="tunel__message-text">
        {{reaction?.reaction}}
      </div>
    </div>


    <!-- Received -->
    <div class="tunel__message tunel__message--initial" *ngIf="reaction.user?.id_inscription !== auth.user?.id_inscription">
      <div class="tunel__message-arrow"></div>
      <div class="tunel__message-text">
        {{reaction?.reaction}}
      </div>
    </div>
  </ng-container>
</div>
