<div class="bg-white">
  <div class="" *ngIf="data.length && !loading">
    <a class="col-12 border-bottom d-inline-block tunela clickable p-2" *ngFor="let tunel of data" [routerLink]="['./']"
        [queryParams]="{ type_discussion: 'tunel', modal: 'discussion-min', tunel: tunel.id }">
      <div class="d-flex tx-facebook">
        <!-- Icone -->
        <div class="mr-2">
          <i class="fad tx-facebook fa-comments"></i>
        </div>

        <!-- Libelle -->
        <div>
          {{ tunel.libelle }}
        </div>
      </div>

      <!-- Assets -->
      <div class="d-flex justify-content-between tx-10 tx-facebook mt-1">
        <!-- Tache -->
        <span>
          <i class="fad fa-tasks-alt"></i>
          {{ tunel.tache.libelle }}
        </span>
        <div>
          <i class="fad fa-users"></i>
          {{ tunel.nombre_participant }}
        </div>
      </div>
    </a>
  </div>

  <div class="py-3" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <app-missing-data *ngIf="!data.length && !loading" [message]="'pasDeTunel' | translate">
  </app-missing-data>
</div>
