<div class="card-body p-0">
  <div class="d-flex flex-wrap  mg-l-0 mg-r-0" *ngIf="!loading && classeService.data.length">
    <!-- <div class="row m-0" > -->
    <div class="" [ngClass]="{'col-3': !minified, 'col-4 p-1': minified}" *ngFor="let classe of classeService.data">
      <div class="card card-classe mg-b-20" [ngClass]="{'active': rla.isActive}">

        <!-- Content -->
        <div class="card-body text-center">
          <!-- Icone -->
          <i class="hidden-xs tx-50 tx-primary bg-light tx-primary fal fa-users-class rounded-circle p-2"></i>

          <!-- Libelle -->
          <h5 class="tx-facebook tx-13 tx-medium mb-0  d-block"> {{classe.libelle | titlecase}} </h5>

          <!-- formation -->
          <span class="tx-warning tx-13 tx-bold tx-medium  d-block"> {{classe.formation?.libelle}} </span>

          <!-- Assets -->

          <div class="icones">
            <!-- Details -->
            <a class="btn btn-link link px-1 " [routerLink]="[classe.id]" routerLinkActive="active" #rla="routerLinkActive">
              <i class="fas fa-info-circle tx-primary tx-14 bg-light " style=" padding:8px; border-radius: 50%; "></i>
            </a>

            <!-- Update -->
            <a class="btn btn-link link px-1 " routerLink="./" [fragment]="'edit'" (click)="modifier(classe)">
              <i class="fal fa-edit tx-primary tx-14 bg-light " style=" padding:8px; border-radius: 50%; "></i>
            </a>

            <!-- Delete -->
            <a class="btn btn-link link px-1 ">
              <i class="fas fa-trash-alt tx-primary tx-14 bg-light " style=" padding:8px; border-radius: 50%; "></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <app-missing-data *ngIf="!loading && !classeService.data.length"></app-missing-data>
</div>
