<div class="container-fluid">
  <div class="row h-full ">
    <div class="col-lg-6 background-11 pt-8  text-left ">
      <img class="pt-8"
           src="assets/images/capturelog/account.svg"
           width="500" />
    </div>

    <div class="col-lg-6 text-center">
      <a class="navbar-brand overflow-hidden "
         href="o2sw.html">
        <img src='assets/images/o2sw.svg'
             alt='logo'
             width='140px'>
      </a>
      <span class="d-block mb-3 text-center pt-8 "><i class="fad fa-clipboard-list color-11 tx-18 bg-nfacebook"
           style="padding:14px; border-radius:50%"></i></span>
      <h3 class="fw-300 mb-3 tx-nfacebook text-center"> Inscrivez-vous ici</h3>
      <form class="zform"
            method="post">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control"
                     type="hidden"
                     name="to"
                     value="username@domain.extension">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                     type="text"
                     name="firstname"
                     placeholder="Nom"
                     required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                     type="text"
                     name="lastname"
                     placeholder="Prénoms"
                     required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                     type="text"
                     name="email"
                     placeholder="Email"
                     required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                     type="email"
                     name="confirm mail"
                     placeholder="Confirme Email"
                     required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                     type="text"
                     name="company"
                     placeholder="Mot de passe"
                     required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                     type="email"
                     name="from"
                     placeholder="Confirmer mot de passe"
                     required>
            </div>
          </div>

          <div class="col-12 text-center">
            <input class="btn bg-nfacebook color-11"
                   type="submit"
                   name="submit"
                   value="Envoyer">
          </div>
        </div>
        <div class="zform-feedback mt-3"></div>
      </form>
      <hr class="color-9 mt-6 ">
      <div class="fs--1 text-center">Revenir sur la page de connexion
        <a class="tx-norange "
           href="login.html"> Cliquez ici.</a>
      </div>
      <hr class="color-9">
    </div>
  </div>

</div>
