.card-programme {
  box-shadow: 2px 3px 7px 0px rgb(0 0 0 / 20%);
  transition: all 0.5s;

  &.active {
    border: 1px solid #007bff !important;
    transform: scale(1.03);
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    z-index: 2;
  }

  * {
    transition: all 0.5s;
  }
}

.col-3 {
  transition: all 0.5s;
}

.card-programme:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

.card-programme:hover .actions {
  // margin: 16px 0 0;
  display: block;
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.actions {
  display: none;

  a,
  a i {
    color: #07478a;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
