<ng-container *ngIf="!loading && programmeService.data.length">
  <div class="row m-0 p-0">
    <div class="p-1" [ngClass]="{'col-4': minified, 'col-3': !minified}" *ngFor="let programme of programmeService.data">
      <div class="card card-programme card-1 mg-b-20 border" [ngClass]="{'active': rla.isActive}">
        <div class="card-body text-center">
          <!-- icone -->
          <i class="hidden-xs fal fa-scroll tx-primary " style="padding:10px; border-radius: 50%; "
              [ngClass]="{'tx-40': !minified, 'tx-20': minified}"></i>

          <!-- libelle -->
          <h5 class="tx-facebook tx-medium mb-0  d-block" [ngClass]="{'tx-16': !minified, 'tx-14': minified}">{{programme.libelle }}</h5>

          <!-- type et niveau -->
          <span class="tx-warning tx-bold tx-medium  d-block" [ngClass]="{'tx-14': !minified, 'tx-12': minified}">
            {{programme.type?.libelle}} / {{programme.niveau?.libelle }}
          </span>

          <!-- Button action -->
          <div class="like-comm mg-t-10" [ngClass]="{'actions': minified}">
            <!-- DETAILS -->
            <a class="link btn btn-link btn-sm px-1  tx-gray-600 tx-11" [routerLink]="[programme.id]" routerLinkActive="active"
                #rla="routerLinkActive">
              <i class="far fa-eye"></i>
              <span *ngIf="!minified">
                {{ 'DETAILS' | translate }}
              </span>
            </a>

            <!-- Edit -->
            <a class="link btn btn-link btn-sm px-1  tx-gray-600 tx-11" [routerLink]="['./']" [fragment]="'edit'" (click)="modifier(programme)">
              <i class="far fa-edit"></i>
              <span *ngIf="!minified">
                {{ 'MODIFIER' | translate }}
              </span>
            </a>

            <!-- Delete -->
            <a [routerLink]="['./']" class="link btn btn-link btn-link-danger btn-sm px-1  tx-gray-500 tx-11" (click)="supprimer(programme.id)">
              <i class="far fa-trash-alt"></i>
              <span *ngIf="!minified">
                {{ 'SUPPRIMER' | translate }}
              </span>
            </a>
          </div>
        </div>

        <!-- Footer -->
        <div class="card-footer justify-content-around">
          <!-- Domaine -->
          <span class="badge card-2 tx-12 badge-pill  badge-info"><i class="fad fa-boxes"></i>
            {{programme.domaine?.libelle }}
          </span>

          <!-- Langue -->
          <span class="badge card-2 tx-12 badge-pill  badge-info"><i class="fad fa-language"></i>
            {{programme.langue?.libelle }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<div class="my-5" *ngIf="loading">
  <app-loading></app-loading>
</div>

<app-missing-data *ngIf="!loading && !programmeService.data.length"></app-missing-data>
