<!-- Header  -->
<div class=" row row-xs clearfix pt-3  pl-2 pr-4"
     style="z-index: auto !important;">
  <div class="col-lg-12 ">
    <h6 class=""><i class="fad fa-chair-office "
         style="padding:6px; border-radius: 50%; "></i>
      {{ 'CARRIERE' | translate }}


      <a [routerLink]="['./']"
         fragment="add-emploie"
         *ngIf="(router.url.includes('identite') && user?.id_inscription === auth.user.id_inscription)"
         class="float-right"><i class="fad fa-plus-circle"></i></a>
    </h6>
  </div>
</div>

<!-- Content -->
<app-emploie-list></app-emploie-list>



<app-modal [configuration]="{ name: 'emploie-create-modal', titre: 'ajouterUnemploie', icone: 'address-book' }"
           (closed)="router.navigate(['./'], { relativeTo: this.route, queryParamsHandling: 'preserve' })">
  <app-emploie-create *ngIf="create"></app-emploie-create>
</app-modal>
