<div class="tunel scroll-9">
  <!-- header -->
  <div class="tunel__header">
    <div class="tunel__correspondant">
      <img src="https://www.nautiljon.com/images/description/00/48/1606668100762_image.jpg" class="tunel__correspondant-image">

      <div class="tunel__correspondant-name">
        <h4 class="tunel__correspondant-name--main">
          Satoru Gojo
        </h4>
        <span class="tunel__correspondant-name--sub">
          @Exorcicte dans la ville de Kyoto
        </span>
      </div>

      <div class="tunel__correspondant-button">
        <i class="fad fa-times-circle"></i>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <ul class="tunel__navigation">
    <a href="#" class="tunel__navigation-item  tunel__navigation-item--active">
      <i class="fas fa-comment"></i>
    </a>
    <a href="#" class="tunel__navigation-item">
      <i class="fal fa-users"></i>
    </a>

    <a href="#" class="tunel__navigation-item">
      <i class="fal fa-file-alt"></i>
    </a>
  </ul>

  <!-- Body -->
  <div class="tunel__body">
    <div class="tunel__messages ">

      <div class="tunel__message tunel__message--initial">
        <div class="tunel__message-arrow"></div>
        <div class="tunel__message-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi tempora, placeat quod explicabo dolorum ?
        </div>
      </div>

      <div class="tunel__message tunel__message--reverse">
        <div class="tunel__message-arrow"></div>
        <div class="tunel__message-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi tempora, placeat quod explicabo dolorum ?
        </div>
      </div>
    </div>
  </div>

  <!-- Message typing -->
  <div class="tunel__message-typebox">
    <input type="text" class="tunel__message-input" placeholder="Ecrivez votre commentaire...">
    <button class="tunel__button">
      <i class="fad fa-paper-plane"></i>
    </button>
  </div>
</div>
