$color-background-header: #bfdbf7;
$color-background-tunel: #f1f3f9;
$color-background-message--initial: #9eceff;
$color-background-message--reverse: #2e6196;

.tunel {
  height: 100vh;
  width: 25vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $color-background-tunel;
  overflow: hidden;

  &__header {
    background: $color-background-header;
    height: 10%;
  }

  &__navigation {
    margin: 0;
    padding: 3px;
    border: 1px solid $color-background-header;
    display: flex;
    background: #e0e7ef;

    &-item {
      flex: 1;
      text-align: center;
      padding: 2px;

      &--active {
        background: $color-background-header;
        color: $color-background-message--reverse;
        border: 1px solid $color-background-message--reverse;
        font-weight: bolder;
        border-radius: 7px;
      }
    }
  }

  &__correspondant {
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__correspondant-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__correspondant-name {
    font-family: "Roboto";

    &--main {
      font-size: 15px;
      color: #08516b;
      margin-bottom: -4px;
    }

    &--sub {
      font-size: 10px;
      display: inline-block;
      margin-top: 0px;
    }
  }

  &__correspondant-button {
    position: absolute;
    top: 2px;
    right: 7px;
    color: #076181;
  }

  &__body {
    height: 76vh;
    display: flex;
    padding: 15px;
    flex-direction: column-reverse;
  }

  &__messages {
    // position: relative;
  }

  &__message {
    display: flex;
    width: 100%;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &-text {
      max-width: 80%;
      padding: 10px 20px;
      color: white;
    }

    &-arrow {
      width: 10px;
      height: 18px;
      position: absolute;
      bottom: 0;
    }

    &--initial {
      flex-direction: row;
    }

    &--initial &-text {
      background: $color-background-message--initial;
      border-radius: 35px 8px 35px 0px;
    }

    &--initial &-arrow {
      left: -5px;
      background: $color-background-message--initial;
      clip-path: polygon(100% 25%, 0% 100%, 100% 100%);
    }

    &--reverse {
      flex-direction: row-reverse;
    }

    &--reverse &-text {
      border-radius: 8px 35px 0px 35px;
      background: $color-background-message--reverse;
    }

    &--reverse &-arrow {
      right: -5px;
      background: $color-background-message--reverse;
      clip-path: polygon(0 25%, 0% 100%, 100% 100%);
    }
  }

  &__message-typebox {
    padding: 0 15px;
    position: relative;
  }

  &__message-input {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #022b3a4d;
    outline: none;
    position: relative;
  }

  &__button {
    border: none;
    padding: 5px 8px;
    position: absolute;
    color: white;
    background: #79d0e2;
    top: 0;
    right: 25px;
    top: 6px;
    border-radius: 4px;
  }
}
