<div class="card-body p-2">
    <!-- Liste des taches -->
    <div class="row row-xs mg-0 pd-0 clearfix" *ngIf="!loading && data.length">
        <div class="col-xs-12 col-sm-6 col-md-3"
            *ngFor="let tache of data | paginate: {itemsPerPage: 8, id: 'tache-groupe', currentPage: currentPage}">
            <div class="card bg-light border">
                <div class="card-body text-center">
                    <!-- Dropdown menu -->
                    <div class="d-flex justify-content-start px-3">
                        <div class="dropdown d-inline" *ngIf="!loading">
                            <!-- Icone -->
                            <i
                                class="fas fa-caret-down mt-1 clickable float-right"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            </i>


                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <!-- supprimer membre -->
                                <a class="dropdown-item clickable" (click)="supprimer(tache.id)">
                                    {{'SUPPRIMER' | translate}} <i class="far fa-trash"></i>
                                </a>

                            </div>
                        </div>

                        <span *ngIf="loading">
                            <i class="fas fa-circle-notch fa-spin"></i>
                        </span>
                    </div>
                    <!-- Image tache -->
                    <p>
                        <i class="far fa-2x fa-tasks-alt"></i>
                    </p>

                    <!-- tache name -->
                    <h4 class="tx-12 tx-bolder tx-primary">
                        <span class="clickable" (click)="navigateTotache(tache.id)">
                            {{ tache.libelle }}
                        </span>
                    </h4>

                    <!-- Periode -->
                    <p class=" tx-12 tx-center tx-warning" [ngbTooltip]="'PERIODE' | translate">
                        <span><i class="far fa-calendar-alt"></i></span>
                        {{ tache.affectation_groupe?.periode_details?.libelle ? tache.affectation_groupe?.periode_details?.libelle : 'Vacances' }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="col-12 mt-1 d-flex justify-content-center">
            <pagination-controls
                id="affectation"
                (pageChange)="currentPage = $event"
                autoHide="true"
                previousLabel="{{ 'PRECEDENT' | translate }}"
                nextLabel="{{ 'SUIVANT' | translate }}">
            </pagination-controls>
        </div>
    </div>

    <!-- loading -->
    <app-loading *ngIf="loading"></app-loading>

    <!-- Pas de donnéss -->
    <app-missing-data
        *ngIf="!loading && !data.length"
        [message]="'pasDeTachePourCeGroupe' | translate">
    </app-missing-data>
</div>