<ng-container *ngIf="single && !loading">
  <div class="row justify-content-center mx-0 mt-3">
    <div class="d-flex users-icon bg-light align-items-center justify-content-center border rounded-circle">
      <span class="icone">
        <i class="fad  fa-user-tie" *ngIf="!single.professeur_details.photo"></i>
        <img [src]="single.professeur_details.photo" *ngIf="single.professeur_details.photo">
      </span>
    </div>
  </div>

  <h3 class="text-center">{{ single.professeur_details.nom_complet }}</h3>

  <ul class="list-group-flush p-0 w-100">
    <!-- Email -->
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="font-weight-bolder">
        <i class="fad fa-at"></i> {{ 'EMAIL' | translate }}:
      </span>

      {{ single.professeur_details.email }}
    </li>


    <!-- sexe -->
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="single.professeur_details.sexe">
      <span class="font-weight-bolder">
        <i class="fad fa-venus-mars"></i> {{ "SEXE" | translate }}:
      </span>
      {{ single.professeur_details.sexe | titlecase}}
    </li>

  </ul>



  <!-- domaine -->
  <div class="mt-5 fieldset">
    <h4 style="font-size: 17px;">{{ 'DOMAINES' | translate }}</h4>
    <span class="badge badge-outline-info mr-2" *ngFor="let domaine of single.domaines">
      {{ domaine.libelle }}
    </span>
  </div>

  <div *ngIf="loading" class="my-5">
    <app-loading *ngIf="loading"></app-loading>
  </div>
