<div class="row explore-reseaux row-xs clearfix h-100 mg-0 pd-0 ">

  <!-- Sidebar -->
  <div class="col-2 explore-reseaux__sidebar border-left p-0" [ngClass]="{'w-0 border-0': sidebarCollapsed}">
    <button class="explore-reseaux__collapse-button border" (click)="sidebarCollapsed = !sidebarCollapsed">
      <i class="fad " [ngClass]="{'fa-caret-left': !sidebarCollapsed, 'fa-caret-right': sidebarCollapsed}"></i>
    </button>
    <app-sidebar-explore-reseaux [ngClass]="{'op-0': sidebarCollapsed}" class="explore-reseaux__sidebar-content"></app-sidebar-explore-reseaux>
  </div>

  <!-- Content -->
  <div class="p-0 bg-white" [ngClass]="{'col-12': sidebarCollapsed, 'col-10': !sidebarCollapsed}">
    <!-- Content -->
    <div class="row mg-0 h-100  pd-0">
      <div class="p-0 col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
