.avatar {
  width: 40px;
  height: 40px;

  &-initial {
    font-size: 15px;
  }

  i {
    width: auto;
    height: auto;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: relative;
    border: none;
  }
}
