<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="affecter()">
    <!-- classe et groupe -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3" *ngIf="!classe && !groupe">
        <!-- Element -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="affecterA">
                {{ 'ELEMENT' | translate }}
            </label>

            <angular2-multiselect
                [data]="dependancies.elementsDAffectation"
                [settings]="dropdownSettingsAlt.single"
                formControlName="affecterA"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'affecterA'), 'is-valid': isValid('affecterA')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('affecterA')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUnElementAuquelAffecterLaTache' | translate }}.
            </div>
        </div>

        <!-- Classe -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="classe">
                {{ 'CLASSE' | translate }}
                <!-- loading -->
                <span *ngIf="dependanciesLoading.classe"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                [data]="dependancies.classes"
                [settings]="dropdownSettingsAlt.single"
                formControlName="classe"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'classe'), 'is-valid': isValid('classe')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('classe')"
                class="invalid-feedback">
                {{ 'VeuillezChoisirUneClasse' | translate }}.
            </div>
        </div>
    </div>


    <!-- groupe ou etudiant -->
    <div class="formSep form-group p-form-group-3 d-flex pb-0 pt-3">
        <!-- Eleve -->
        <div class="col-12" *ngIf="formValue('affecterA')[0].libelle == 'eleve'">
            <!-- Label -->
            <label class="control-label"
                for="classe">
                {{ 'ELEVE' | translate }}
                <!-- loading -->
                <span *ngIf="dependanciesLoading.eleve"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                [data]="dependancies.eleves"
                [settings]="dropdownSettingsAlt.multi"
                formControlName="eleves"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'eleves'), 'is-valid': isValid('eleves')}"
                class="form-control p-0 form-control-sm">
                <c-badge>
                    <ng-template let-item="item">
                        {{item.eleve_details.nom_complet}}
                    </ng-template>
                </c-badge>
                <c-item>
                    <ng-template let-item="item">
                        <label style="color: #333;min-width: 150px;">{{item.eleve_details.nom_complet}}</label>
                        <img [src]="item.eleve_details.photo"
                            style="width: 30px;margin-right: 20px;" />
                    </ng-template>
                </c-item>
            </angular2-multiselect>


            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('classe')"
                class="invalid-feedback">
                {{ 'VeuillezChoisirLesElevesAuxquelsAffecterLaTache' | translate }}.
            </div>
        </div>

        <!-- groupe -->
        <div class="col-6" *ngIf="formValue('affecterA')[0].libelle == 'groupe'">
            <!-- Label -->
            <label class="control-label"
                for="groupe">
                {{ 'GROUPE' | translate }}
                <!-- loading -->
                <span *ngIf="dependanciesLoading.groupe"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                [data]="dependancies.groupes"
                [settings]="dropdownSettingsAlt.single"
                formControlName="groupe"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'groupe'), 'is-valid': isValid('groupe')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('groupe')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUnGroupe' | translate }}.
            </div>
        </div>

    </div>



    <!-- Cours et chapitre -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3" *ngIf="!chapitre">
        <!-- COURS -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="cours">
                {{ 'COURS' | translate }}
                <!-- loading -->
                <span *ngIf="dependanciesLoading.cours"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                id="cours"
                [data]="dependancies.cours"
                [settings]="dropdownSettingsAlt.single"
                formControlName="cours"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'cours'), 'is-valid': isValid('cours')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('cours')"
                class="invalid-feedback">
                {{ 'VeuillezChoisirUnCours' | translate }}.
            </div>
        </div>

        <!-- Chapitre -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="chapitre">
                {{ 'CHAPITRE' | translate }}
                <!-- loading -->
                <span *ngIf="dependanciesLoading.chapitre"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                id="chapitre"
                [data]="dependancies.chapitres"
                [settings]="dropdownSettingsAlt.single"
                formControlName="chapitre"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'chapitre'), 'is-valid': isValid('chapitre')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('chapitre')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneChapitre' | translate }}.
            </div>
        </div>
    </div>

    <!-- Taches et periode-->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- taches -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="tache">
                {{ 'TACHE' | translate }}
            </label>

            <angular2-multiselect
                id="tache"
                [data]="dependancies.taches"
                [settings]="dropdownSettingsAlt.single"
                formControlName="tache"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'tache'), 'is-valid': isValid('tache')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('tache')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneTache' | translate }}.
            </div>
        </div>

        <!-- periodes -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="periode">
                {{ 'PERIODE' | translate }}
            </label>

            <angular2-multiselect
                id="periode"
                [data]="dependancies.periodes"
                [settings]="dropdownSettingsAlt.single"
                formControlName="periode"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'periode'), 'is-valid': isValid('periode')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('periode')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUnePeriode' | translate }}.
            </div>
        </div>
    </div>

    <!-- Date de debut et Date de fin-->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- Debut -->
        <div class="col-6">
            <!-- Label -->
            <label for="type"
                class="label-template-form">
                {{ 'dateDeDebut' | translate }}
            </label>

            <!-- Date picker -->
            <div class="input-group mb-2">
                <input [dpDayPicker]="configCalendrier.day" [theme]="'dp-material'"
                    formControlName="debut" class="form-control ">
                <div class="input-group-prepend">
                    <div class="input-group-text  bg-light"><i class="fal fa-calendar"></i>
                    </div>
                </div>
            </div>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('debut')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneDateDebut' | translate }}.
            </div>
        </div>

        <!-- Fin -->
        <div class="col-6">
            <!-- Label -->
            <label for="type"
                class="label-template-form">
                {{ 'dateDeFin' | translate }}
            </label>

            <!-- Date picker -->
            <div class="input-group mb-2">
                <input [dpDayPicker]="configCalendrier.day" [theme]="'dp-material'"
                    formControlName="fin" class="form-control ">
                <div class="input-group-prepend">
                    <div class="input-group-text  bg-light"><i class="fal fa-calendar"></i>
                    </div>
                </div>
            </div>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('fin')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneDateDeFin' | translate }}.
            </div>
        </div>
    </div>

    <!-- Boutton validation -->
    <div class="d-flex justify-content-center">
        <div class="col-12 text-right">
            <button class="btn btn-sm btn-primary mr-1"
                type="submit"
                [disabled]="form.invalid">
                {{ 'AFFECTER' | translate }}

                <!-- ICONES -->
                <span *ngIf="!loading"><i class="fad fa-exchange"></i></span>
                <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin"></i></span> <!-- Loading -->
            </button>
        </div>
    </div>

</form>

<app-loading *ngIf="!isFormOk"></app-loading>