<!-- Titre -->
<div class="row row-xs mg-0 pd-0 pt-3 pb-1  bd-b">
  <div class="col ">
    <h4 class="">
      <i class="fad fa-cog mg-r-3 bg-light "
         style="padding:6px; border-radius: 50%; ">
      </i>
      {{ 'interfaceDeServicesConsulairesEtDeLaDiaspora' | translate }}
    </h4>
  </div>
</div>

<!-- Données -->
<div class="row row-deck pl-4 pr-4 p-2 ">
  <div class=" col-lg-12 bg-white ">
    <div class="row row-deck p-4">
      <!-- Ministere -->
      <div class="col-lg-4  ">
        <a [routerLink]="['ministeres']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/50.jpg) ;">

          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-warehouse-alt bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6>{{ 'ministeresDesAffairesEtrangeres' | translate }}</h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">

          </div>

        </a>
      </div>

      <!-- Ambassade -->
      <div class="col-lg-4  ">
        <a [routerLink]="['ambassades']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/51.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-landmark-alt bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'AMBASSADES' | translate }} </h6>
            </span>
          </div>




          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">

          </div>

        </a>
      </div>

      <!-- Consulats -->
      <div class="col-lg-4  ">
        <a [routerLink]="['consulats']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/52.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-landmark bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'CONSULATS' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">
            <!-- <p class="mb-0">  -->
            <!-- <span class=" bl-light p-0"><i class="fad fa-plus-circle  tx-gray-600 mr-2"  ></i> Créer un consulat</span> -->
            <!-- <span class=" bl-light "><i class="fad fa-list  tx-gray-600 mr-2"  ></i> Voir la liste des consulats</span> -->
            <!-- </p> -->
          </div>

        </a>
      </div>

      <!-- Liaisons -->
      <div class="col-lg-4  pt-2">
        <a [routerLink]="['liaisons']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/53.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-link bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'LIAISONS' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">
            <!-- <p class="mb-0">  -->
            <!-- <span class=" bl-light p-0"><i class="fad fa-plus-circle  tx-gray-600 mr-2"  ></i> Créer une liaison</span> -->
            <!-- <span class=" bl-light "><i class="fad fa-list  tx-gray-600 mr-2"  ></i> Voir la liste des liaisons</span> -->
            <!-- </p> -->
          </div>

        </a>
      </div>


      <!-- Passerelles -->
      <div class="col-lg-4  pt-2">
        <a [routerLink]="['passerelles']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/54.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-portal-enter bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'PASSERELLES' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">
            <!-- <p class="mb-0">  -->
            <!-- <span class=" bl-light p-0"><i class="fad fa-plus-circle  tx-gray-600 mr-2"  ></i> Créer une passerelle</span> -->
            <!-- <span class=" bl-light "><i class="fad fa-list  tx-gray-600 mr-2"  ></i> Voir la liste des passerelles</span> -->
            <!-- </p> -->
          </div>

        </a>
      </div>

      <!-- Bureau -->
      <div class="col-lg-4  pt-2">
        <a [routerLink]="['bureaux']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/60.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-building bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'BUREAUX' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">
            <!-- <p class="mb-0">  -->
            <!-- <span class=" bl-light p-0"><i class="fad fa-plus-circle  tx-gray-600 mr-2"  ></i> Créer un bureau</span> -->
            <!-- <span class=" bl-light "><i class="fad fa-list  tx-gray-600 mr-2"  ></i> Voir la liste des bureaux</span> -->
            <!-- </p> -->
          </div>

        </a>
      </div>

      <!-- Visas -->
      <div class="col-lg-4  pt-2">
        <a [routerLink]="['./']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/59.jpg); width: 50;">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-credit-card bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'VISAS' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">

          </div>

        </a>
      </div>

      <!-- Diaspora -->
      <div class="col-lg-4  pt-2">
        <a [routerLink]="['./']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/56.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-globe bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'DIASPORA' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">
            <!-- <p class="mb-0">  -->
            <!-- <span class=" bl-light p-0"><i class="fad fa-plus-circle  tx-gray-600 mr-2"  ></i> Entrer un consulat</span> -->
            <!-- <span class=" bl-light "><i class="fad fa-list  tx-gray-600 mr-2"  ></i> Voir les diasporas</span> -->
            <!-- </p> -->
          </div>

        </a>
      </div>

      <!-- Services ouverts -->
      <div class="col-lg-4  pt-2">
        <a [routerLink]="['./']"
           class="mycard2  p-2"
           style="background-image:url(assets/images/background/57.jpg);">
          <!-- Icones -->
          <div class="d-flex align-items-center justify-content-between pd-x-10 mg-b-10">
            <p> <i class="fas fa-overline bg-light tx-facebook tx-30"
                 style="padding:6px; border-radius:50%"></i> </p>
          </div>

          <!-- Libelle -->
          <div class="pb-4 tx-echos tx-center">
            <span class="badge badge-pill badge-primary bg-light tx-facebook tx-30 tx-bold">
              <h6> {{ 'servicesOuverts' | translate }} </h6>
            </span>
          </div>

          <!-- Footer -->
          <div class="d-flex align-items-center justify-content-between pt-2 pb-2 bd-t">
            <!-- <p class="mb-0">  -->
            <!-- <span class=" bl-light p-0"><i class="fad fa-plus-circle  tx-gray-600 mr-2"  ></i> Créer un service</span> -->
            <!-- <span class=" bl-light "><i class="fad fa-list  tx-gray-600 mr-2"  ></i> Voir la liste des services</span> -->
            <!-- </p> -->
          </div>

        </a>
      </div>
    </div>
  </div>
  <!-- </div> -->
