.note {
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
  display: flex;
  justify-content: center;

  input {
    width: 25%;
    margin-right: 10px;
    font-size: inherit;
    padding: 0;
    text-align: center;
    height: 44px;
  }
}
