<form class="custom-placeholder" [formGroup]="form" *ngIf="isFormOk" (submit)="create()">
    <!-- personne et etablissement -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- Personne -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="personne">
                {{ 'PERSONNE' | translate }}
                <!-- loading -->
                <span *ngIf="loadingDependancies.personne"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                [data]="userService.data"
                [settings]="dropdownSettingsAlt.user"
                formControlName="personne"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'personne'), 'is-valid': isValid('personne')}"
                class="form-control p-0 form-control-sm">
                <c-badge>
                    <ng-template let-item="item">
                        {{item.nom_complet}}
                    </ng-template>
                </c-badge>
                <c-item>
                    <ng-template let-item="item">
                        <label
                            style="color: #333;min-width: 150px;">{{item.nom_complet}}</label>
                        <img [src]="item.photo"
                            style="width: 30px;margin-right: 20px;" />
                    </ng-template>
                </c-item>
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('personne')"
                class="invalid-feedback">
                {{ 'VeuillezChoisirUnePersonne' | translate }}.
            </div>
        </div>

        <!-- etablissement -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="etablissement">
                {{ 'ETABLISSEMENT' | translate }}
                <!-- loading -->
                <span *ngIf="loadingDependancies.etablissement"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                [data]="etablissementService.data"
                [settings]="dropdownSettingsAlt.single"
                formControlName="etablissement"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'etablissement'), 'is-valid': isValid('etablissement')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('etablissement')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUnEtablissement' | translate }}.
            </div>
        </div>

    </div>

    <!-- hierarchie et fonction -->
    <div class="formSep form-group p-form-group-3 d-flex justify-content-center pb-0 pt-3">
        <!-- hierarchie -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="hierarchie">
                {{ 'HIERARCHIE' | translate }}
                <!-- loading -->
                <span *ngIf="loadingDependancies.hierarchie"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                id="hierarchie"
                [data]="dependancies.hierarchie"
                [settings]="dropdownSettingsAlt.single"
                formControlName="hierarchie"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'hierarchie'), 'is-valid': isValid('hierarchie')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('hierarchie')"
                class="invalid-feedback">
                {{ 'VeuillezChoisirUneHierarchie' | translate }}.
            </div>

        </div>

        <!-- fonction -->
        <div class="col-6">
            <!-- Label -->
            <label class="control-label"
                for="fonction">
                {{ 'FONCTION' | translate }}
                <!-- loading -->
                <span *ngIf="loadingDependancies.fonction"><i class="fas fa-circle-notch fa-spin"></i></span>
            </label>

            <angular2-multiselect
                id="fonction"
                [data]="fonctionService.data"
                [settings]="dropdownSettingsAlt.single"
                formControlName="fonction"
                [ngClass]="{'is-invalid': shouldShowRequiredError( 'fonction'), 'is-valid': isValid('fonction')}"
                class="form-control p-0 form-control-sm">
            </angular2-multiselect>

            <!-- Message d'erreur -->
            <div *ngIf="shouldShowRequiredError('fonction')"
                class="invalid-feedback">
                {{ 'veuillezChoisirUneFonction' | translate }}.
            </div>

            <!-- Boutton ajouter fonction -->
            <div class="col-12 p-0">
                <span class="clickable text-primary tx-10"
                    [autoClose]="'outside'"
                    placement="bottom"
                    [ngbPopover]="fonctionCreate">
                    {{ 'AJOUTER' | translate }} <i class="fal fa-plus-circle"></i>
                </span>
            </div>
        </div>
    </div>



    <!-- Boutton validation -->
    <div class="d-flex justify-content-center">
        <div class="col-12 text-right">
            <button class="btn btn-sm btn-primary mr-1"
                type="submit"
                [disabled]="form.invalid">
                {{ 'AJOUTER' | translate }}

                <!-- ICONES -->
                <span *ngIf="!loading"><i class="fad fa-plus"></i></span>
                <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin"></i></span> <!-- Loading -->
            </button>
        </div>
    </div>

</form>

<app-loading *ngIf="!isFormOk"></app-loading>


<!-- Popover fonctionCreate -->
<ng-template #fonctionCreate class="p-3">
    <h6 class="modal-title text-center w-100  mb-2 font-weight-bolder mx-2">
        {{ 'ajouterUneNouvelleFonction' | translate }}
    </h6>
    <app-common-create
        (itemCreated)="onFonctionCreated($event)"
        [configuration]="{name: 'fonctionCreate', endpoint: 'administration/fonction', hasDescription: true}">
    </app-common-create>
</ng-template>