<div class="card border-0 ">
    <div
        class="row row-xs  mg-0 pd-0 pd-y-10 bd-b">
        <div class="col-lg-12  ">
            <p
                class="tx- tx-16 tx-facebook italic mg-l-5 mb-0">
                Correction de la tâche
                ou de l'exercice</p>
        </div>

    </div>
    <div class="tab-content">
        <div class="tab-pane fade active show"
            id="mes_cadres">

            <div
                class="profiletimeline border-0 mt-0">
                <div
                    class="sl-item p-0">
                    <div
                        class="sl-left">
                        <span
                            class="wd-40 ht-40 card-icon-gris d-flex align-items-center justify-content-center rounded-circle hidden-xs">
                            <i
                                class="fal fa-swatchbook tx-20 tx-primary"></i></span>
                    </div>
                    <div
                        class="sl-right">
                        <div>
                            <span
                                class="tx-gray-600 tx-16">Titre
                                de la
                                tâche</span>
                            <p class="tx-facebook tx-14 bg-bluelight p-2"
                                style="text-align:justify">
                                Programme
                                de mis
                                en place
                                d'une
                                station
                                scientifique
                                dans la
                                ville de
                                Zinguinchor
                                en
                                Région
                                de
                                Casamance
                            </p>
                            <span
                                class="badge badge-pill badge-light bg-light tx-facebook">
                                Cours
                                lié à
                                l'exercice</span>
                            <span
                                class="badge badge-pill badge-light bg-light tx-danger">
                                Chapitre
                                lié à
                                l'exercice</span>
                        </div>

                        <div
                            class="mg-t-10">
                            <span
                                class="tx-gray-600 tx-16">Solution
                                de la
                                tâche</span>
                            <p class="tx-facebook tx-14 bg-light p-2"
                                style="text-align:justify">
                                En base
                                décimale,
                                on écrit
                                tous les
                                nombres
                                entiers
                                à l'aide
                                des dix
                                chiffres
                                : 0, 1,
                                2, 3, 4,
                                5, 6, 7,
                                8, 9 et
                                la
                                position
                                de
                                chaque
                                chiffre
                                dans
                                l'écriture
                                donne le
                                nombre
                                d'unités,
                                le
                                nombre
                                de
                                dizaines,
                                de
                                dizaines
                                de
                                dizaines
                                etc.
                                Exemple
                                : 156 =
                                1×10×10
                                + 5×10 +
                                6
                                156,
                                c'est 1
                                dizaine
                                de
                                dizaines,
                                5
                                dizaines
                                et 6
                                unités
                                En base
                                douze,
                                on écrit
                                tous les
                                entiers
                                à l'aide
                                de douze
                                'chiffres':
                                0, 1, 2,
                                3, 4, 5,
                                6, 7, 8,
                                9, A, B
                                et la
                                position
                                de
                                chaque
                                chiffre
                                dans
                                l'écriture
                                donne le
                                nombre
                                d'unités,
                                le
                                nombre
                                de
                                douzaines,
                                de
                                douzaines
                                de
                                douzaines
                                etc.
                                On écrit
                                A pour
                                désigner
                                dix et B
                                pour
                                désigner
                                onze
                            </p>

                        </div>

                        <div
                            class="mg-t-10">
                            <span
                                class="tx-gray-600 tx-16">Observation</span>
                            <p class="tx-primary tx-14 bg-light p-2"
                                style="text-align:justify">
                                En base
                                décimale,
                                on écrit
                                tous les
                                nombres
                                entiers
                                à l'aide
                                des dix
                                chiffres
                                : 0, 1,
                                2, 3, 4,
                                5, 6, 7,
                                8, 9 et
                                la
                                position
                                de
                                chaque
                                chiffre
                                dans
                                l'écriture
                                donne le
                                nombre
                                d'unités,
                                le
                                nombre
                                de
                                dizaines,
                                de
                                dizaines
                                de
                                dizaines
                                etc.
                                Exemple
                                : 156 =
                                1×10×10
                                + 5×10 +
                                6
                                156,
                                c'est 1
                                dizaine
                                de
                                dizaines,
                                5
                                dizaines
                                et 6
                                unités
                                En base
                                douze,
                                on écrit
                                tous les
                                entiers
                                à l'aide
                                de douze
                                'chiffres':
                                0, 1, 2,
                                3, 4, 5,
                                6, 7, 8,
                                9, A, B
                                et la
                                position
                                de
                                chaque
                                chiffre
                                dans
                                l'écriture
                                donne le
                                nombre
                                d'unités,
                                le
                                nombre
                                de
                                douzaines,
                                de
                                douzaines
                                de
                                douzaines
                                etc.
                                On écrit
                                A pour
                                désigner
                                dix et B
                                pour
                                désigner
                                onze
                            </p>

                        </div>


                    </div>
                </div>

                <div
                    class="sl-item p-0">
                    <div
                        class="sl-left">
                        <span
                            class="wd-40 ht-40 card-icon-gris d-flex align-items-center justify-content-center rounded-circle hidden-xs op3">
                            <i
                                class="fal fa-file-search tx-16 tx-primary"></i></span>
                    </div>
                    <div
                        class="sl-right">
                        <div>
                            <span
                                class="tx-gray-600 tx-16">
                                Autres
                                solutions</span>
                        </div>
                        <div
                            class="bg-bluelight1 pd-y-10 p-2">
                            <span
                                class="badge badge-pill badge-light bg-white tx-purple">Solution
                                I</span>
                            <span
                                class="badge badge-pill badge-light bg-white tx-success">Solution
                                II</span>
                            <span
                                class="badge badge-pill badge-light bg-white tx-yeto2">Solution
                                III</span>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="sl-item">
                    <div
                        class="sl-left">
                        <span
                            class="wd-40 ht-40 card-icon-gris d-flex align-items-center justify-content-center rounded-circle hidden-xs">
                            <i
                                class="fal fa-users tx-16 tx-primary"></i></span>
                    </div>
                    <div
                        class="sl-right">
                        <div>
                            <span
                                class="tx-gray-600 tx-16">
                                Groupes
                            </span>

                        </div>

                        <div
                            class="row mt-1">
                            <div
                                class="col-md-6">
                                <div
                                    class=" bg-white p-2 rounded px-3">
                                    <div
                                        class="d-flex justify-content-between stats">
                                        <div
                                            class="d-flex flex-row align-items-center">
                                            <div
                                                class="profiles">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar7.jpg"
                                                    alt="avatar"
                                                    width="30">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar6.jpg"
                                                    alt="avatar"
                                                    width="30">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar5.jpg"
                                                    alt="avatar"
                                                    width="30">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar4.jpg"
                                                    alt="avatar"
                                                    width="30">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar3.jpg"
                                                    alt="avatar"
                                                    width="30">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar2.jpg"
                                                    alt="avatar"
                                                    width="30">
                                                <img class="rounded-circle"
                                                    src="assets/images/xs/avatar1.jpg"
                                                    alt="avatar"
                                                    width="30">
                                            </div>
                                            <span
                                                class="badge badge-pill badge-light bg-light tx-warning mg-l-20">
                                                12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>