<div class="row row-xs  mg-0 pd-0  "
     *ngIf="!loading && emploieService.data.length">
  <div class=" col-lg-12 "
       *ngFor="let emploie of emploieService.data">
    <div class=" mycard2   p-0">
      <table class="table  table-hover table-sm mb-0 ">
        <tbody class=" bd-t-0 ">
          <!-- Date -->
          <!-- <tr class=" bg-white">
            <td class=" ">
              <div class=" from"><a class="tx-bold tx-teal tx-14 "
                   href="javascript:void(0);"> </a></div>
            </td>
          </tr> -->


          <!-- Titre -->
          <tr class=" ">
            <td class=" ">
              <div class=" from"><a class="tx-bold tx-teal tx-14 "
                   href="javascript:void(0);"> {{ 'TITRE' | translate }}</a></div>
            </td>
            <td class=" bg-white ">
              <div class=" from"><a class=" tx-teal tx-14"
                   href="javascript:void(0);"> {{ emploie.libelle }} </a>

                <a [routerLink]="['./']"
                   class="float-right"
                   (click)="supprimer(emploie.id)">
                  <i class="fad fa-trash-alt tx-teal"></i>
                </a>
              </div>


            </td>
          </tr>


          <!-- Domaine -->
          <tr class="  ">
            <td class=" bg-white ">
              <div class=" from"><a class="tx-bold tx-echos tx-14"
                   href="javascript:void(0);"> {{ 'DOMAINE' | translate }} </a></div>
            </td>
            <td class="  ">
              <div class=" from"><a class=" tx-echos tx-14"
                   href="javascript:void(0);"> {{ emploie.domaine.libelle }}</a></div>
            </td>
          </tr>

          <!-- Debut -->
          <tr class=" ">
            <td class="  ">
              <div class=" from"><a class="tx-bold tx-echos tx-14"
                   href="javascript:void(0);"> {{ 'debutFonction' | translate }} </a></div>
            </td>
            <td class=" bg-white ">
              <div class=" from"><a class=" tx-echos tx-14"
                   href="javascript:void(0);"> {{ emploie.debut | date }}</a></div>
            </td>
          </tr>

          <!-- Fin  -->
          <tr class="">
            <td class=" bg-white ">
              <div class=" from"><a class="tx-bold tx-echos tx-14"
                   href="javascript:void(0);"> {{ 'finFonction' | translate }} </a></div>
            </td>
            <td class="  ">
              <div class=" from"><a class=" tx-echos tx-14"
                   href="javascript:void(0);"> {{ emploie.fin | date }} </a></div>
            </td>
          </tr>


          <!-- Type de contrat -->
          <tr>
            <td class=" ">
              <div class=" from"><a class="tx-bold tx-echos tx-14"
                   href="javascript:void(0);"> {{ 'typeContrat' | translate }}</a></div>
            </td>
            <td class="  bg-white ">
              <div class=" from"><a class=" tx-echos tx-14"
                   href="javascript:void(0);"> {{ emploie.type_contrat.libelle }} </a></div>
            </td>
          </tr>


          <!-- Lieu -->
          <tr>
            <td class="bg-white  ">
              <div class=" from"><a class="tx-bold tx-echos tx-14"
                   href="javascript:void(0);"> {{ 'LIEU' | translate }}</a></div>
            </td>
            <td class="  ">
              <div class=" from"><a class=" tx-echos tx-14"
                   href="javascript:void(0);"> {{ emploie.lieu.libelle }} || {{ emploie.lieu.pays.libelle }} </a></div>
            </td>
          </tr>


          <!-- Fichier -->
          <tr class=" ">
            <td class="  ">
              <div class=" from"><a class="tx-bold tx-echos tx-14"
                   href="javascript:void(0);"> {{ 'JUSTIFICATIF' | translate }}</a></div>
            </td>
            <td class=" bg-white ">
              <ul class=" p-0 pl-2 pr-2">
                <li class="d-flex  pb-2">
                  <div class=""><i class="fad fa-file-pdf tx-danger mr-2 tx-30 pt-1"></i>
                  </div>
                  <div class="pd-sm-l-10">
                    <p class="tx-echos mg-b-0">{{ emploie.fichier_joint.name }}
                      .</p>
                    <span class="tx-12 mg-b-0 tx-gray-500">{{ emploie.fichier_joint.extension.libelle }} / {{ emploie.fichier_joint.size / 1000
                      }}ko</span>
                  </div>



                </li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>


<div class="my-5"
     *ngIf="loading">
  <app-loading></app-loading>
</div>



<app-missing-data-alt *ngIf="!loading && !emploieService.data.length">
</app-missing-data-alt>
