audio {
  background: none;
  outline: none;
}

.reaction__icone-action {
  margin-right: 7px;
  cursor: pointer;
  font-size: 10px;
}

.light-blue {
  color: #67baf2;
}

.dark-blue {
  color: #1f618d;
}
