<div class="border-0 mt-0" *ngIf="reaction">
    <div class="sl-item d-flex" [ngClass]="{'flex-row-reverse': reversed}">
        <!-- Image profile -->
        <div [ngClass]="{'mr-3': !reversed, 'ml-3': reversed}" style="align-self: center;">
            <img class="avatar3"
                [src]="reaction.user.photo"
                alt="avatar">
        </div>


        <div [ngClass]="{'text-right': reversed}">
            <!-- Nom -->
            <a href=""
                class="link tx-primary mr-2">
                {{ reaction.user.nom_complet }}
            </a>
            <!-- Date -->
            <span class="sl-date">
                {{ reaction.created_at | date }}
            </span>

            <!-- rebondissement -->
            <div class="d-flex align-items-center" [ngClass]="{'flex-row-reverse': reversed}"
                *ngIf="reaction.rebondissement">
                <!-- Bande de couleur -->
                <div class="tx-30 pd-y-20 pd-x-2 bg-soft-primary">
                </div>

                <div class="bg-soft-primary p-1 w-100" [ngClass]="{'mg-r-10': reversed, 'mg-l-10': !reversed}">
                    <div class="mb-0" [ngClass]="{'text-right': reversed}">
                        {{ reaction.rebondissement?.user.nom_complet }}
                    </div>
                    <!-- reaction -->
                    <p class="mb-0" [ngClass]="{'text-right': reversed}" *ngIf="reaction.rebondissement?.reaction">
                        {{ reaction?.rebondissement?.reaction }}
                    </p>

                    <div class="p-0" *ngIf="reaction.rebondissement?.file">
                        <!-- Audio -->
                        <audio controls
                            class="audio-chat"
                            *ngIf="helper.checkExtension(reaction.rebondissement?.file?.path, 'mp3')">
                            <source [src]="reaction.rebondissement?.file?.path">
                        </audio>

                        <!-- Document -->
                        <div class="p-3 bg-white bd clickable"
                            *ngIf="helper.checkExtensions(reaction.rebondissement?.file?.path, ['pdf', 'PDF'])">
                            <i class="fad fa-file-alt"></i> {{ reaction.rebondissement?.file.name }}
                            <i class="fad fa-download float-right ml-5 mt-1"></i>
                        </div>

                        <!-- image -->
                        <img [src]="reaction.file?.path"
                            (click)="afficherImage(reaction.file)"
                            class="img-chat"
                            [ngClass]="{'float-right': reversed}"
                            [alt]="reaction.user.nom_complet + '_image'"
                            *ngIf="helper.checkExtensions(reaction.rebondissement?.file.path, imageHandlerService.acceptedImageExtension)">
                    </div>
                </div>
            </div>
            <!-- Reaction -->
            <div class="d-flex align-items-center"
                [ngClass]="{'flex-row-reverse': reversed}" *ngIf="reaction.reaction">
                <div class="tx-30 pd-y-20 pd-x-2" [ngClass]="{
                    'bgm-warning': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 1,
                    'bgm-yellow': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 2,
                    'bgm-success': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 3,
                    'bg-facebook': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 4,
                    'bgm-blue': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 5,
                    'bgm-mint': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 6,
                    'bgm-primary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 7,
                    'bgm-danger': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 8,
                    'bgm-secondary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 9,
                    'bgm-indigo': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 0
                }">
                </div>

                <!-- Reaction -->
                <p class="  mb-0  bg-light"
                    style="max-width: 75%"
                    [ngClass]="{'mg-l-10': !reversed, 'mg-r-10 text-right': reversed}"
                    [innerHTML]="reaction.reaction">
                </p>

            </div>

            <!-- File -->
            <div class="col-md-12 p-0" *ngIf="reaction.file">
                <div class="clearfix">
                    <ul class="list-unstyled list-inline mb-0 align-items-center">
                        <!-- Fichier pdf -->
                        <li class="list-inline-item mb-3 d-flex" [ngClass]="{'flex-row-reverse': reversed}"
                            *ngIf="helper.checkExtensions(reaction.file.path, ['pdf', 'PDF'])">
                            <div class="tx-30 pd-y-20 pd-x-2" [ngClass]="{
                                'bgm-warning': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 1,
                                'bgm-yellow': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 2,
                                'bgm-success': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 3,
                                'bg-facebook': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 4,
                                'bgm-blue': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 5,
                                'bgm-mint': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 6,
                                'bgm-primary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 7,
                                'bgm-danger': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 8,
                                'bgm-secondary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 9,
                                'bgm-indigo': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 0
                            }">
                            </div>


                            <a (click)="download(reaction.file.id)"
                                class="clickable d-block  mg-t-10" [ngClass]="{'ml-2': !reversed, 'mr-2': reversed}">
                                <div
                                    class="ht-65 d-flex align-items-center justify-content-center rounded card-icon-teal">
                                    <i class="fa fa-file-pdf tx-40"></i>
                                </div>
                                <div class="caption">
                                    <p class="text-main mg-0">
                                        {{ reaction.file.name }}
                                    </p>
                                </div>
                            </a>
                        </li>

                        <!-- Fichier image -->
                        <li class="list-inline-item d-flex" [ngClass]="{'flex-row-reverse': reversed}"
                            *ngIf="helper.checkExtensions(reaction.file.path, imageHandlerService.acceptedImageExtension)">
                            <div class="tx-30 pd-y-20 pd-x-2" [ngClass]="{
                                'bgm-warning': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 1,
                                'bgm-yellow': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 2,
                                'bgm-success': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 3,
                                'bg-facebook': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 4,
                                'bgm-blue': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 5,
                                'bgm-mint': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 6,
                                'bgm-primary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 7,
                                'bgm-danger': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 8,
                                'bgm-secondary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 9,
                                'bgm-indigo': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 0
                            }">
                            </div>
                            <a (click)="afficherImage(reaction.file)"
                                class="d-block  clickable" [ngClass]="{'ml-2': !reversed, 'mr-2': reversed}">
                                <div style="width: 150px; height: auto"
                                    class="d-flex align-items-center justify-content-center rounded card-icon-teal">
                                    <img [src]="reaction.file.path" [alt]="reaction.file.name + '_photo'">
                                </div>
                            </a>
                        </li>

                        <!-- Fichier audio -->
                        <li class="list-inline-item my-3 d-flex" [ngClass]="{'flex-row-reverse': reversed}"
                            *ngIf="helper.checkExtension(reaction.file.path, 'mp3')">
                            <div class="tx-30 pd-y-20 pd-x-2" [ngClass]="{
                                'bgm-warning': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 1,
                                'bgm-yellow': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 2,
                                'bgm-success': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 3,
                                'bg-facebook': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 4,
                                'bgm-blue': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 5,
                                'bgm-mint': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 6,
                                'bgm-primary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 7,
                                'bgm-danger': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 8,
                                'bgm-secondary': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 9,
                                'bgm-indigo': helper.parseInt(reaction?.user?.id.toString().slice(-1)) == 0
                            }">
                            </div>
                            <audio controls
                                class="audio-chat" [ngClass]="{'ml-2': !reversed, 'mr-2': reversed}"
                                *ngIf="helper.checkExtension(reaction.file?.path, 'mp3')">
                                <source [src]="reaction.file?.path">
                            </audio>

                        </li>
                    </ul>
                </div>
            </div>

            <!-- Icone action -->
            <div class="d-flex mt-1" [ngClass]="{'mg-l-10 flex-row-reverse': reversed, 'mg-l-10': !reversed}">
                <!-- Partager -->
                <i class=" fal fa-share reaction__icone-action" [ngbTooltip]="'PARTAGER' | translate"></i>

                <!-- Rebondir -->
                <i class="fal fa-comments reaction__icone-action" [ngbTooltip]="'REBONDIR' | translate"
                    (click)="rebondir()"></i>

                <!-- Indexer -->
                <i class="fa-link reaction__icone-action "
                    [ngbTooltip]="'INDEXER' | translate"
                    (click)="indexer(reaction.id)"
                    [ngClass]="{'fas light-blue': reaction.index, 'fal dark-blue': !reaction.index}">
                </i>

                <!-- Noter -->
                <i class="fa-sort-numeric-up reaction__icone-action"
                    [ngbTooltip]="'NOTER' | translate"
                    [autoClose]="'outside'"
                    [placement]="'bottom'"
                    [ngbPopover]="note"
                    [ngClass]="{'fas light-blue': reaction.note, 'fal dark-blue': !reaction.note}">
                </i>
                <!-- Note -->
                <ng-template #note>
                    <app-note-reaction-tache [reaction]="reaction"></app-note-reaction-tache>
                </ng-template>


            </div>
        </div>
    </div>
    <hr>
</div>